Repository koderover/zadig, pull requests merged in 2021-07, with the labels that each got.

#47 hotfix for malfunctioning example
  examples/nginx/yaml/nginx.yaml
Labels: bug

#54 remove unused api
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
Labels: service/aslan

#56 Update contributor workflow.
  community/dev/contributor-workflow.md
Labels: documentation

#57 remove aurora and router phase 1
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/common/service/wechat/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_status.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/config/config.go
  pkg/microservice/cron/core/service/client/sonar.go
  pkg/microservice/cron/core/service/client/stat.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/podexec/config/config.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/security.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/middleware/gin/audit_log.go
  pkg/setting/consts.go
  pkg/setting/types.go
  pkg/shared/client/aslanx/audit_log.go
  pkg/shared/client/aslanx/signature.go
  pkg/shared/handler/base.go
Labels: service/aslan

#61 talk with poetry using service name
  .dockerignore
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/podexec/config/config.go
  pkg/microservice/podexec/core/service/auth.go
  pkg/microservice/podexec/core/service/ws_terminal.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/middleware/gin/auth.go
  pkg/middleware/gin/permission.go
  pkg/setting/consts.go
  pkg/shared/codehost/codehost.go
  pkg/shared/poetry/auth.go
Labels: service/aslan, service/podexec, service/warpdrive

#64 fix aslan client
  pkg/shared/client/aslan/testing.go
Labels: service/aslan

#66 get token from cookie
  pkg/middleware/gin/auth.go
Labels: service/aslan

#68 fix podexec path and get-token api
  pkg/microservice/aslan/core/common/handler/token.go
  pkg/microservice/podexec/core/service/auth.go
  pkg/microservice/podexec/server/server.go
Labels: service/aslan, service/podexec

#70 Remove license check and add enterprise flag
  pkg/config/config.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/setting/consts.go
  pkg/shared/client/aslanx/audit_log.go
  pkg/shared/client/aslanx/signature.go
  pkg/shared/handler/base.go
  pkg/tool/httpclient/client.go
  pkg/tool/httpclient/client_options.go
Labels: service/aslan

#67 add huawei cloud registry support
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/common/service/registry/service_test.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/resp.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/util/sign.go
Labels: service/aslan, service/warpdrive

#74 improve function GetImageInfo
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/tool/pool/pool.go
Labels: service/aslan

#78 delete webhook when project is deleted
  pkg/microservice/aslan/core/common/service/cronjob.go
  pkg/microservice/aslan/core/common/service/pipeline.go
  pkg/microservice/aslan/core/common/service/sets.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/workflow/handler/pipeline.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/tool/httpclient/client.go
Labels: service/aslan

#81 remove incorrect ut
  pkg/microservice/aslan/core/common/service/registry/service_test.go
Labels: service/aslan

#86 fix get images api
  pkg/microservice/aslan/core/common/service/registry/service.go
Labels: bug

#89 increase timeout interval for download api
  pkg/tool/httpclient/client.go
  pkg/tool/httpclient/client_options.go
Labels: service/reaper

#90 refactor github&gitlab loader and syncer
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/git/types.go
  pkg/microservice/aslan/core/common/service/github/repository.go
  pkg/microservice/aslan/core/common/service/gitlab/repository.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/tool/git/github/git.go
  pkg/tool/git/github/repositories.go
  pkg/tool/git/gitlab/commit.go
  pkg/tool/git/gitlab/repo.go
  pkg/util/yaml.go
Labels: service/aslan

#80 support codehub integration
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/types.go
  pkg/microservice/aslan/core/common/service/codehub/client.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_cleaner.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/reaper/core/service/meta/const.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/shared/codehost/codehost.go
  pkg/shared/poetry/codehost.go
  pkg/tool/codehub/branch.go
  pkg/tool/codehub/client.go
  pkg/tool/codehub/escape.go
  pkg/tool/codehub/group.go
  pkg/tool/codehub/repo.go
  pkg/tool/codehub/signer.go
  pkg/tool/codehub/tag.go
  pkg/types/repo.go
Labels: service/aslan, service/reaper, service/warpdrive

#94 staticcheck improvement
  cmd/aslan/main.go
  cmd/cron/main.go
  cmd/hubserver/main.go
  cmd/podexec/main.go
  cmd/predator/main.go
  cmd/warpdrive/main.go
  docker/alpine-base.Dockerfile.inc
  docker/alpine-git-base.Dockerfile.inc
  docker/golang-deps.Dockerfile.inc
  docker/kodespace/aslan.Dockerfile
  docker/kodespace/cron.Dockerfile
  docker/kodespace/jenkins-plugin.Dockerfile
  docker/kodespace/podexec.Dockerfile
  docker/kodespace/warpdrive.Dockerfile
  pkg/microservice/aslan/core/environment/handler/diff.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/project/doc.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/podexec/config/config.go
  pkg/microservice/predator/core/service/log.go
  pkg/microservice/predator/core/service/service.go
  pkg/microservice/predator/executor/executor.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/interface.go
  pkg/setting/consts.go
  pkg/tool/codehub/client.go
  pkg/tool/git/github/client.go
  pkg/tool/kodo/form_upload.go
  pkg/tool/kodo/zone.go
  pkg/util/boolptr/boolptr.go
Labels: service/aslan

#101 update cronjob handler
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/tool/httpclient/client.go
  pkg/tool/httpclient/client_options.go
Labels: service/cron

#100 update pipeline query fields
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/pipeline.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/server/server.go
Labels: service/aslan

#102 upgrade webhook
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/syncer.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#104 Revert "refactor github&gitlab loader and syncer (#90)"
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/git/types.go
  pkg/microservice/aslan/core/common/service/github/repository.go
  pkg/microservice/aslan/core/common/service/gitlab/repository.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/tool/git/github/git.go
  pkg/tool/git/github/repositories.go
  pkg/tool/git/gitlab/commit.go
  pkg/tool/git/gitlab/repo.go
  pkg/util/yaml.go
Labels: service/aslan

#105 improve usage of function ListMaxRevisions
  pkg/microservice/aslan/core/build/service/target.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#93 load codehub service yaml
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/handler/workspace.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/setting/consts.go
  pkg/shared/codehost/codehost.go
  pkg/tool/codehub/branch.go
  pkg/tool/codehub/commit.go
  pkg/tool/codehub/file.go
  pkg/tool/codehub/repo.go
  pkg/tool/codehub/tree.go
Labels: service/aslan

#108 update function ListMaxRevisionsForServices and Find
  pkg/microservice/aslan/core/common/repository/models/config.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/config.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/config.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#113 add provider
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/s3.go
Labels: service/aslan

#115 update the usage of remaining service methods
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/build/service/target.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
Labels: service/aslan

#119 Revert "refactor github&gitlab loader and syncer (#90)"
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/git/types.go
  pkg/microservice/aslan/core/common/service/github/repository.go
  pkg/microservice/aslan/core/common/service/gitlab/repository.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/tool/git/github/git.go
  pkg/tool/git/github/repositories.go
  pkg/tool/git/gitlab/commit.go
  pkg/tool/git/gitlab/repo.go
Labels: service/aslan

#109 commit info err bug
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#121 Data migration
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/migrate.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/syncer.go
Labels: service/aslan

#116 support codehub webhook
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/webhook.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/webhook.go
  pkg/microservice/aslan/core/common/service/codehub/webhook.go
  pkg/microservice/aslan/core/common/service/github/webhook.go
  pkg/microservice/aslan/core/common/service/gitlab/webhook.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/tool/codehub/branch.go
  pkg/tool/codehub/client.go
  pkg/tool/codehub/commit.go
  pkg/tool/codehub/event_parsing.go
  pkg/tool/codehub/file.go
  pkg/tool/codehub/group.go
  pkg/tool/codehub/repo.go
  pkg/tool/codehub/tag.go
  pkg/tool/codehub/tree.go
  pkg/tool/codehub/webhook.go
Labels: service/aslan, service/reaper

#126 develop cli download bug
  pkg/microservice/aslan/core/common/handler/tool.go
Labels: bug, service/aslan

#123 bugfix for no default region
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/it_report.go
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/testing/service/it_report.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/reaper/internal/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/setting/types.go
  pkg/tool/s3/client.go
Labels: service/aslan, service/reaper, service/warpdrive

#129 fix service module load issue
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#122 add more error log
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#132 fix bug:git cancel status
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
Labels: bug, service/warpdrive

#134 fix distincProductServices
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/setting/consts.go
Labels: service/aslan

#137 add task id
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: feature request, service/warpdrive
