Repository koderover/zadig, pull requests merged in 2021-05, with the labels that each got.

#10 added the system aes key to reaper
  lib/microservice/warpdrive/core/service/taskplugin/job.go
  lib/tool/crypto/aes.go
Labels: service/warpdrive

#12 fix updating Github checkrun failed
  lib/microservice/aslan/core/common/service/config_payload.go
Labels: service/aslan

#11 fix convert panic
  lib/tool/kube/serializer/decoder.go
Labels: service/aslan

#13 update 'More about Zadig' link
  README-zh-CN.md
  README.md
Labels: documentation

#16 update kodespace usage for contributor
  community/dev/contributor-workflow.md
Labels: documentation

#18 Service guide optimization
  zadig-portal/src/components/projects/guide/service.vue
  zadig-portal/src/components/projects/service_mgr/common/service_tree.vue
  zadig-portal/src/components/projects/service_mgr/service.vue
Labels: enhancement, service/zadig-portal

#24 fix nil pointer when running task created by github webhook
  lib/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
Labels: bug, service/aslan
