Repository koderover/zadig, pull requests merged in 2021-09, with the labels that each got.

#212 fix new chart load issue
  pkg/cli/upgradeassistant/cmd/migrate/140.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/file_info.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/ilyshin/client.go
  pkg/microservice/aslan/core/common/service/ilyshin/webhook.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/system/handler/announcement.go
  pkg/microservice/aslan/core/system/handler/operation.go
  pkg/microservice/aslan/core/system/repository/models/announcement.go
  pkg/microservice/aslan/core/system/repository/models/operation_log.go
  pkg/microservice/aslan/core/system/repository/mongodb/announcement.go
  pkg/microservice/aslan/core/system/repository/mongodb/operation_log.go
  pkg/microservice/aslan/core/system/service/announcement.go
  pkg/microservice/aslan/core/system/service/operation.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin_workflow_task.go
  pkg/setting/consts.go
  pkg/tool/ilyshin/branch.go
  pkg/tool/ilyshin/client.go
  pkg/tool/ilyshin/commit.go
  pkg/tool/ilyshin/event_parsing.go
  pkg/tool/ilyshin/group_project.go
  pkg/tool/ilyshin/merge_request.go
  pkg/tool/ilyshin/project.go
  pkg/tool/ilyshin/repo.go
  pkg/tool/ilyshin/tag.go
  pkg/tool/ilyshin/webhook.go
  version/version.go
Labels: bug, service/aslan

#216 fix container log
  pkg/microservice/aslan/core/log/service/log.go
Labels: bug, service/aslan

#218 fix: wrong format value
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#217 fix log response format
  pkg/middleware/gin/reponse.go
Labels: service/aslan

#221 bugfix according to the aslan api client change
  pkg/shared/client/aslan/audit_log.go
Labels: bug, service/aslan

#229 optimize the loading logic of the hosting environment
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/workload_stat.go
  pkg/microservice/aslan/core/common/repository/mongodb/workload_stat.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan, service/warpdrive

#234 update container log api
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/shared/client/aslan/logs.go
Labels: service/aslan

#237 support log stream
  pkg/microservice/aslan/core/log/handler/log.go
Labels: service/aslan

#240 Compatible change for the aslan api response
  pkg/microservice/aslan/core/system/service/operation.go
  pkg/shared/client/aslan/audit_log.go
Labels: bug, service/aslan

#241 Optimize code
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/workload_stat.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#257 bugfix for reaper cache error
  pkg/microservice/aslan/core/common/service/config_payload.go
Labels: service/aslan

#258 filter services
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#226 add chart template apis
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/repository/models/chart.go
  pkg/microservice/aslan/core/templatestore/repository/mongodb/chart.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/types.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/shared/handler/base.go
  pkg/util/fs/hash.go
Labels: service/aslan

#261 Fix service list bug
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan, service/warpdrive

#263 code refactor
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#269 delete workloads when delete product
  pkg/microservice/aslan/core/common/repository/mongodb/workload_stat.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#273 Fix helm deploy failed bug
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#276 helm upgrade failed Error logs
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#283 fix config bug
  pkg/microservice/aslan/core/setting/service/user.go
Labels: service/aslan

#284 merge main
  pkg/microservice/aslan/core/setting/service/user.go
Labels: service/aslan

#285 revert change
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#286 model workload define another struct
  pkg/microservice/aslan/core/common/repository/models/workload_stat.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/handler/environment.go
Labels: service/aslan

#288 refactor code
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#289 import ListGroupsBySource
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/util/json/strvals.go
Labels: service/aslan

#292 Improve get service
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan, service/warpdrive

#291 refactor get images
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/shared/kube/wrapper/statefulset.go
Labels: service/aslan

#293 code review
  pkg/microservice/aslan/core/common/service/product.go
Labels: service/aslan

#294 fix pm create namespace bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
Labels: service/aslan

#295 Load hosting env bugfix
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#302 remove blank
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#254 Load hosting env
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/workload_stat.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/workload_stat.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/service_tmpl.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/shared/kube/wrapper/statefulset.go
  pkg/tool/kube/getter/deployment.go
  pkg/tool/kube/getter/statefulset.go
  pkg/util/json/strvals.go
Labels: service/aslan, service/warpdrive

#296 use third party helm client
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/tool/helmclient/client_getter.go
  pkg/tool/helmclient/helmclient.go
  pkg/tool/helmclient/interface.go
  pkg/tool/helmclient/spec.go
  pkg/tool/helmclient/types.go
  pkg/util/fs/file.go
Labels: service/aslan, service/warpdrive

#305 update labeler
  .github/labeler.yml
Labels: common

#287 update chart values set logic when onboarding
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/setting/consts.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#303 update workloads ph2
  go.mod
  pkg/microservice/aslan/core/common/repository/mongodb/workload_stat.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/shared/kube/wrapper/statefulset.go
Labels: service/aslan, common

#313 cloud hosting operation log improve
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/system/handler/private_key.go
Labels: service/aslan

#311 add environment update logic
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/setting/consts.go
Labels: service/aslan, common

#316 replace 工程管理 with 项目管理
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/types/permission/permission.go
Labels: service/aslan

#321 add delete op log
  pkg/microservice/aslan/core/system/handler/private_key.go
Labels: service/aslan

#319 test webhook add pr
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#323 fix bugs when override value contains comma
  pkg/microservice/aslan/core/common/service/render.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#324 fix create env bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#328 fixed init_info api panic bug
  pkg/microservice/aslan/core/environment/service/product.go
Labels: service/aslan

#329 add api GET /project/projects
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/util/json/strvals.go
Labels: service/aslan, common

#327 List Product SSE API Replacements
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/setting/consts.go
Labels: service/aslan, common

#322 add pprof
  pkg/microservice/aslan/server/server.go
Labels: service/aslan

#330 implement get project -v brief
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#312 add index
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
Labels: service/aslan

#326 support customized rules to parse images
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/service_tmpl.go
  pkg/setting/consts.go
  pkg/util/yaml/path_search.go
  pkg/util/yaml/path_search_test.go
  version/version.go
Labels: service/aslan, service/warpdrive, common

#332 fix compile error
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
Labels: service/aslan

#333 skip dirty data
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#334 fix deleted services missing bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#331 yaml err
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#339 fix file read bug
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#337 support custom namespace
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#340 Hotfix/import chart from git
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#341 Feature/helm service name
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/util/helm.go
Labels: service/aslan, service/warpdrive, common

#342 add values.yaml fetch logic
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#344 Hotfix/service parse pattern
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#345 log pkg path
  pkg/tool/log/log.go
Labels: common

#350 Feature/resolve confilicts
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/tool/log/log.go
Labels: service/aslan, common

#349 Helm customize name and custom namespace
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/util/helm.go
Labels: service/aslan, service/warpdrive, common

#348 can not remove mongodb webhook when user manually delete webhook in codehub
  pkg/tool/git/gitlab/client.go
  pkg/tool/git/gitlab/project.go
Labels: common

#353 Hotfix/renderset override
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/environment.go
Labels: service/aslan, service/warpdrive

#354 updateBy lost
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#356 Hotfix/environment update
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan
