Repository koderover/zadig, pull requests merged in 2021-11, with the labels that each got.

#506 remove org_id
  pkg/microservice/aslan/core/common/repository/models/pipeline.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/registry_namespace.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/shared/codehost/codehost.go
  pkg/shared/poetry/codehost.go
  pkg/shared/poetry/jira.go
Labels: service/aslan, service/cron, service/warpdrive, common

#508 Ldap sync user
  go.mod
  pkg/config/config.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/systemconfig/client.go
  pkg/shared/client/systemconfig/systemconfig.go
Labels: common

#496 support the same service import
  pkg/microservice/aslan/core/common/repository/models/services_in_external_env.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/services_in_external_env.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#509 test workflows
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/picket/core/filter/service/workflow.go
Labels: service/aslan

#467 environment variables
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/render_set.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/utils.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/microservice/warpdrive/core/service/types/renderset.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#515 fix restart workflow panic
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#502 init admin user
  pkg/cli/initconfig/cmd/init.go
  pkg/config/config.go
  pkg/microservice/policy/core/handler/role_binding.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/service/role_binding.go
  pkg/setting/consts.go
  pkg/shared/client/policy/policy.go
  pkg/shared/client/user/user.go
Labels: common

#516 optimize service update logic
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#517 remove ilyshin code
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/types.go
  pkg/microservice/aslan/core/common/service/ilyshin/client.go
  pkg/microservice/aslan/core/common/service/ilyshin/webhook.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/reaper/core/service/meta/const.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/setting/consts.go
  pkg/shared/codehost/codehost.go
  pkg/tool/ilyshin/branch.go
  pkg/tool/ilyshin/client.go
  pkg/tool/ilyshin/commit.go
  pkg/tool/ilyshin/event_parsing.go
  pkg/tool/ilyshin/group_project.go
  pkg/tool/ilyshin/merge_request.go
  pkg/tool/ilyshin/project.go
  pkg/tool/ilyshin/repo.go
  pkg/tool/ilyshin/tag.go
  pkg/tool/ilyshin/webhook.go
Labels: service/aslan, service/reaper, common

#513 support to modify the order of helm services
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#519 Bugfix/copy chart bug
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#521 Modify code reference
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#524 add account and identityType for rolebindings
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/picket/core/filter/service/rolebinding.go
  pkg/shared/client/user/user.go
  pkg/shared/poetry/check.go
Labels: service/aslan, common

#485 service variable
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/repository/models/chart.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/types.go
  pkg/setting/consts.go
Labels: service/aslan, common

#523 fix environment variable update bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#527 fix get-hook-secert
  pkg/microservice/aslan/core/common/service/git/hook.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
Labels: service/aslan

#526 webhook branch supports regular expressions
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#529 Feature/fail service retry
  go.mod
  go.sum
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/hubagent/core/service/client.go
Labels: service/aslan, service/hubagent

#522 Ldap sync user
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/systemconfig/systemconfig.go
Labels: common

#533 change defines of preset chart template variables
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/setting/consts.go
Labels: service/aslan, common

#532 regular expression validation
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#530 add signup、retrieve、reset、delete
  go.mod
  go.sum
  pkg/microservice/user/config/config.go
  pkg/microservice/user/config/consts.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service/user/retrieve.html
  pkg/microservice/user/core/service/user/user.go
  pkg/microservice/user/server/rest/router.go
  pkg/setting/consts.go
  pkg/tool/mail/mail.go
Labels: common

#534 added get yaml template variable API & delete save variable api
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
Labels: service/aslan

#535 Init db
  go.mod
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/init/mysql.sql
  pkg/tool/gorm/client.go
Labels: common

#536 update remote dialer
  pkg/microservice/hubagent/core/service/client.go
  pkg/microservice/hubserver/core/service/service.go
  pkg/tool/remotedialer/client.go
  pkg/tool/remotedialer/client_dialer.go
  pkg/tool/remotedialer/connection.go
  pkg/tool/remotedialer/dialer.go
  pkg/tool/remotedialer/message.go
  pkg/tool/remotedialer/peer.go
  pkg/tool/remotedialer/readbuffer.go
  pkg/tool/remotedialer/server.go
  pkg/tool/remotedialer/session.go
  pkg/tool/remotedialer/session_manager.go
  pkg/tool/remotedialer/session_windows.go
  pkg/tool/remotedialer/types.go
  pkg/tool/remotedialer/wsconn.go
Labels: service/hubserver, service/hubagent, common

#539 create project with admins
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/picket/core/filter/handler/project.go
  pkg/microservice/picket/core/filter/service/project.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/role_binding.go
  pkg/setting/consts.go
Labels: service/aslan, common

#543 User email
  pkg/microservice/user/config/config.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service/user/user.go
  pkg/microservice/user/server/rest/router.go
  pkg/setting/consts.go
  pkg/shared/client/systemconfig/systemconfig.go
Labels: common

#545 ignore error for old incomplete service data
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/shared/codehost/codehost.go
Labels: service/aslan, common

#546 fix s3 bug
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#548 support token in qs
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
Labels: service/aslan

#549 merge main to nga
  go.mod
  go.sum
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/repository/models/chart.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/types.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/hubagent/core/service/client.go
  pkg/microservice/hubserver/core/service/service.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/shared/codehost/codehost.go
  pkg/tool/remotedialer/client.go
  pkg/tool/remotedialer/client_dialer.go
  pkg/tool/remotedialer/connection.go
  pkg/tool/remotedialer/dialer.go
  pkg/tool/remotedialer/message.go
  pkg/tool/remotedialer/peer.go
  pkg/tool/remotedialer/readbuffer.go
  pkg/tool/remotedialer/server.go
  pkg/tool/remotedialer/session.go
  pkg/tool/remotedialer/session_manager.go
  pkg/tool/remotedialer/session_windows.go
  pkg/tool/remotedialer/types.go
  pkg/tool/remotedialer/wsconn.go
  version/version.go
Labels: service/aslan, service/reaper, service/hubserver, service/hubagent, common

#550 return service name to client after chart imported
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#551 Release 1.6.0
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#552 Revert "Release 1.6.0"
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#562 fix modify hosting env services bug
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#572 add refresh webhook secret api
  pkg/microservice/aslan/core/common/service/github/webhook.go
  pkg/microservice/aslan/core/common/service/gitlab/webhook.go
  pkg/tool/git/github/repositories.go
  pkg/tool/git/gitlab/project.go
Labels: service/aslan, common

#566 codehost client
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gerrit/gerrit.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/shared/config/features.go
Labels: service/aslan, common

#575 aslan build fail
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gerrit/gerrit.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
Labels: service/aslan

#576 add update path
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/microservice/aslan/core/common/repository/mongodb/webhook.go
  pkg/microservice/aslan/core/common/service/github/webhook.go
  pkg/microservice/aslan/core/common/service/gitlab/webhook.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
  version/version.go
Labels: service/aslan, common

#579 improve codehost client
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gerrit/gerrit.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common

#581 poetry cleanup
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/utils.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/podexec/config/config.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/setting/types.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/shared/client/systemconfig/jira.go
  pkg/shared/codehost/codehost.go
  pkg/shared/poetry/client.go
  pkg/shared/poetry/codehost.go
Labels: service/aslan, service/podexec, service/warpdrive, common

#571 the system supports adding external links
  pkg/microservice/aslan/core/common/repository/models/external_link.go
  pkg/microservice/aslan/core/common/repository/mongodb/external_link.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/external_link.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/external_link.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#585 fix log file acquire bug
  pkg/microservice/aslan/core/log/service/log.go
  pkg/tool/s3/client.go
Labels: service/aslan, common

#588 add api for checking if 3rd-party login is enabled
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service/login/third_party.go
  pkg/microservice/user/core/service/user/user.go
  pkg/microservice/user/server/rest/router.go
  pkg/shared/client/systemconfig/connector.go
  pkg/shared/client/systemconfig/email.go
Labels: common

#591 add public urls
  pkg/microservice/aslan/internal/cache/cache.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/aslan

#590 add policy
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#594 * filter improve
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/picket/core/filter/service/project.go
Labels: service/aslan

#596 fix github webhook
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/tool/git/github/repositories.go
Labels: service/aslan, common

#600 fix podexec permission
  pkg/microservice/aslan/core/environment/handler/policy.yaml
Labels: service/aslan

#595 fix helm deploy timeout bug
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/shared/kube/wrapper/statefulset.go
Labels: service/warpdrive, common

#604 fix permissions
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/aslan

#607 change productName to projectName
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/workflow/handler/build.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/picket/core/public/handler/public.go
Labels: service/aslan

#608 return service name to client after chart imported
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#609 fix permissions
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
  pkg/microservice/picket/client/aslan/project.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/aslan

#612 Fix the artifact file download problem
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
Labels: service/reaper

#610 add new filter for projects
  pkg/microservice/aslan/core/delivery/handler/product.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/service/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#611 refactor role show
  pkg/cli/initconfig/cmd/project-admin.yaml
  pkg/cli/initconfig/cmd/read-only.yaml
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/role.go
  pkg/setting/consts.go
Labels: common

#614 fix auto create workflow name bug
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#615 webhook rollback
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/cli/upgradeassistant/internal/repository/models/organization.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/organization.go
  pkg/microservice/aslan/core/common/service/github/webhook.go
  pkg/microservice/aslan/core/common/service/gitlab/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
Labels: service/aslan

#619 jira bug
  pkg/shared/client/systemconfig/jira.go
Labels: common

#618 add service policy yaml url
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/policy.yaml
Labels: service/aslan

#599 fix dockerfile panic error
  pkg/microservice/aslan/core/common/service/template_store.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#621 add policy rules
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#623 add missing policy rule
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#626 fixed conflict resolve problems
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
Labels: service/aslan

#635 fix rollback issue
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/cli/upgradeassistant/internal/repository/models/codehost.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
Labels: service/config

#639 external system integration module
  pkg/microservice/aslan/core/common/repository/models/external_system.go
  pkg/microservice/aslan/core/common/repository/mongodb/external_system.go
  pkg/microservice/aslan/core/system/handler/external_system.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/external_system.go
  pkg/microservice/aslan/core/system/service/types.go
Labels: service/aslan

#640 workflow V3 data implementation
  pkg/microservice/aslan/core/common/repository/models/workflow_v3.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v3.go
Labels: service/aslan

#622 remove unused code & fix errcheck lint
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/tool/remotedialer/server.go
Labels: service/aslan, common

#643 fix thirdparty network error
  pkg/microservice/user/core/handler/login/third_party.go
Labels: service/user

#642 Create workflow v3 task
  GOVERNANCE.md
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/models/task/trigger.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v3.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v3.go
  pkg/microservice/aslan/core/common/service/base/convert.go
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/common/service/workflow_v3.go
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/sort.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v3.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/config/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/trigger.go
  pkg/setting/consts.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#647 fix error be overrided bug
  pkg/util/fs/file.go
Labels: common

#650 modify workflowV3 task resp
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
Labels: service/aslan

#648 add get env api
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v3.go
Labels: service/aslan

#654 zadig openAPI for callback
  pkg/microservice/aslan/core/common/handler/callback.go
  pkg/microservice/aslan/core/common/repository/models/callback_request.go
  pkg/microservice/aslan/core/common/repository/mongodb/callback_request.go
  pkg/microservice/aslan/core/common/service/callback.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#628 codehost json
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: common, service/config

#634 add filter for workflow list
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_stat.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/cron/core/service/testing.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/workflow.go
  pkg/microservice/picket/core/filter/service/workflow.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
Labels: service/aslan, service/cron, service/picket, service/policy

#646 optimize trigger stage
  pkg/microservice/aslan/core/common/repository/models/task/trigger.go
  pkg/microservice/aslan/core/common/repository/mongodb/callback_request.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/microservice/warpdrive/core/service/types/task/trigger.go
  pkg/tool/httpclient/client.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#656 make callback API public
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#657 fix thirdparty network error
  pkg/microservice/user/core/handler/login/third_party.go
Labels: service/user

#659 cherry-pick from main
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: common, service/config

#662 fix compile bug
  pkg/microservice/systemconfig/core/features/repository/models/feature.go
Labels: service/config

#658 add attribute check in rego
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/rego/test_data/bindings/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_data/exemptions/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_data/resources/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_data/roles/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_input.json
Labels: service/policy

#663 add resource filter rules
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/rego/test_data/exemptions/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_data/resources/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_data/roles/data.json
  pkg/microservice/policy/core/service/bundle/rego/test_input.json
Labels: service/policy

#624 custom cache dir support custom variable
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#665 resource bundle api
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/bundle.go
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/tool/opa/bundle.go
Labels: service/aslan, common, service/policy

#209 add version info for charts used by services
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/environment.go
Labels: service/aslan, service/warpdrive, common

#664 generate kubeconfig
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/setting/handler/user.go
  pkg/microservice/aslan/core/setting/service/user.go
  pkg/microservice/picket/client/aslan/kubeconfig.go
  pkg/microservice/picket/config/consts.go
  pkg/microservice/picket/core/filter/handler/kubeconfig.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/service/kubeconfig.go
  pkg/microservice/picket/core/filter/service/workflow.go
  pkg/tool/kube/getter/role.go
  pkg/tool/kube/updater/clusterrole.go
  pkg/tool/kube/updater/rolebinding.go
Labels: service/aslan, common, service/picket

#678 generate stable bundle
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
Labels: service/policy

#672 clean rolebindings when delete user
  pkg/microservice/picket/client/policy/rolebinding.go
  pkg/microservice/picket/client/user/client.go
  pkg/microservice/picket/client/user/user.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/users.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/policy/core/handler/role_binding.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
  pkg/microservice/policy/core/service/role_binding.go
Labels: service/picket, service/policy

#666 Customize resource specifications
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/models/task/jenkins.go
  pkg/microservice/aslan/core/common/repository/models/task/testing.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/job_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/jenkins.go
  pkg/microservice/warpdrive/core/service/types/task/testing.go
  pkg/setting/types.go
Labels: service/aslan, service/warpdrive, common

#673 Increase the processing of file logic
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/util/fs/fs.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#679 fix user_allowed_projects rule
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
Labels: service/policy

#682 K8s YAML template permission remove
  pkg/microservice/aslan/core/project/handler/policy.yaml
Labels: service/aslan
