Repository koderover/zadig, pull requests merged in 2021-08, with the labels that each got.

#118 add http interface for get pod log by http
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
Labels: feature request, service/aslan

#140 update service counter & fix bugs
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/migrate.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/setting/consts.go
Labels: service/aslan

#145 make function sendRequest become more robustness
  pkg/tool/codehub/client.go
Labels: service/aslan

#148 add upgrade assistant cli
  cmd/upgradeassistant/main.go
  docker/ua.Dockerfile.template
  go.mod
  go.sum
  image.Makefile
  pkg/cli/upgradeassistant/cmd/migrate.go
  pkg/cli/upgradeassistant/cmd/migrate/migrate.go
  pkg/cli/upgradeassistant/cmd/root.go
  pkg/cli/upgradeassistant/executor/executor.go
  pkg/cli/upgradeassistant/internal/upgradepath/dag.go
  pkg/cli/upgradeassistant/internal/upgradepath/dag_test.go
  pkg/cli/upgradeassistant/internal/upgradepath/upgradepath_suite_test.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/migrate.go
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#158 modify yaml error message
  pkg/microservice/aslan/core/service/handler/service.go
Labels: bug, service/aslan

#160 bug fix for duplicated service names support
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/system/service/proxy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#170 adjust target version to 1.3.1
  pkg/cli/upgradeassistant/cmd/migrate/migrate.go
  pkg/cli/upgradeassistant/internal/upgradepath/dag.go
Labels: service/aslan

#177 pm hostID bug
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
Labels: bug

#183 skip if counter is updated & fix UpdateAll
  pkg/cli/upgradeassistant/cmd/migrate.go
  pkg/cli/upgradeassistant/cmd/migrate/migrate.go
  pkg/cli/upgradeassistant/cmd/root.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
Labels: service/aslan

#173 multiarch dockerfile & corresponding makefile
  Makefile
  docker/base/amd64/alpine-git.Dockerfile
  docker/base/amd64/alpine.Dockerfile
  docker/base/amd64/golang.Dockerfile
  docker/base/amd64/nginx.Dockerfile
  docker/base/amd64/ubuntu-bionic.Dockerfile
  docker/base/amd64/ubuntu-focal.Dockerfile
  docker/base/amd64/ubuntu-xenial.Dockerfile
  docker/base/arm64/alpine-git.Dockerfile
  docker/base/arm64/alpine.Dockerfile
  docker/base/arm64/golang.Dockerfile
  docker/base/arm64/nginx.Dockerfile
  docker/base/arm64/ubuntu-bionic.Dockerfile
  docker/base/arm64/ubuntu-focal.Dockerfile
  docker/base/arm64/ubuntu-xenial.Dockerfile
  docker/image-tag
  docker/kodespace/aslan.Dockerfile
  docker/kodespace/cron.Dockerfile
  docker/kodespace/jenkins-plugin.Dockerfile
  docker/kodespace/podexec.Dockerfile
  docker/kodespace/warpdrive.Dockerfile
  docker/reaper-plugin.bionic.Dockerfile.template
  docker/service/aslan.Dockerfile
  docker/service/cron.Dockerfile
  docker/service/hub-agent.Dockerfile
  docker/service/hub-server.Dockerfile
  docker/service/jenkins-plugin.Dockerfile
  docker/service/podexec.Dockerfile
  docker/service/predator-plugin.Dockerfile
  docker/service/reaper-plugin-bionic.Dockerfile
  docker/service/reaper-plugin-focal.Dockerfile
  docker/service/reaper-plugin-xenial.Dockerfile
  docker/service/resource-server.Dockerfile
  docker/service/ua.Dockerfile
  docker/service/warpdrive.Dockerfile
  image.Makefile
Labels: service/aslan

#179 feature: cron prob query service by basic_facility
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/environment/handler/revision.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/cron/core/service/client/env.go
Labels: feature request, service/aslan, service/cron

#180 feature: helm and deposit env add page list feature
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/delivery/handler/artifact.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: feature request, service/aslan

#184 bug: add middleware to handle response and panic
  pkg/microservice/aslan/server/rest/server.go
  pkg/middleware/gin/reponse.go
  pkg/setting/consts.go
  pkg/shared/handler/base.go
Labels: bug, service/aslan

#187 Announcement & Operation log feature for Zadig
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/announcement.go
  pkg/microservice/aslan/core/system/handler/operation.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/repository/models/announcement.go
  pkg/microservice/aslan/core/system/repository/models/operation_log.go
  pkg/microservice/aslan/core/system/repository/mongodb/announcement.go
  pkg/microservice/aslan/core/system/repository/mongodb/operation_log.go
  pkg/microservice/aslan/core/system/service/announcement.go
  pkg/microservice/aslan/core/system/service/operation.go
  pkg/middleware/gin/audit_log.go
  pkg/shared/client/aslan/audit_log.go
  pkg/shared/handler/base.go
Labels: service/aslan

#153 add ilyshin intergration and load service yaml and webhook
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/types.go
  pkg/microservice/aslan/core/common/service/ilyshin/client.go
  pkg/microservice/aslan/core/common/service/ilyshin/webhook.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin.go
  pkg/microservice/aslan/core/workflow/service/webhook/ilyshin_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/reaper/core/service/meta/const.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/setting/consts.go
  pkg/shared/codehost/codehost.go
  pkg/tool/git/gitlab/project.go
  pkg/tool/httpclient/client_options.go
  pkg/tool/ilyshin/branch.go
  pkg/tool/ilyshin/client.go
  pkg/tool/ilyshin/commit.go
  pkg/tool/ilyshin/event_parsing.go
  pkg/tool/ilyshin/group_project.go
  pkg/tool/ilyshin/merge_request.go
  pkg/tool/ilyshin/project.go
  pkg/tool/ilyshin/repo.go
  pkg/tool/ilyshin/tag.go
  pkg/tool/ilyshin/webhook.go
Labels: service/aslan, service/reaper

#203 load chart from source when cache failed
  pkg/cli/upgradeassistant/cmd/migrate/140.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/tool/s3/client.go
Labels: service/aslan

#207 fixed a logic deadlock when using custom images
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#198 pm don't create namespace
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: feature request, service/aslan
