Repository koderover/zadig, pull requests merged in 2021-12, with the labels that each got.

#683 add missing policy
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#680 store resource bundle config in configmap
  pkg/microservice/policy/core/service/bundle/resource_bundle.go
Labels: service/policy

#677 add resource to prevent delete namespace
  pkg/microservice/aslan/core/setting/service/user.go
  pkg/microservice/picket/core/filter/service/kubeconfig.go
Labels: service/aslan, service/picket

#681 expose local cluster
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/multicluster/service/bundle.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/setting/consts.go
Labels: service/aslan, common

#671 Init Job service performs multiple Error pods
  go.mod
  go.sum
  pkg/cli/initconfig/cmd/healthz.go
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/policy/core/handler/healthz.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/service.go
  pkg/microservice/user/core/handler/healthz.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service.go
  pkg/shared/client/policy/policy.go
  pkg/shared/client/user/user.go
Labels: common, service/policy, service/user

#691 fix workflow reset_image not working bug
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#692 fix service duplicate bug
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#697 fix pod filter logic
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#693 workflow add description
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#708 test add $services params
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#705 fix get estimate renderset error bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#698 helm chart packager
  Makefile
  cmd/packager/main.go
  docker/service/packager-plugin.Dockerfile
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/task/artifact_package.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/service/base/convert.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/packager/config/config.go
  pkg/microservice/packager/core/service/packager.go
  pkg/microservice/packager/core/service/service.go
  pkg/microservice/packager/executor/executor.go
  pkg/microservice/warpdrive/config/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_package.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/warpdrive/core/service/types/packager.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/artifact_package.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/setting/consts.go
Labels: service/aslan, service/warpdrive, common

#704 different environments support different registry
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
Labels: service/aslan, service/warpdrive

#719 filter k8s default namespaces
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#703 do not panic for remote cluster
  pkg/tool/kube/client/cluster.go
Labels: common

#717 Add init to aslan dependent health check
  pkg/cli/initconfig/cmd/healthz.go
  pkg/shared/client/aslan/healthz.go
Labels: common

#699 create delivery version
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/models/delivery_version.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/task/artifact_package.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/helm_repo.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/docker.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/packager/core/service/packager.go
  pkg/microservice/packager/core/service/service.go
  pkg/microservice/warpdrive/core/service/types/task/artifact_package.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/warpdrive, common

#721 merge feature Image registry to main
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
Labels: service/aslan, service/warpdrive

#722 Revert "create delivery version"
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/models/delivery_version.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/task/artifact_package.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/helm_repo.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/docker.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/packager/core/service/packager.go
  pkg/microservice/packager/core/service/service.go
  pkg/microservice/warpdrive/core/service/types/task/artifact_package.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/warpdrive, common

#724 Revert "Revert "create delivery version""
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/models/delivery_version.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/task/artifact_package.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/helm_repo.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/docker.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/packager/core/service/packager.go
  pkg/microservice/packager/core/service/service.go
  pkg/microservice/warpdrive/core/service/types/task/artifact_package.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/warpdrive, common

#723 Feature/delivery version
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/service/docker.go
Labels: service/aslan

#726 fix cvm bug
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#727 fix disordered build info bug
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#731 fix sse log bug
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#733 duplicate of commit 6bc91d0668556b6e0e493f1e47e1fdfceb7e57c6
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#690 add test webook for github
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#734 fix pod debug bug
  pkg/microservice/podexec/core/service/ws_terminal.go
Labels: service/podexec

#718 fix problem of node log hang in build phase
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#738 externally exposed artifact interface
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/delivery/handler/artifact.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/service/artifact.go
  pkg/microservice/picket/client/aslan/artifact.go
  pkg/microservice/picket/client/aslan/delivery.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/handler/router.go
  pkg/microservice/picket/core/public/service/public.go
Labels: service/aslan, service/picket

#736 workflowtask
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/handler/router.go
Labels: service/aslan, service/picket

#739 Release 1.7.1 develop workflow task bugfix
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/handler/router.go
Labels: service/aslan, service/picket

#735 github status api is not working
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
Labels: service/warpdrive

#741 external workflow interface supports helm type
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/picket/core/public/handler/router.go
Labels: service/aslan, service/picket

#744 find out where the log hang lives
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#748 change log level of reaper
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#747 remove update secret when create or update registry
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#716 Support for environment replication at helm deployment
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#754 fix helm delivery error
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/helm.go
Labels: service/aslan

#751 fix service host missing bug
  pkg/microservice/aslan/core/environment/service/environment_group.go
Labels: service/aslan

#725 codehost auth refactor
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/internal/oauth/oauth.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
Labels: service/config

#745 whether to add a service display option in the workflow
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#769 remove permission
  pkg/microservice/aslan/core/project/handler/policy.yaml
Labels: service/aslan

#753 update rolebinding naming rule
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/upgradeassistant/cmd/migrate.go
  pkg/cli/upgradeassistant/cmd/migrate/180.go
  pkg/cli/upgradeassistant/internal/upgradepath/versions.go
  pkg/config/config.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/picket/client/aslan/artifact.go
  pkg/microservice/picket/client/aslan/delivery.go
  pkg/microservice/picket/core/filter/service/project.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/role_binding.go
  pkg/setting/consts.go
  pkg/shared/client/policy/client.go
Labels: service/aslan, common, service/picket, service/policy

#768 add template store rules
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#771 format image pull secret name
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#774 fix assignement to nil map
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#776 Drop unnecessary use of the blank identifier
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/picket/core/filter/service/codehost.go
Labels: service/aslan, service/picket

#764 bugfix: delivery version create fail
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/helm.go
Labels: service/aslan

#781 added authz for common workflow
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#740 When the workflow decides to roll back the image, the image may not be correct
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#792 fix: remove the unsed global variable
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#794 add missing rules
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
Labels: service/aslan

#795 fix registry get wrong product
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#798 remove permission for GET api/aslan/system/registry/namespaces
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#799 modify workflow webhook
  pkg/microservice/aslan/core/common/repository/models/workflow.go
Labels: service/aslan

#808 fix name re-use error when install/upgrade helm charts
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
Labels: service/aslan

#809 add delivery version finish hook notify
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#805 Workflow supports task execution that only configures and distributes
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/handler/router.go
  pkg/microservice/picket/core/public/service/public.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/setting/consts.go
Labels: service/aslan, service/cron, service/warpdrive, common, service/picket

#810 modify error message
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#812 fix(permission):adding exception routes for '/workflows'
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#814 fix(permission):adding exception routes '/workflows'
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#816 openapi distribution workflow adds service name field
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#813 Feature/openapi testing data
  pkg/microservice/picket/core/public/service/public.go
Labels: service/picket

#818 The workflow trigger configuration supports trigger-yaml As Code in the GitLab Code repository
  examples/webhook/trigger_example.yaml
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/trigger_yaml.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#821 fix open api callback not working bug
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#820 fix webhook auto_cancel &&deploy error&& ErrNoDocuments
  pkg/microservice/aslan/core/common/repository/mongodb/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/trigger_yaml.go
Labels: service/aslan

#822 fix open api callback not working bug
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#815 jenkins plugin adds registry update
  pkg/microservice/aslan/core/common/repository/models/task/jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/jenkins.go
Labels: service/aslan, service/warpdrive

#791 move pm host config to env
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/service.go
Labels: service/aslan, service/cron

#746 codehost branch add page
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/tool/git/gitlab/branch.go
Labels: service/aslan, common

#825 fix different services triggered by webhook to build and deploy to the same environment in parallel
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
Labels: service/aslan

#803 chore: solve the problem of importing the same package multiple times
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/setting/service/user.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/picket/client/aslan/delivery.go
  pkg/microservice/systemconfig/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
Labels: service/aslan, service/warpdrive, service/config, service/picket

#833 remove list all renderset logic
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#835 Release 20211229
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
Labels: service/aslan

#836 fix webhook triggers Influence each other
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#827 pm hosts config not show when onboarding
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#840 remove a feature which automatically add resource spec to the template
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#837 update get docker registry url logic
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/util/url.go
Labels: service/aslan, common

#844 fix webhook Influence each other(cherry-pick)
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#841 added picket filter api for workflow V3 to avoid authorization problem
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/workflow.go
  pkg/microservice/picket/core/filter/service/workflow.go
Labels: service/picket

#842 optimize error display when pushing/pulling image for helm delivery version
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/packager/core/service/service.go
Labels: service/aslan

#845 fix log hang during building artifact
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#843 Clusters can be selected in the project
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/models/project_cluster_relation.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/projectClusterRelation.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/trigger_yaml.go
Labels: service/aslan

#847 replace image registry when build helm delivery version
  pkg/microservice/aslan/core/common/service/image.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#846 use integrated object storage instead of the default zadig-minio
  pkg/microservice/aslan/core/common/service/config_payload.go
Labels: service/aslan

#832 AWS ECR support
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/util/url.go
Labels: service/aslan, service/warpdrive, common
