Repository koderover/zadig, pull requests merged in 2022-02, with the labels that each got.

#1017 fix bug of inconsistent secret name
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#1020 fix Sprintf type error
  pkg/microservice/systemconfig/core/codehost/internal/oauth/oauth.go
Labels: service/config

#1028 update collaboration k8s sync
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
  pkg/microservice/policy/core/service/policy.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common, service/policy

#1030 fix sync collaboration bugs
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1024 update helm install or upgrade logic
  go.mod
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#1038 Clean up the jobs generated by creating the helm Chart version
  pkg/microservice/aslan/core/cron/service/cron.go
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#1025 Keep the image when updating the environment when the service is never updated
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1039 optimize batch helm upgrade operation
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1031 delete project first delete collaboration, labels ,labelbindings,policies
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/label/repository/models/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/policy/core/repository/mongodb/policy_binding.go
  pkg/microservice/policy/core/service/policy.go
Labels: service/aslan, service/policy

#1041 add policymeta
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/policy/core/repository/models/common.go
  pkg/microservice/policy/core/service/role.go
  pkg/shared/client/policy/role.go
Labels: service/aslan, common, service/policy

#1044 fix bug of dockerhost splicing when multiple services are built at the same time
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/warpdrive

#1047 local cluster add schedule strategy
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#1048 ua delete lb generate & url bug
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/microservice/aslan/core/environment/handler/policy.yaml
Labels: service/aslan

#1049 merge main
  go.mod
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/cron/service/cron.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#1027 fix status bug
  pkg/microservice/aslan/core/common/service/github/status.go
  pkg/microservice/warpdrive/core/service/taskplugin/github/status.go
Labels: service/aslan, service/warpdrive

#1037 helm service add webhook
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1046 code information is branch's problem when building with tag
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1036 Bugfix/helm version hook
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#1051 set default history max parameter
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#1023 Improvements for slow cluster resource querys
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/status.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/setting/consts.go
  pkg/shared/kube/client/client.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/getter/deployment.go
  pkg/tool/kube/getter/ingress.go
  pkg/tool/kube/getter/pod.go
  pkg/tool/kube/getter/service.go
  pkg/tool/kube/getter/statefulset.go
  pkg/tool/kube/informer/informer.go
  pkg/tool/kube/multicluster/service.go
Labels: service/aslan, common

#1054 compatibility fix for creating environment on existing namespace
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1057 Bugfix/service seaching pattern
  pkg/util/yaml/path_search.go
  pkg/util/yaml/path_search_test.go
Labels: common

#1062 When a chart contains multiple services, the update environment cannot use a mirror of the latest service template
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1065 Webhook Trigger YamL logic optimization
  examples/webhook/trigger_example.yaml
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/trigger_yaml.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1066 gitlab thread resolved bug
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1069 protection when pre_build.cluster_id and pre_test.cluster_id is empty
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1070 Set the openAPI token
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/internal/repository/orm/addmysql.sql
  pkg/cli/upgradeassistant/internal/repository/orm/db.go
  pkg/cli/upgradeassistant/internal/repository/orm/dropmysql.sql
  pkg/microservice/user/core/repository/models/user.go
  pkg/microservice/user/core/service/init/mysql.sql
  pkg/microservice/user/core/service/user/user.go
Labels: service/user

#1061 Feature: workflow & build concurrency settings
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/concurrency.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/concurrency.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/warpdrive/core/service/taskcontroller/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/shared/client/aslan/workflow.go
Labels: service/aslan, service/warpdrive, common

#1072 fix testing status for IM
  pkg/microservice/aslan/core/common/repository/models/notify.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/user/core/service/init/mysql.sql
  pkg/microservice/warpdrive/core/service/common/types.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/types/notify.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
Labels: service/aslan, service/warpdrive, service/user

#1074 fix bug of scheduling build/test tasks
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/multicluster/service/constants.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/setting/consts.go
Labels: service/aslan, service/warpdrive, common

#1075 sshs bug
  pkg/microservice/aslan/core/common/repository/models/build.go
Labels: service/aslan

#1068 fix the same service module bug
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#1073 support get html test report
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/warpdrive

#1081 add 2 return deploy types for listing project
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#1089 Dealing with cluster scheduling issues
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
Labels: service/aslan, service/warpdrive

#1086 support Prepare status & optimize logs of build process
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/reaper/executor/executor.go
  pkg/microservice/warpdrive/config/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/reaper, service/warpdrive

#1091 fix bug of displaying real-time build logs
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#1088 Bugfix webhook can't trigger synchronization of service templates
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1087 add apis to support import helm serivces from chart repo
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/setting/consts.go
  pkg/tool/helmclient/chartclient.go
Labels: service/aslan, common

#1083 Add proxy support for all git repositories
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/cli/upgradeassistant/internal/repository/models/codehost.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/service/codehub/client.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/github/client.go
  pkg/microservice/aslan/core/common/service/gitlab/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/codehub/client.go
  pkg/tool/gerrit/client.go
  pkg/tool/git/gitlab/client.go
  pkg/types/repo.go
Labels: service/aslan, service/reaper, service/warpdrive, common, service/config

#1090 Remove the limit of creating environment on existing namespace for helm
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
Labels: service/aslan

#1076 Support importing helmchart from gerrit
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/util/file.go
Labels: service/aslan, common

#1095 decide proxy settings on runtime instead of saving it in db
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/types/repo.go
Labels: service/aslan

#1096 fix update Product Image bug Service name Splicing
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1097 init system type
  pkg/cli/initconfig/cmd/admin.yaml
  pkg/cli/initconfig/cmd/contributor.yaml
  pkg/cli/initconfig/cmd/project-admin.yaml
  pkg/cli/initconfig/cmd/read-only.yaml
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/microservice/policy/core/service/role.go
  pkg/shared/client/policy/role.go
Labels: common, service/policy

#1099 Fix policy not showing update time and description
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/policy/core/repository/models/policy.go
  pkg/microservice/policy/core/repository/mongodb/policy.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/policy.go
  pkg/shared/client/policy/policy.go
Labels: service/aslan, common, service/policy

#1098 bugfix for proxy settings
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/aslan, service/reaper
