Repository koderover/zadig, pull requests merged in 2022-04, with the labels that each got.

#1252 ensure entension stage
  pkg/microservice/aslan/core/common/repository/models/task/extension.go
  pkg/microservice/warpdrive/core/service/taskplugin/extension.go
  pkg/microservice/warpdrive/core/service/types/task/extension.go
  pkg/microservice/warpdrive/core/service/types/task/trigger.go
Labels: service/aslan, service/warpdrive

#1256 Handling service component name rendering and display problems
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1257 restrict deletion of registry, if used in the environment
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#1260 restrict deletion of registry, if used in the environment
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#1259 optimize information indicating that a namespace may be in the terminating state during environment creation
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1255 export all files in the test result export path
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/setting/consts.go
  pkg/tool/s3/client.go
Labels: service/aslan, service/reaper, common

#1197 jenkins default imageName
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/task/jenkins.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/core/service/types.go
  pkg/types/build.go
Labels: service/aslan, service/cron

#1265 fix artifact image miss bug
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1264 test workflow supports gitee code source to trigger webhook
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
Labels: service/aslan

#1267 Compatible with the problem that the name of the old data imageName is empty
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1234 save values yaml source data
  pkg/microservice/aslan/core/common/repository/models/render_set.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/setting/consts.go
Labels: service/aslan, common

#1269 shared env config permission
  pkg/microservice/aslan/core/environment/handler/policy.yaml
Labels: service/aslan

#1268 sync values.yaml from git repo
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/revision.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/service.go
  pkg/setting/consts.go
  pkg/util/yaml/compare.go
Labels: service/aslan, service/cron, common

#1270 Hotfix/compile error
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1249 Handle the problem that the error in the git interface is not returned
  pkg/tool/git/github/apps.go
  pkg/tool/git/github/organizations.go
  pkg/tool/git/github/pull_requests.go
  pkg/tool/git/github/repositories.go
  pkg/tool/git/gitlab/branch.go
  pkg/tool/git/gitlab/group_project.go
  pkg/tool/git/gitlab/merge_request.go
  pkg/tool/git/gitlab/namespace.go
  pkg/tool/git/gitlab/project.go
  pkg/tool/git/gitlab/repo.go
  pkg/tool/git/gitlab/tag.go
Labels: common

#1272 fix environment Configuration Management
  pkg/microservice/aslan/core/environment/service/ingress.go
Labels: service/aslan

#1273 Fix a bug where UploadStorageInfo may be nil for stages other than build
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#1274 check length of .status.containerStatuses to avoid panic
  pkg/tool/kube/containerlog/log.go
Labels: common

#1275 dont copy .nodePort in port item to avoid exception when update NodePort Service
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#1276 jenkins bug
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1278 fix delete collaboration instance by mistake when exec workflow
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#1279 cherry_pick:fix delete collaboration instance by mistake when exec workflow
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#1281 fix collaboration copy helm with wrong params
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#1282 fix test report directory is empty
  pkg/microservice/reaper/core/service/reaper/artifact.go
Labels: service/reaper

#1283 cherry pick #1282
  pkg/microservice/reaper/core/service/reaper/artifact.go
Labels: service/reaper

#1261 add custom tag logic when build helm versions
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/packager/core/service/packager.go
  pkg/microservice/packager/core/service/service.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/util/url.go
Labels: service/aslan, service/warpdrive, common

#1229 abac permission bug fix
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/podexec/server/server.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
Labels: service/aslan, service/podexec, service/policy

#1292 fix image data nil bug
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1294 environment permission adjust
  pkg/microservice/aslan/core/environment/handler/policy.yaml
Labels: service/aslan

#1293 keep build running task when wd restarts
  pkg/microservice/warpdrive/core/service/taskcontroller/interface.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_controller.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/server/server.go
Labels: service/warpdrive

#1296 fix List API does not return kind and apiVersion
  pkg/microservice/aslan/core/environment/service/common_env_cfg_informer.go
  pkg/tool/kube/getter/configmap.go
  pkg/tool/kube/getter/pvc.go
  pkg/tool/kube/getter/secrets.go
Labels: service/aslan, common

#1286 clean docker cache cron
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/dind_clean.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/system_cache.go
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/microservice/cron/core/service/scheduler/schedule_collie_pipeline.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/server/server.go
  pkg/shared/client/aslan/system.go
  pkg/types/cron.go
Labels: service/aslan, service/cron, common

#1299 change cron expression parse rule from second to minute
  pkg/microservice/cron/core/service/scheduler/scheduler.go
Labels: service/cron

#1303 use buildkit by default when docker build
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#1305 fix wrong image name
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1306 fix wrong image name
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1304 Added the interface permission for environment configuration
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/configmap.go
  pkg/microservice/aslan/core/environment/handler/ingress.go
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/pvc.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/secret.go
Labels: service/aslan

#1295 fixed status error for deploying after distribute
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1291 set custom release name
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/task/deploy.go
  pkg/microservice/aslan/core/common/repository/models/task/release_image.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/common_env_cfg_informer.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/predator/core/service/predator.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/types/task/deploy.go
  pkg/microservice/warpdrive/core/service/types/task/release_image.go
  pkg/setting/consts.go
  pkg/util/helm.go
Labels: service/aslan, service/predator, service/warpdrive, common

#1307 add urls that only admin user has permission to operate
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1308 fix the cache address in the local cluster
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#1254 deploy partial services to helm environments
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1290 support host services display host information
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#1309 fix service delete bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#1311 fix resource restart fail error
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1312 fix get picket codehosts error
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/common/service/rsa_key.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/picket/core/filter/handler/codehost.go
  pkg/microservice/picket/core/filter/service/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/router.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common, service/config, service/picket

#1313 cherry-pick: pr:1312->Release 1.11.0
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/common/service/rsa_key.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/picket/core/filter/handler/codehost.go
  pkg/microservice/picket/core/filter/service/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/router.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common, service/config, service/picket

#1314 remove picket codehost
  pkg/microservice/picket/core/filter/handler/router.go
Labels: service/picket

#1315 cherry-pick: pr:1314->Release 1.11.0
  pkg/microservice/picket/core/filter/handler/router.go
Labels: service/picket

#1318 fix ListPrivateKey api do not encrypted
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/cron/core/service/client/pm.go
Labels: service/aslan, service/cron

#1319 cherry-pick #1318
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/cron/core/service/client/pm.go
Labels: service/aslan, service/cron

#1317 cron call aslan-workflowtask url not match
  pkg/microservice/cron/core/service/client/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/service/public.go
Labels: service/cron, service/picket

#1322 cherry-pick #1317
  pkg/microservice/cron/core/service/client/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/public/handler/public.go
  pkg/microservice/picket/core/public/service/public.go
Labels: service/cron, service/picket

#1321 cherry-pick:pr:1320
  pkg/microservice/systemconfig/core/email/handler/email.go
  pkg/microservice/systemconfig/core/email/handler/router.go
  pkg/microservice/systemconfig/core/email/service/email.go
  pkg/shared/client/systemconfig/email.go
Labels: common, service/config

#1323 add self signed certificate support for docker registry
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1324 Cherrypick/1323
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1326 bugfix for hubagent connection problem
  pkg/microservice/hubagent/server/server.go
Labels: service/hubagent

#1327 cherrypick #1326
  pkg/microservice/hubagent/server/server.go
Labels: service/hubagent

#1328 fix dind version in attached cluster
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#1329 cherry-pick #1328
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#1325 abac config permission bugfix
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1331 cherry-pick #1325
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1330 optimize relase naming rule update logic
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1332 fix deploy failed for host porjects
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1335 cherry-pick:pr:1333
  pkg/microservice/systemconfig/core/connector/handler/connector.go
  pkg/microservice/systemconfig/core/connector/handler/router.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
  pkg/microservice/user/core/service/login/third_party.go
  pkg/shared/client/systemconfig/connector.go
Labels: common, service/config, service/user

#1334 add disable cronjob logic when deleting workflow
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1336 cherrypick #1334
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1339 [cherry-pick 1330]optimize relase naming rule update logic
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1338 [cherry-pick 1332] Bugfix/service distribute error cp
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1343 fix load github yaml error
  pkg/shared/client/systemconfig/codehost.go
Labels: common

#1344 cherry-pick:pr:1343
  pkg/shared/client/systemconfig/codehost.go
Labels: common

#1340 remove publicKey prilivige permission
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1345 cherry-pick #1340
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1348 fix distribution error
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1349 [cherry-pick 1348] Bugfix/distribute error cp
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1351 fix get jira info error
  pkg/microservice/systemconfig/core/jira/handler/jira.go
  pkg/microservice/systemconfig/core/jira/handler/router.go
  pkg/microservice/systemconfig/core/jira/service/jira.go
  pkg/shared/client/systemconfig/jira.go
Labels: common, service/config

#1352 cherry-pick:pr:1351
  pkg/microservice/systemconfig/core/jira/handler/jira.go
  pkg/microservice/systemconfig/core/jira/handler/router.go
  pkg/microservice/systemconfig/core/jira/service/jira.go
  pkg/shared/client/systemconfig/jira.go
Labels: common, service/config

#1350 load template service bug
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
Labels: service/aslan

#1353 cherry-pick #1350
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
Labels: service/aslan

#1356 fix helm multiple modules deploy bug
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
Labels: service/warpdrive

#1357 [cherry-pick 1356]Bugfix/multiple module deploy cp
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
Labels: service/warpdrive

#1354 fix delete collaboration instance error
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
Labels: service/aslan

#1355 cherry-pick:pr:1354
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
Labels: service/aslan

#1358 2 bugfix for 1.11.0
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#1359 cherrypick #1358
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#1361 Fixed a bug on cronjob which will cause aslan to panic
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1362 cherrypick #1361
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1364 add debug log
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/label/handler/label_binding.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
Labels: service/aslan

#1365 cherry-pick:pr:1364
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/label/handler/label_binding.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
Labels: service/aslan

#1366 change default to imagename
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1363 cherry-pick #1366
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1367 fixed helm deploy display bug
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1368 cherrypick #1367
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1369 fixed get Image info panic problem
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1370 fixed get Image info panic problem
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#1371 fix release name error
  pkg/microservice/aslan/core/environment/service/helm.go
Labels: service/aslan

#1372 [cherry-pick 1371] relesename error cp
  pkg/microservice/aslan/core/environment/service/helm.go
Labels: service/aslan

#1373 pm list machine bug
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#1374 cherry-pick #1373
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#1375 fixed stage status error in distribute
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1376 cherrypick #1375
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1377 Fixed an issue where the host failed to remove deleted services when updating the environment
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1378 cherry-pick #1377
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1379 fix service module duplicate bug
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#1380 [cherry-pick 1379]fix service module duplicate bug
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#1381 changed the status of the stage
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1382 cherrypick #1381
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#1383 set product updatable logic
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#1385 [cherry-pick 1383]set product updatable logic
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#1386 fix bug of adding service
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#1387 [cherry-pick 1386]Bugfix/rollback product updatable service cp
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#1388 Optimize the webhook logic triggered by gitee push event
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
Labels: service/aslan

#1390 fix(typo):fix typo of err msg.
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1389 Optimize the webhook logic triggered by gitee push event cherry-pick
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
Labels: service/aslan

#1391 Optimize yamL exports
  pkg/tool/kube/getter/base.go
Labels: common

#1395 fix k8s yaml reload from template bug
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/yaml_template.go
Labels: service/aslan

#1397 fix policy data collection error
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/aslan/core/multicluster/service/bundle.go
  pkg/microservice/aslan/core/workflow/service/workflow/bundle.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/resource_bundle.go
Labels: service/aslan, service/policy

#1403 cherry-pick:pr:1397
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/aslan/core/multicluster/service/bundle.go
  pkg/microservice/aslan/core/workflow/service/workflow/bundle.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/bundle/resource_bundle.go
Labels: service/aslan, service/warpdrive, common, service/config, service/policy, service/user

#1401 fix the bug of extracting image name
  go.mod
  go.sum
  pkg/microservice/aslan/core/service/service/service.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/util/strings.go
Labels: service/aslan, common

#1402 [cherry-pick 1395]fix k8s yaml reload from template bug
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/yaml_template.go
Labels: service/aslan

#1406 fix the bug of extracting image name cherry-pick
  go.mod
  go.sum
  pkg/microservice/aslan/core/service/service/service.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/util/strings.go
Labels: service/aslan, common

#1222 add system roles
  pkg/microservice/aslan/core/delivery/handler/policy_meta.go
  pkg/microservice/aslan/core/environment/handler/policy_meta.go
  pkg/microservice/aslan/core/project/handler/policy_meta.go
  pkg/microservice/aslan/core/workflow/handler/policy_meta.go
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy_meta.go
  pkg/microservice/picket/client/policy/rolebinding.go
  pkg/microservice/picket/client/user/user.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/users.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/policy/core/handler/policy_meta_registration.go
  pkg/microservice/policy/core/handler/role.go
  pkg/microservice/policy/core/handler/role_binding.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/models/role.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/service/role.go
  pkg/microservice/policy/core/service/role_binding.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/aslan/registries.go
  pkg/types/policy.go
  pkg/types/user.go
Labels: service/aslan, common, service/picket, service/policy, service/user

#1409 add some log to codehost
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/code/client/open/open.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/tag.go
Labels: service/aslan

#1412 tool/s3: detect and add mimetype before uploading to s3
  pkg/tool/s3/client.go
  pkg/tool/s3/client_test.go
Labels: common

#1414 add user-friendly err message
  pkg/microservice/user/core/service/user/user.go
Labels: service/user

#1399 support for multiple notifications
  pkg/cli/upgradeassistant/cmd/migrate/1120.go
  pkg/cli/upgradeassistant/internal/repository/models/testing.go
  pkg/cli/upgradeassistant/internal/repository/models/workflow.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/repository/models/pipeline.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#1420 fix for when frontend pass an empty list
  pkg/cli/upgradeassistant/cmd/migrate/1120.go
  pkg/cli/upgradeassistant/internal/repository/models/testing.go
  pkg/cli/upgradeassistant/internal/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
Labels: service/aslan

#1421 support send jenkins build notifications
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#1422 fix List API does not return kind and apiVersion
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/pvc.go
  pkg/microservice/aslan/core/environment/service/secret.go
  pkg/tool/kube/getter/configmap.go
  pkg/tool/kube/getter/pvc.go
  pkg/tool/kube/getter/secrets.go
Labels: service/aslan, common

#1424 cherry-pick #1422
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/pvc.go
  pkg/microservice/aslan/core/environment/service/secret.go
  pkg/tool/kube/getter/configmap.go
  pkg/tool/kube/getter/pvc.go
  pkg/tool/kube/getter/secrets.go
Labels: service/aslan, common

#1427 fix the failure to display the number of services due to service deploy failed
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1429 fixed updating aws secret will accidently update default registry secret
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1426 action replicate
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
Labels: service/aslan

#1430 cherrypick #1429
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1419 permission add miss urls
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
Labels: service/aslan

#1431 cherry-pick:pr:1427
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1417 add default login setting
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/handler/login.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/login.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
  pkg/microservice/systemconfig/core/connector/service/types.go
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/login.go
Labels: service/aslan, common, service/config, service/user

#1432 cherry-pick #1419
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
Labels: service/aslan

#1433 template user
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
Labels: service/aslan

#1434 cherry-pick #1433
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
Labels: service/aslan

#1398 build template
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/build_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/build_template.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/common/service/template/build.go
  pkg/microservice/aslan/core/common/service/template/chart.go
  pkg/microservice/aslan/core/common/service/template/dockerfile.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/common/service/template/yaml.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/templatestore/handler/build.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#1438 Hotfix/yaml format
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
Labels: service/aslan

#1425 support env sharing in helm project
  pkg/microservice/aslan/core/environment/handler/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/tool/helmclient/helmclient.go
  pkg/tool/kube/util/utils.go
Labels: service/aslan, common

#1428 jenkins supports integrating multiple instances
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/jenkins.go
  pkg/microservice/aslan/core/system/handler/jenkins.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
Labels: service/aslan

#1440 create test need get cluster
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
Labels: service/aslan

#1442 permission miss
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
Labels: service/aslan

#1444 user can list all bug
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
Labels: service/policy

#1445 remove scripts that are added for node project
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#1443 add repo name parameter
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#1446 data over permission miss
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
Labels: service/aslan
