Repository koderover/zadig, pull requests merged in 2022-07, with the labels that each got.

#1722 environment config gitops
  pkg/cli/upgradeassistant/cmd/migrate/1130.go
  pkg/cli/upgradeassistant/internal/repository/models/env_configs.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/env_resources.go
  pkg/microservice/aslan/core/common/repository/models/env_ingress.go
  pkg/microservice/aslan/core/common/repository/models/env_pvc.go
  pkg/microservice/aslan/core/common/repository/models/env_resource.go
  pkg/microservice/aslan/core/common/repository/models/env_secret.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_configmap.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_ingress.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_resource.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_secret.go
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/ingress.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/pvc.go
  pkg/microservice/aslan/core/environment/service/secret.go
  pkg/microservice/aslan/core/service.go
  pkg/tool/kube/getter/ingress.go
  pkg/tool/kube/getter/pvc.go
Labels: service/aslan, common

#1727 add filter when listing gitHub projects
  pkg/microservice/aslan/core/code/client/github/github.go
Labels: service/aslan

#1729 fix bug of keeping too many connections in hub-agent
  pkg/tool/remotedialer/server.go
Labels: common

#1730 accelerate list workflow by ignore archived task
  pkg/microservice/aslan/core/common/repository/models/strategy.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1733 fix resource k8s resource remove fail bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1731 add env resource update logic
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_resource.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/scheduler/shedule_env_resource_update.go
  pkg/microservice/cron/core/service/service.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan, service/cron, service/policy

#1738 common workflow support build template
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1739 cherry-pick 1738
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1741 cherrypick #1740
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#1743 fix common workflow deploy job name
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1744 fix pipeline render nil caused aslan panic
  pkg/microservice/aslan/core/common/service/delivery.go
Labels: service/aslan

#1745 cherry-pick 1744
  pkg/microservice/aslan/core/common/service/delivery.go
Labels: service/aslan

#1748 cherry pick 1742
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1749 cherry pick 1743
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1750 skip get repo info when repo source from others
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#1751 cherry pick 1750
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#1752 get build envs when it's a template build
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#1753 cherry pick 1752
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#1755 fix env resource cron bug
  pkg/microservice/cron/core/service/scheduler/shedule_env_resource_update.go
Labels: service/cron

#1756 cherry-pick from 1755
  pkg/microservice/cron/core/service/scheduler/shedule_env_resource_update.go
Labels: service/cron

#1757 fix product render version error bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1758 cherry-pick 1757
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1760 fix gitee fetch project bug
  pkg/tool/gitee/repositories.go
Labels: common

#1761 cherry-pick 1760
  pkg/tool/gitee/repositories.go
Labels: common

#1754 add common workflow permission
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan, service/policy

#1759 filter jenkins build for service build
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#1763 Cherry pick 1759
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#1764 add count user by type api
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/service/user/user.go
  pkg/types/user.go
Labels: service/user

#1767 fix list common workflow permission
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1766 custom image name for common workflow
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1768 auto clean zombie job by adding job ttl seconds
  pkg/microservice/aslan/core/workflow/service/jobcontroller/kubernetes.go
Labels: service/aslan

#1769 Cherry pick 1767
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1770 cherry pick 1766
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1771 Cherry pick 1768
  pkg/microservice/aslan/core/workflow/service/jobcontroller/kubernetes.go
Labels: service/aslan

#1772 fix common workflow queue run workflow in parallel
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflowcontroller/queue.go
Labels: service/aslan

#1773 remove env_name vars from common workflow
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
Labels: service/aslan

#1774 Cherry pick 1772
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflowcontroller/queue.go
Labels: service/aslan

#1775 Cherry pick 1773
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
Labels: service/aslan

#1776 fix bug of rendering pvc subpath
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: service/warpdrive

#1777 cherry-pick 1776
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: service/warpdrive

#1778 add repo namespace saving logic
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/types/repo.go
Labels: service/aslan

#1781 optimize rendet set query
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
Labels: service/aslan

#1782 cherry-pick from 1781
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
Labels: service/aslan

#1783 add skip verify tls certificate
  pkg/shared/client/aslan/client.go
Labels: common

#1784 cherrypick #1783
  pkg/shared/client/aslan/client.go
Labels: common

#1785 fix testing artifacts has empty filename
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
Labels: service/aslan

#1786 fix error message when workflow name already exists
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1780 add cache for common workflow
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflowcontroller/workflow.go
Labels: service/aslan

#1789 Cherry pick 1780
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflowcontroller/workflow.go
Labels: service/aslan

#1788 Cherry pick 1786
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1787 Cherry pick 1785
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
Labels: service/aslan

#1790 fix auto generate job name was illegal
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#1791 check if external service exist in env
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1792 Cherry pick 1790
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#1793 Cherry pick 1791
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1794 make common workflow job name unique
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
Labels: service/aslan

#1795 Cherry pick 1794
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
Labels: service/aslan

#1796 fix gitlab token refresh bug
  pkg/tool/git/gitlab/client.go
  pkg/tool/git/gitlab/token.go
Labels: common

#1798 Cherrypick/1796
  pkg/tool/git/gitlab/client.go
  pkg/tool/git/gitlab/token.go
Labels: common

#1799 debug for gitlab authorization & logs refinement
  pkg/tool/git/gitlab/token.go
Labels: common

#1800 cherrypick #1799
  pkg/tool/git/gitlab/token.go
Labels: common

#1803 fix collaboration labelbindings was deleted by mistake
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#1806 cherry-pick 1805
  Makefile
  docker/base/amd64/ubuntu-bionic.Dockerfile
  docker/base/amd64/ubuntu-focal.Dockerfile
  docker/base/amd64/ubuntu-xenial.Dockerfile
  docker/base/arm64/ubuntu-bionic.Dockerfile
  docker/base/arm64/ubuntu-focal.Dockerfile
  docker/base/arm64/ubuntu-xenial.Dockerfile
  examples/multi-service-demo/full-charts/service3/values.yaml
  pkg/microservice/aslan/core/workflow/service/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/jobcontroller/kubernetes.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/zgctl/utils.go
  pkg/tool/kube/serializer/decoder_test.go
  pkg/types/env.go
  pkg/types/ide.go
  pkg/util/yaml/path_search_test.go
Labels: service/aslan, service/warpdrive, common

#1808 when delete project,delete workflow v4 first.
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage_custom.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_docker_build.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_git.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_shell.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1809 fix webhook task lost deploy infos in hosting environment
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1813 fix common workflow permission
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1814 cherry pick 1813
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1819 remove remnant file before update chart templates
  pkg/microservice/aslan/core/templatestore/service/chart.go
Labels: service/aslan

#1815 fix common workflow failed to download tools when default s3 server was http
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
Labels: service/aslan

#1811 encrypt workflow v4 key values
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1822 update operation log record logic
  pkg/microservice/aslan/core/build/handler/router.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/collaboration/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/debug.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/share_env.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/build.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/dockerfile.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/server/rest/server.go
  pkg/middleware/gin/audit_log.go
  pkg/middleware/gin/response.go
Labels: service/aslan, common

#1824 Fix user database cannot contain hyphen
  pkg/cli/upgradeassistant/internal/repository/orm/addmysql.sql
  pkg/cli/upgradeassistant/internal/repository/orm/dropmysql.sql
  pkg/microservice/user/core/service/init/mysql.sql
Labels: service/user

#1825 Cherrypick/1824
  pkg/cli/upgradeassistant/internal/repository/orm/addmysql.sql
  pkg/cli/upgradeassistant/internal/repository/orm/dropmysql.sql
  pkg/microservice/user/core/service/init/mysql.sql
Labels: service/user

#1812 fix favorite workflow did not work
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
Labels: service/aslan

#1832 merge keyvals in common workflow when add new keyvals to build
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1836 fix data
  pkg/microservice/aslan/core/environment/handler/router.go
Labels: service/aslan

#1837 cherry-pick 1836
  pkg/microservice/aslan/core/environment/handler/router.go
Labels: service/aslan

#1838 add ifPassFilter for calls to aslan from wd
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
Labels: service/warpdrive

#1839 cherry-pick from 1838
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
Labels: service/warpdrive

#1841 merge build template key values
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1835 add code optimize
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/zgctl/zgctl.go
  pkg/setting/consts.go
  pkg/tool/helmclient/helmclient.go
Labels: service/reaper, service/warpdrive, common

#1843 merge config service into aslan
  Makefile
  cmd/config/main.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/systemconfig/core/service.go
  pkg/microservice/systemconfig/server/rest/router.go
  pkg/microservice/systemconfig/server/rest/server.go
  pkg/microservice/systemconfig/server/server.go
  pkg/setting/consts.go
  pkg/setting/types.go
  pkg/shared/client/systemconfig/client.go
Labels: service/aslan, common, service/config
