Repository koderover/zadig, pull requests merged in 2022-03, with the labels that each got.

#1101 add user can select db
  pkg/cli/upgradeassistant/internal/repository/orm/addmysql.sql
  pkg/cli/upgradeassistant/internal/repository/orm/db.go
  pkg/cli/upgradeassistant/internal/repository/orm/dropmysql.sql
  pkg/config/config.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/init/mysql.sql
  pkg/setting/consts.go
Labels: common, service/user

#1102 support user-defined env when using pvc
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/warpdrive

#1103 test can not remove repo bug
  pkg/microservice/aslan/core/common/repository/models/testing.go
Labels: service/aslan

#1107 delete many bug
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
Labels: service/policy

#1108 fix bug of printing real-time logs
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1111 cherry-pick #1107
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
Labels: service/policy

#1110 cherry-pick #1108
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1114 non user
  pkg/microservice/picket/core/filter/service/rolebinding.go
Labels: service/picket

#1116 The exclusion state is the environment that is being deleting
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#1117 Exclude the environment in the "Unknown" state
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1118 added missing proxy setting for aslan code pull
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
Labels: service/aslan

#1119 policy duplicate bug
  pkg/microservice/picket/core/filter/service/rolebinding.go
Labels: service/picket

#1120 fix Exclude the environment in the "Unknown" state of ua
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/cli/upgradeassistant/cmd/migrate/migrate.go
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1122 fix the bug that helm has no value when sync collaboration
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
Labels: service/aslan

#1123 fix the bug that read only roles has no service
  pkg/cli/initconfig/cmd/contributor.yaml
  pkg/cli/initconfig/cmd/read-only.yaml
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/microservice/aslan/core/project/handler/build_policy.yaml
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
Labels: service/aslan

#1121 add flag for advanced settings in build & test
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/internal/repository/models/build.go
  pkg/cli/upgradeassistant/internal/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
Labels: service/aslan

#1126 Change the type of the override key-value pair to interface when updating the environment
  pkg/microservice/aslan/core/common/service/render.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#1128 display different information for build/test
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/executor/executor.go
  pkg/types/reaper.go
Labels: service/reaper

#1132 collaboration filter add ifPassFilter
  pkg/middleware/gin/collaboration.go
Labels: common

#1131 remove useless debug logs
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/warpdrive

#1130 all user binding not return
  pkg/microservice/picket/core/filter/service/rolebinding.go
Labels: service/picket

#1129 Fix bugs in workflows triggered by delivery
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1133 make test result file optional
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/warpdrive

#1135 fix shared service problem
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1137 policy meta alias
  pkg/microservice/aslan/core/environment/handler/policy_definitions.go
Labels: service/aslan

#1136 fix override key-value pair to interface
  pkg/tool/helmclient/helmclient.go
Labels: common

#1138 fix typo
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/handler/configmap.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#1026 pr&tag add page support
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/tool/git/gitlab/merge_request.go
  pkg/tool/git/gitlab/tag.go
Labels: service/aslan, common

#1134 add support of cancel deploy for helm services
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#1142 fix gerrit integration problem
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
Labels: service/config

#1145 fix pm panic problem
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#1141 fix test result file optional bug
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/reaper, service/warpdrive

#1146 cherry pick #1141
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/reaper, service/warpdrive

#1147 fix pm panic problem
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#1149 clean up jobs asynchronously to avoid waiting for the next operation
  pkg/microservice/reaper/executor/executor.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/reaper, service/warpdrive

#1150 cherry-pick #1149
  pkg/microservice/reaper/executor/executor.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/reaper, service/warpdrive

#1152 err message
  pkg/tool/errors/const.go
Labels: common

#1144 vm update env bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1153 cherry-pick #1144
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan, service/reaper, service/warpdrive

#1155 print error msg when failing to run reaper
  pkg/microservice/reaper/executor/executor.go
Labels: service/reaper

#1156 fix test result files null bug
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#1157 cherry-pick #1156
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/aslan, service/reaper, service/warpdrive

#1167 support kubernetes version 1.22
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/setting/handler/router.go
  pkg/microservice/aslan/core/setting/handler/user.go
  pkg/microservice/aslan/core/setting/service/user.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/shared/kube/client/version.go
  pkg/shared/kube/wrapper/ingress.go
  pkg/tool/kube/getter/ingress.go
  pkg/tool/kube/getter/role.go
  pkg/tool/kube/getter/rolebinding.go
  pkg/tool/kube/getter/serviceaccount.go
  pkg/tool/kube/informer/informer.go
  pkg/tool/kube/updater/clusterrole.go
  pkg/tool/kube/updater/clusterrolebinding.go
  pkg/tool/kube/updater/configmap.go
  pkg/tool/kube/updater/cronjob.go
  pkg/tool/kube/updater/deployment.go
  pkg/tool/kube/updater/ingress.go
  pkg/tool/kube/updater/job.go
  pkg/tool/kube/updater/namespace.go
  pkg/tool/kube/updater/pod.go
  pkg/tool/kube/updater/pv.go
  pkg/tool/kube/updater/pvc.go
  pkg/tool/kube/updater/replicaset.go
  pkg/tool/kube/updater/role.go
  pkg/tool/kube/updater/rolebinding.go
  pkg/tool/kube/updater/secret.go
  pkg/tool/kube/updater/service.go
  pkg/tool/kube/updater/serviceaccount.go
  pkg/tool/kube/updater/statefulset.go
Labels: service/aslan, common

#1162 fix gitlab webhook update service not work bug
  pkg/microservice/aslan/core/workflow/service/webhook/codehub.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common

#1168 Supports the case where the image name and container name are different
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/shared/kube/resource/workload.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/util/strings.go
Labels: service/aslan, service/cron, service/warpdrive, common

#1169 Remove unneeded test logs
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/reaper/core/service/reaper/ginkgo.go
  pkg/microservice/reaper/core/service/reaper/jmeter.go
Labels: service/aslan, service/reaper

#1166 supports the deployment of partially defined services in the environment
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/util/array.go
Labels: service/aslan, common

#1170 fix delete service but not update product
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1171 fix merge conflict
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1172 Added image_name field in helm scene
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#1159 code info return tag&pr&branch
  pkg/microservice/aslan/core/code/client/codehub/codehub.go
  pkg/microservice/aslan/core/code/client/gerrit/gerrit.go
  pkg/microservice/aslan/core/code/client/github/github.go
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/code/client/interface.go
  pkg/microservice/aslan/core/code/client/open/open.go
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/service/branch.go
  pkg/microservice/aslan/core/code/service/merge_request.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/code/service/tag.go
  pkg/microservice/aslan/core/code/service/types.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/policy/core/repository/models/common.go
  pkg/microservice/policy/core/service/common.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common, service/policy

#1160 delete twice
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1148 add branchName query parameter
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/handler/workspace.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/handler/router.go
Labels: service/aslan

#1173 refactor namespace & project
  pkg/microservice/aslan/core/code/client/codehub/codehub.go
  pkg/microservice/aslan/core/code/client/gerrit/gerrit.go
  pkg/microservice/aslan/core/code/client/github/github.go
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/code/client/interface.go
  pkg/microservice/aslan/core/code/service/namespace.go
  pkg/microservice/aslan/core/code/service/project.go
  pkg/microservice/aslan/core/code/service/types.go
Labels: service/aslan

#1176 Fixed webhook branch being replaced
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1178 cherry-pick #1155
  pkg/microservice/reaper/executor/executor.go
Labels: service/reaper

#1179 Handle the problem that the service module name is too long and the job creation fails
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/warpdrive/core/service/common/types.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/aslan, service/warpdrive

#1180 Fixed a problem with the test task code strategy in YamL Webhook
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1182 cherry pick
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/warpdrive/core/service/common/types.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/aslan, service/warpdrive

#1183 cherry-pick #1176 and #1180
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1177 op log bug fix
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/shared/handler/base.go
Labels: service/aslan, common

#1184 fix cvm ops workflow bug
  pkg/microservice/aslan/core/system/service/s3.go
Labels: service/aslan

#1186 fix cvm ops workflow bug
  pkg/microservice/aslan/core/system/service/s3.go
Labels: service/aslan

#1187 fix cvm ops workflow bug
  pkg/microservice/aslan/core/system/service/s3.go
Labels: service/aslan

#1188 cvm add env hostnames variable
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
Labels: service/aslan, service/warpdrive

#1190 Cherry pick to 315
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
Labels: service/aslan, service/warpdrive

#1191 fix bug of executing in pod
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/tool/kube/podexec/exec.go
Labels: service/aslan, service/warpdrive, common

#1185 fix: chart download
  pkg/tool/helmclient/chartclient.go
Labels: common

#1189 support subpath
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/types/cache.go
Labels: service/aslan, service/warpdrive

#1154 helm chart template supports gerrit import
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/template/chart.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#1194 fix bug of download chart from harbor repo chart
  pkg/tool/helmclient/chartclient.go
Labels: common

#1196 fix incomplete collection of policybinding
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
Labels: service/policy

#1192 add logic to ensure helm chart upgrade
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#1175 enhance extension stage
  pkg/microservice/aslan/core/common/repository/models/pipeline.go
  pkg/microservice/aslan/core/common/repository/models/task/extension.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/extension.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/microservice/warpdrive/core/service/types/task/extension.go
  pkg/microservice/warpdrive/core/service/types/task/trigger.go
  pkg/tool/httpclient/client.go
  pkg/tool/httpclient/request_options.go
Labels: service/aslan, service/warpdrive, common

#1199 change env SERVICE to SERVICE_MODULE in testing
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/types/cache.go
Labels: service/warpdrive

#1201 Remove the limit on the number of service replicas
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1203 fix bug of creating env based on existed namespace
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1204 A bug in handling workflow history task query
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1209 info add key
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#1215 In the cvm scenario, the local direct connection increases the host-related variables
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1217 fix cvm problm cherry pick to 317
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1213 fix bug of not clearing resources due to job startup timeout
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/tool/kube/containerlog/log.go
Labels: service/warpdrive, common

#1218 pod debug permission
  pkg/microservice/aslan/core/environment/handler/policy.yaml
Labels: service/aslan

#1221 rego logic correct
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
Labels: service/policy

#1223 host environments can use registry
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1212 workflow task run permission bug
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/router.go
Labels: service/aslan

#1224 cancel & restart bug
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1225 make workflow runnable even if the target container is not running
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1208 Adding Deploy after distribute feature
  pkg/microservice/aslan/core/common/repository/models/task/release_image.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/predator/core/service/predator.go
  pkg/microservice/predator/core/service/service.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/types/predator.go
  pkg/microservice/warpdrive/core/service/types/task/release_image.go
Labels: service/aslan, service/predator, service/warpdrive

#1227 optimize helm deploy logic
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
Labels: service/warpdrive

#1230 fix jenkins plugin log issue
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1233 cherry pick fix jenkins plugin problem
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1232 intercept the first eight display of the commit id
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1235 fix partial service configmap modified since last update
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1237 bugfix for case of service with no workloadType
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1239 fix bug of constructing envs when creating pm env
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: service/warpdrive

#1226 Supports host Web terminals and host health check
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/cron/core/service/client/pm.go
  pkg/microservice/cron/core/service/scheduler/schedule_pm.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/service.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
  pkg/tool/ssh/ssh.go
  pkg/tool/wsconn/wsconn.go
Labels: service/aslan, service/cron, service/reaper, service/warpdrive, common

#1240 add space trim logic for service
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#1241 fix overview bug
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/stat/service/overview.go
Labels: service/aslan

#1242 change the implementation of servicelist in workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1238 gerrit: support search with multiple keywords
  pkg/tool/gerrit/client.go
  pkg/tool/gerrit/client_test.go
Labels: common

#1244 cherry pick fix overview bug
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/stat/service/overview.go
Labels: service/aslan

#1243 fix job label problem
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/util/yaml.go
Labels: service/aslan, service/warpdrive, common

#1247 fix job label problem cherry pick
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/util/yaml.go
Labels: service/aslan, service/warpdrive, common

#1246 Notification does not display mirror information
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#1251 cherry-pick #1250
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
Labels: service/aslan
