Repository koderover/zadig, pull requests merged in 2022-08, with the labels that each got.

#1831 encrypt freestyle job and plugin job envs
  pkg/microservice/aslan/core/common/repository/models/plugin_repo.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/README.md
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/hello-world/v1.0.0/hello-world.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1830 add dryRun install services logic when creating environments
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#1848 merge user into aslan
  Makefile
  cmd/user/main.go
  pkg/cli/initconfig/cmd/healthz.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/init/mysql.sql
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/user/core/handler/healthz.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/server/rest/router.go
  pkg/microservice/user/server/rest/server.go
  pkg/microservice/user/server/server.go
  pkg/setting/types.go
  pkg/shared/client/user/client.go
Labels: service/aslan, common, service/user

#1849 fix custom workflow using wrong image
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#1844 set repos in common workflow default branches
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1850 merge podexec into aslan
  Makefile
  cmd/podexec/main.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/aslan/server/server.go
  pkg/microservice/picket/client/user/client.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/podexec/server/server.go
  pkg/setting/types.go
Labels: service/aslan, service/podexec, common, service/picket

#1853 merge policy into aslan
  Makefile
  cmd/policy/main.go
  pkg/microservice/aslan/core/policy/service/migration.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/policy/core/handler/healthz.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/service.go
  pkg/microservice/policy/core/service/bundle/rate_limiting.go
Labels: service/aslan, service/policy

#1828 add signature
  pkg/config/config.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
  pkg/setting/types.go
  pkg/shared/client/plutusvendor/client.go
  pkg/shared/client/plutusvendor/plutusvendor.go
Labels: common, service/policy, service/user

#1854 merge picket into aslan
  Makefile
  cmd/picket/main.go
  pkg/cli/initconfig/cmd/healthz.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/picket/server/rest/router.go
  pkg/microservice/picket/server/rest/server.go
  pkg/microservice/picket/server/server.go
  pkg/shared/client/policy/client.go
Labels: service/aslan, common, service/picket

#1852 add default branch configuration for product workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/types/repo.go
Labels: service/aslan

#1860 bugfix
  pkg/setting/types.go
Labels: common

#1856 Merge services into aslan to decrease service amount.
  Makefile
  cmd/config/main.go
  cmd/picket/main.go
  cmd/podexec/main.go
  cmd/policy/main.go
  cmd/user/main.go
  pkg/cli/initconfig/cmd/healthz.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/init/mysql.sql
  pkg/microservice/aslan/core/policy/service/migration.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/aslan/server/server.go
  pkg/microservice/picket/client/policy/client.go
  pkg/microservice/picket/client/user/client.go
  pkg/microservice/picket/server/rest/router.go
  pkg/microservice/picket/server/rest/server.go
  pkg/microservice/picket/server/server.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/podexec/server/server.go
  pkg/microservice/policy/core/handler/healthz.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/service.go
  pkg/microservice/policy/core/service/bundle/rate_limiting.go
  pkg/microservice/systemconfig/core/service.go
  pkg/microservice/systemconfig/server/rest/router.go
  pkg/microservice/systemconfig/server/rest/server.go
  pkg/microservice/systemconfig/server/server.go
  pkg/microservice/user/core/handler/healthz.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/server/rest/router.go
  pkg/microservice/user/server/rest/server.go
  pkg/microservice/user/server/server.go
  pkg/setting/consts.go
  pkg/setting/types.go
  pkg/shared/client/policy/client.go
  pkg/shared/client/systemconfig/client.go
  pkg/shared/client/user/client.go
Labels: service/aslan, service/podexec, common, service/config, service/picket, service/policy, service/user

#1847 clone private repo to load private plugins
  pkg/microservice/aslan/core/common/repository/mongodb/plugin_repo.go
  pkg/microservice/aslan/core/workflow/handler/plugin_repo.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugin_repo.go
Labels: service/aslan

#1858 add all image pull secrets for custom workflow
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
Labels: service/aslan

#1861 fix artifact workflow missing extension stage
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1866 add label for namespaces when creating envs
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/tool/kube/updater/namespace.go
Labels: service/aslan, common

#1862 add copy product logic for k8s projects
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#1871 add detailed log for env operations
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/configmap.go
  pkg/microservice/aslan/core/environment/handler/debug.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/operation.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/handler/share_env.go
  pkg/microservice/aslan/core/system/repository/models/operation_log.go
  pkg/microservice/aslan/core/system/repository/mongodb/operation_log.go
  pkg/microservice/aslan/core/system/service/operation.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/setting/consts.go
  pkg/shared/handler/base.go
Labels: service/aslan, common, service/policy

#1869 renders the scanned repository branch information to the user configuration
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#1865 code scanning repository support checkout path
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/warpdrive

#1870 statistics openapi
  pkg/microservice/aslan/core/common/repository/mongodb/test_task_stat.go
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/build_stat.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/test.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/stat/service/deploy.go
  pkg/microservice/aslan/core/stat/service/test.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#1874 add ability to download file from pod
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common, service/policy

#1857 add global variables for custom workflow
  pkg/microservice/aslan/core/common/repository/models/plugin_repo.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/setting/consts.go
Labels: service/aslan, common

#1875 Support Kubeconfig for multicluster settings
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/hubserver/core/repository/models/models.go
  pkg/microservice/hubserver/core/service/service.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/multicluster.go
  pkg/shared/kube/client/client.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/multicluster/service.go
Labels: service/aslan, service/hubserver, common

#1868 add webhook for custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/service/github/checks.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#1878 fix dind initialize bug for aslan
  pkg/shared/kube/client/client.go
Labels: common

#1879 cherrypick 1878
  pkg/shared/kube/client/client.go
Labels: common

#1881 fix service merge problem for policy
  pkg/config/config.go
  pkg/microservice/policy/core/repository/mongodb/policy.go
  pkg/microservice/policy/core/repository/mongodb/policy_binding.go
  pkg/microservice/policy/core/repository/mongodb/policy_meta_registration.go
  pkg/microservice/policy/core/repository/mongodb/role.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
Labels: common, service/policy

#1882 cherrypick #1881
  pkg/config/config.go
  pkg/microservice/policy/core/repository/mongodb/policy.go
  pkg/microservice/policy/core/repository/mongodb/policy_binding.go
  pkg/microservice/policy/core/repository/mongodb/policy_meta_registration.go
  pkg/microservice/policy/core/repository/mongodb/role.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
Labels: common, service/policy

#1884 add host env create update operation log
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#1885 cherry-pick from 1884
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#1883 user stats API update
  pkg/microservice/user/core/service/user/user.go
  pkg/types/user.go
Labels: service/user

#1886 cherrypick 1883
  pkg/microservice/user/core/service/user/user.go
  pkg/types/user.go
Labels: service/user

#1888 cherrypick #1887
  pkg/microservice/aslan/core/environment/service/product.go
Labels: service/aslan

#1887 fix environment bug for vm projects
  pkg/microservice/aslan/core/environment/service/product.go
Labels: service/aslan

#1880 fix preset webhook info when args are nil and fix webhook notify
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1891 Cherry pick 1880
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1894 Fixed a bug where scanning is unable to use codehost of other type
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/aslan, service/warpdrive

#1895 cherrypick #1894
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/aslan, service/warpdrive

#1896 fixed build error for direct kubeconfig connection
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#1897 Cherrypick #1896
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#1892 fix load ingress service error
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/tool/kube/getter/ingress.go
Labels: service/aslan, common

#1893 cherry-pick 1892
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/tool/kube/getter/ingress.go
Labels: service/aslan, common

#1898 fix sync ldap error
  pkg/microservice/user/core/service/user/user.go
Labels: service/user

#1899 cherry-pick:1898
  pkg/microservice/user/core/service/user/user.go
Labels: service/user

#1900 fix panic when github tag event missing sender name
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
Labels: service/aslan

#1901 Cherry pick 1900
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
Labels: service/aslan

#1905 fix scanning job sse log error
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1906 cp 1905
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1903 fix collaboration copy helm environment error
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1904 cherry-pick:1903
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1902 fix when refer a multi line params
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#1908 cherry-pick:1907
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1909 Cherry pick 1902
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#1907 fix update helm service 403 error
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1911 get workflow failed when test module from other project
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1912 Cherry pick 1911
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1914 set plugin param default values
  pkg/microservice/aslan/core/workflow/service/workflow/plugin_repo.go
Labels: service/aslan

#1915 Cherry pick 1914
  pkg/microservice/aslan/core/workflow/service/workflow/plugin_repo.go
Labels: service/aslan

#1910 Mysql plugin
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/main.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/mysql-runner.yaml
Labels: service/aslan

#1919 cherry-pick from 1917
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1918 Cherrypick/1910
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/main.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/mysql-runner.yaml
Labels: service/aslan

#1917 fix get env variable of k8s yaml bug
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1916 add policy for custom workflow webhook
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1920 Cherry pick 1916
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1921 save origin cunstom workflow args for task clone
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1922 Cherry pick 1921
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1924 fix http server timeout for aslan
  pkg/microservice/aslan/server/server.go
Labels: service/aslan

#1925 fix http server timeout for aslan
  pkg/microservice/aslan/server/server.go
Labels: service/aslan

#1913 stop waiting for service deployment to complete
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/types/step/step_deploy.go
  pkg/types/step/step_helm_deploy.go
Labels: service/aslan

#1927 Cherry pick 1913
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/types/step/step_deploy.go
  pkg/types/step/step_helm_deploy.go
Labels: service/aslan

#1929 set check-run status for deploy job preview
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1930 Cherry pick 1929
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1928 Cherry pick 1926
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1926 skipped custom workflow jobs for webhook
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#1931 render global params for custom workflow webhook
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1932 Cherry pick 1931
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#1935 add list helm repo
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan, common

#1938 fix custom image name error
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1939 Cherry pick 1938
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#1940 fix redeclare error
  pkg/config/config.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan, common

#1941 cherry-pick:1940
  pkg/config/config.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan, common

#1944 fix workflow helm chart conflict with service helm chart
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
Labels: service/aslan, common

#1945 Cherry pick 1944
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
Labels: service/aslan, common

#1949 fix gitee imported service cant be deployed bug
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1955 jira plugin
  go.mod
  go.sum
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/jira-updater.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/main.go
Labels: service/aslan

#1950 cherry-pick 1949
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1956 cherrypick #1955
  go.mod
  go.sum
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/jira-updater.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/main.go
Labels: service/aslan

#1958 cherrypick #1957
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/jenkins-runner.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/main.go
Labels: service/aslan

#1959 Cherry pick 1939 1944
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan, common

#1948 Add custom deploy for custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_custom_deploy.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/setting/consts.go
  pkg/types/step/step_custom_deploy.go
Labels: service/aslan, common, service/policy

#1961 make webhook refer name unique.
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1964 add ability to get all namespaces
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/setting/consts.go
Labels: service/aslan, common
