Repository koderover/zadig, pull requests merged in 2022-01, with the labels that each got.

#848 add suggested next chart verison
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#828 Test Release status stuck to helm install_pending and pending-upgrade
  go.mod
  go.sum
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/setting/consts.go
  pkg/tool/kube/updater/secret.go
Labels: service/aslan, service/warpdrive, common

#849 add suggested next chart verison
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#850 cherry-pick #828
  go.mod
  go.sum
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/setting/consts.go
  pkg/tool/kube/updater/secret.go
Labels: service/aslan, service/warpdrive, common

#851 wait for reading logs to complete before calling cmd.Wait
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#852 cherry-pick 851
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#853 space bugfix
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#855 space bugfix
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#854 Fix Dockerfile template multi-cluster problem
  pkg/microservice/aslan/core/common/repository/models/chart.go
  pkg/microservice/aslan/core/common/repository/models/dockerfile.go
  pkg/microservice/aslan/core/common/repository/models/task/docker_build.go
  pkg/microservice/aslan/core/common/repository/mongodb/chart.go
  pkg/microservice/aslan/core/common/repository/mongodb/dockerfile.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_cluster_relation.go
  pkg/microservice/aslan/core/common/service/template/chart.go
  pkg/microservice/aslan/core/common/service/template/dockerfile.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/common/service/template/yaml.go
  pkg/microservice/aslan/core/common/service/template_store.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/dockerfile.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/repository/models/chart.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/reaper/core/service/client/client.go
  pkg/microservice/reaper/core/service/client/dockerfile.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
Labels: service/aslan, service/reaper, service/warpdrive

#856 add resource-server and dind in agent.yaml
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/setting/consts.go
Labels: service/aslan, common

#858 cherry-pick #856
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/setting/consts.go
Labels: service/aslan, common

#839 add interface to get user's permission
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/role.go
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#860 permission review
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#859 release 1.8.0 permission
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/role.go
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#861 add open api run workflow resp data
  pkg/microservice/picket/core/public/handler/public.go
Labels: service/picket

#862 add open api run workflow resp data
  pkg/microservice/picket/core/public/handler/public.go
Labels: service/picket

#867 add error log for uploading cache
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#869 cherrypick to 1.8.0
  pkg/microservice/aslan/core/common/repository/models/chart.go
  pkg/microservice/aslan/core/common/repository/models/dockerfile.go
  pkg/microservice/aslan/core/common/repository/models/task/docker_build.go
  pkg/microservice/aslan/core/common/repository/mongodb/chart.go
  pkg/microservice/aslan/core/common/repository/mongodb/dockerfile.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_cluster_relation.go
  pkg/microservice/aslan/core/common/service/template/chart.go
  pkg/microservice/aslan/core/common/service/template/dockerfile.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/common/service/template/yaml.go
  pkg/microservice/aslan/core/common/service/template_store.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/dockerfile.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/repository/models/chart.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
Labels: service/aslan, service/reaper, service/warpdrive

#871 Fix the build log could not be displayed if workflow names were in uppercase letters
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#872 cherry-pick 1.8.0 #871
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#870 rm private key related service
  pkg/microservice/aslan/core/common/service/pm/env_status.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/setting/consts.go
Labels: service/aslan, common

#873 cherry-pick #870
  pkg/microservice/aslan/core/common/service/pm/env_status.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/setting/consts.go
Labels: service/aslan, common

#864 Fix project cluster problem
  .github/labeler.yml
  hack/update-copyright.sh
  pkg/cli/upgradeassistant/cmd/migrate/180.go
  pkg/cli/upgradeassistant/internal/repository/models/cluster.go
  pkg/cli/upgradeassistant/internal/repository/models/product.go
  pkg/cli/upgradeassistant/internal/repository/models/project.go
  pkg/cli/upgradeassistant/internal/repository/models/project_cluster_relation.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/cluster.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/project.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/project_cluster_relation.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#874 cherry pick to 1.8.0
  pkg/cli/upgradeassistant/cmd/migrate/180.go
  pkg/cli/upgradeassistant/internal/repository/models/cluster.go
  pkg/cli/upgradeassistant/internal/repository/models/project.go
  pkg/cli/upgradeassistant/internal/repository/models/project_cluster_relation.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/cluster.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/project.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/project_cluster_relation.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#875 revert code
  pkg/cli/upgradeassistant/internal/repository/mongodb/product.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/registry_namespace.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#876 If it is a local cluster, we need to return the project relationship
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#878 cherry pick to 1.8.0
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#885 data sync
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#886 cherry-pick #885
  pkg/microservice/aslan/core/environment/service/pm.go
Labels: service/aslan

#888 create local cluster in ua
  pkg/cli/upgradeassistant/cmd/migrate/180.go
  pkg/cli/upgradeassistant/internal/repository/models/cluster.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
Labels: service/aslan

#889 cherry pick to 1.8.0
  pkg/cli/upgradeassistant/cmd/migrate/180.go
  pkg/cli/upgradeassistant/internal/repository/models/cluster.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
Labels: service/aslan

#890 fixed a bug where getDefaultRegistry returned an unexpected response
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#891 fixed a bug where getDefaultRegistry returned an unexpected response
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#894 fixed an error where set a registry to not-default willl cause unexpe…
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#893 fixed an error where set a registry to not-default will cause unexpe…
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#895 share service bug
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#896 cherry-pick # 895
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#897 remove check image registry id
  pkg/microservice/aslan/core/environment/handler/environment.go
Labels: service/aslan

#898 cherry-pick release-1.8.0
  pkg/microservice/aslan/core/environment/handler/environment.go
Labels: service/aslan

#892 fix bug of uploading workspace cache
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#899 bugfix for default registries
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#901 fix secret bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#902 fix secret bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#908 fix the problem that the local cluster cannot connect to the minio across ns
  pkg/microservice/aslan/core/common/service/s3/s3.go
Labels: service/aslan

#911 cherry-pick #892 and #908
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/aslan, service/reaper

#910 hubserver 180 bug
  pkg/tool/remotedialer/server.go
Labels: common

#912 If the cluster has not changed, the last httpTransport is returned
  pkg/tool/remotedialer/server.go
Labels: common

#914 fix helm InstallOrUpgradeChart timeout panic
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/setting/consts.go
Labels: service/aslan, service/warpdrive, common

#915 cherry-pick #914
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/setting/consts.go
Labels: service/aslan, service/warpdrive, common

#923 fix deletesecret bug
  pkg/tool/kube/updater/secret.go
Labels: common

#924 dont upload cache if user dont enable cache
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#921 Fixed a bug where s3 subpath will have an influence on job creation
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#916 list jenkins integration API is now public
  pkg/microservice/aslan/core/system/handler/jenkins.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/aslan, service/policy

#927 cherry-pick #923
  pkg/tool/kube/updater/secret.go
Labels: common

#928 cherry-pick 921
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#929 bugfix for huawei registry
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/reaper/core/service/reaper/docker.go
Labels: service/aslan, service/reaper

#930 cherrypick 929
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/reaper/core/service/reaper/docker.go
Labels: service/aslan, service/reaper

#823 add label models
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/label/config/consts.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/handler/labelsbinding.go
  pkg/microservice/aslan/core/label/handler/router.go
  pkg/microservice/aslan/core/label/repository/models/label.go
  pkg/microservice/aslan/core/label/repository/models/labelbinding.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#932 no wait when installing helm chart
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#904 Test management supports notification
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/service/instantmessage/dingTalk.go
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/wechatwork.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/wechat/service.go
Labels: service/aslan

#934 enhance workflow variable type
  hack/boilerplate.go.txt
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
Labels: service/aslan, service/warpdrive

#943 minor improvement to the validate bucket function
  pkg/tool/s3/client.go
Labels: service/aslan

#942 refactor label system
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/handler/labelsbinding.go
  pkg/microservice/aslan/core/label/handler/router.go
  pkg/microservice/aslan/core/label/repository/models/labelbinding.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
Labels: service/aslan

#937 gitlab branch page default value bugfix
  pkg/microservice/aslan/core/code/handler/codehost.go
Labels: service/aslan

#945 fix host env deploy bug
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#946 labels bugfix
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
Labels: service/aslan

#954 Hotfix/wd deployed return
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#953 fix issues with aslan oom in 1.5.0 version
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#950 fix environment update shared-services fail bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#952 clear webhook when deleting test modules
  pkg/microservice/aslan/core/common/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#960 add collaboration sync
  pkg/microservice/aslan/core/collaboration/repository/models/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/delivery/handler/policy_definitions.go
  pkg/microservice/aslan/core/environment/handler/policy_definitions.go
  pkg/microservice/aslan/core/label/handler/label_binding.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
  pkg/microservice/aslan/core/project/handler/policy_definitions.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/policy_definitions.go
  pkg/microservice/aslan/core/workflow/testing/handler/policy_definitions.go
  pkg/microservice/policy/core/handler/policy.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/policy.go
  pkg/microservice/policy/core/service/policy.go
  pkg/shared/client/label/label.go
  pkg/shared/client/label/label_binding.go
  pkg/shared/client/policy/policy.go
  pkg/shared/client/policy/role.go
Labels: service/aslan, common, service/policy

#963 fixed aslan calling itself bug
  pkg/middleware/gin/audit_log.go
  pkg/shared/client/aslan/audit_log.go
  pkg/shared/handler/base.go
Labels: common

#957 Workflow history task lists support filtering
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
Labels: service/aslan, service/warpdrive

#964 Fixed concurrency issues with Aslan and WarpDrive helm Install
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#961 fixed list regisrtries will not return the correct SK for huawei registry
  pkg/microservice/aslan/core/common/service/registry.go
Labels: service/aslan

#967 Data stat migrate
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/stat/dashboard/handler/build.go
  pkg/microservice/aslan/core/stat/dashboard/handler/deploy.go
  pkg/microservice/aslan/core/stat/dashboard/handler/overview.go
  pkg/microservice/aslan/core/stat/dashboard/handler/router.go
  pkg/microservice/aslan/core/stat/dashboard/handler/test.go
  pkg/microservice/aslan/core/stat/dashboard/repository/models/build.go
  pkg/microservice/aslan/core/stat/dashboard/repository/models/deploy.go
  pkg/microservice/aslan/core/stat/dashboard/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/dashboard/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/dashboard/service/build.go
  pkg/microservice/aslan/core/stat/dashboard/service/deploy.go
  pkg/microservice/aslan/core/stat/dashboard/service/overview.go
  pkg/microservice/aslan/core/stat/dashboard/service/test.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#968 Fixed managed project service name jump workLoadType parameter undefined
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#959 webhook support tag event
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#970 add devops code
  pkg/microservice/aslan/core/stat/dashboard/handler/test.go
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/build_stat.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/deploy_stat.go
  pkg/microservice/aslan/core/stat/handler/overview.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/test.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/stat/repository/models/build.go
  pkg/microservice/aslan/core/stat/repository/models/deploy.go
  pkg/microservice/aslan/core/stat/repository/models/test.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/repository/mongodb/test.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/stat/service/build_stat.go
  pkg/microservice/aslan/core/stat/service/deploy.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/aslan/core/stat/service/test.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/cron/core/service/client/stat.go
Labels: service/aslan, service/cron

#975 increase buffer for webhook trigger channel
  pkg/microservice/aslan/core/common/service/webhook/controller.go
Labels: service/aslan

#978 collaboration add sync resource
  pkg/microservice/aslan/core/collaboration/config/consts.go
  pkg/microservice/aslan/core/collaboration/handler/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/handler/router.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/label/handler/label_binding.go
  pkg/microservice/aslan/core/label/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/middleware/gin/collaboration.go
  pkg/shared/client/label/label.go
  pkg/shared/client/policy/policy.go
Labels: service/aslan, common

#974 fix ascode tag trigger bug
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#976 mask secret envs when running user's script
  pkg/microservice/reaper/core/service/reaper/script.go
Labels: service/reaper

#972 git repo add committer
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#973 Devops api migration
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/stat/service/deploy.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
Labels: service/aslan, service/cron

#980 Open data statistics and devOps insights
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/build_stat.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/deploy_stat.go
  pkg/microservice/aslan/core/stat/handler/overview.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/test.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/stat/repository/models/build.go
  pkg/microservice/aslan/core/stat/repository/models/deploy.go
  pkg/microservice/aslan/core/stat/repository/models/test.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/repository/mongodb/test.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/stat/service/build_stat.go
  pkg/microservice/aslan/core/stat/service/deploy.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/aslan/core/stat/service/test.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/cron/core/service/client/stat.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
Labels: service/aslan, service/cron

#958 fix service webhook be deleted unexpected bug
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#913 service module parse logic optimization
  pkg/util/yaml/path_search.go
  pkg/util/yaml/path_search_test.go
Labels: common

#982 support to deploy relese with status superseded
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#977 Supports multiple rollback policies for image versions
  pkg/microservice/aslan/core/common/repository/models/task/deploy.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/config/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/types/task/deploy.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/setting/consts.go
Labels: service/aslan, service/warpdrive, common

#988 remove uninstall release logic
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#989 remove uninstall release logic
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/warpdrive

#992 fixed operation log failed to update status code
  pkg/shared/handler/base.go
Labels: common

#993 fixed operation log failed to update status code
  pkg/shared/handler/base.go
Labels: common

#991 Enhance the function of deleting the default image registry
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#994 Enhance the function of deleting the default image registry
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#997 Microservice deployment statistics increase sorting
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
Labels: service/aslan

#998 Microservice deployment statistics increase sorting
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
Labels: service/aslan

#995 fix resetImagePolicy
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
Labels: service/aslan

#999 fix resetImagePolicy cherry-pick
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
Labels: service/aslan

#965 ua for generate labels for production env
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/internal/repository/models/oldpolicy.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
Labels: service/aslan

#1000 fix devops data issue
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/aslan/core/stat/service/test.go
Labels: service/aslan

#1001 cherry pick to 1.9.0
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_artifact.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/aslan/core/stat/service/test.go
Labels: service/aslan

#1002 add proxy
  pkg/microservice/systemconfig/core/codehost/internal/oauth/oauth.go
Labels: service/config

#955 permission
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/service/role.go
  pkg/microservice/policy/core/service/role_binding.go
  pkg/shared/client/label/client.go
  pkg/shared/client/policy/policy.go
  pkg/shared/handler/base.go
Labels: service/aslan, common, service/policy

#996 delete related collaboration resources when delete project
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#971 feature: create/update environment on existing namespace
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/setting/consts.go
Labels: service/aslan, common

#1004 resrouce root bugfix
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
Labels: service/policy

#985 support pvc cache
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/internal/repository/models/build.go
  pkg/cli/upgradeassistant/internal/repository/models/testing.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/build.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/testing.go
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/models/task/testing.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/s3.go
  pkg/microservice/aslan/core/multicluster/handler/cache.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/multicluster/service/constants.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/testing.go
  pkg/microservice/warpdrive/core/service/types/task/warpdrive.go
  pkg/shared/handler/base.go
  pkg/types/cache.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#1007 add default cache when creating cluster
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#1008 support for getting logs of abnormal Pods on EKS
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/tool/kube/containerlog/log.go
Labels: service/warpdrive, common

#1009 cherry-pick #1008
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/tool/kube/containerlog/log.go
Labels: service/warpdrive, common

#1010 policy ref
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
Labels: service/policy

#1011 improve cache strategy
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/multicluster/service/constants.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1012 policy generate bug fix
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
Labels: service/policy

#1013 support parse envs in cache dir
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#1014 adjust job completion logic to ensure wd logic works as expected
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/executor/executor.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/types/job.go
Labels: service/reaper, service/warpdrive

#1015 update collaboration sync resource
  pkg/microservice/aslan/core/collaboration/handler/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/handler/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/repository/models/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
  pkg/microservice/policy/core/handler/policy_binding.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/middleware/gin/collaboration.go
  pkg/shared/client/policy/policy.go
  pkg/shared/handler/base.go
Labels: service/aslan, common, service/policy
