Repository koderover/zadig, pull requests merged in 2022-05, with the labels that each got.

#1457 pm add permission
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/policy/core/handler/policy_meta_registration.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
Labels: service/aslan, service/policy

#1458 dont enable buildkit feature by default
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#1462 get workflow add release interface
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1463 cherry-pick #1462
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
Labels: service/aslan

#1464 policyMeta interface miss `Service` meta
  pkg/microservice/policy/core/service/policy_meta_registration.go
Labels: service/policy

#1465 gitee pull request add comment
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/service/gitee/comment.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/tool/gitee/comment.go
Labels: service/aslan, common

#1467 gitee pull request add comment cherry pick
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/service/gitee/comment.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/tool/gitee/comment.go
Labels: service/aslan, common

#1471 remove useless log in EnvoyFilter
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#1408 service global variable enhancement
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1475 fix typo
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#1470 service auto deploy into envs
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1479 fix service auto deploy bug
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
Labels: service/aslan

#1480 Optimized YAML verification error message
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#1478 Enable filter for branch and tags
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/types/repo.go
Labels: service/aslan

#1482 added filter for default branch
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#1483 cherry-pick #1468 and #1471
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#1474 add release view
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/setting/consts.go
  pkg/util/yaml/compare.go
  pkg/util/yaml/compare_test.go
  pkg/util/yaml/path_search_test.go
Labels: service/aslan, common

#1490 yaml variable substitution indent length Settings
  pkg/microservice/aslan/core/common/service/render.go
Labels: service/aslan

#1487 add release field to workflowtask interface
  go.mod
  go.sum
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/types/dto/workflowtask.go
Labels: service/aslan, service/warpdrive

#1491 fix wardrive panic issue
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
Labels: service/warpdrive

#1488 fix filter problem for multiple service modules
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1492 Bugfix for panic in wd when a scanning is triggered by gitlab
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#1493 fixed when there are no hook ctl it will cause aslan to panic
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#1496 sonar image initialization & upgrade
  pkg/cli/upgradeassistant/cmd/migrate/1120.go
  pkg/cli/upgradeassistant/internal/repository/models/basic_images.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/basic_imnages.go
  pkg/microservice/aslan/core/system/service/basic_images.go
Labels: service/aslan

#1497 add login interface public
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1503 update public login url
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1505 remove authorization requirement for get sonar integration
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
Labels: service/policy

#1509 fix bug of selecting dind for attached cluster & use consistent hashing for selecting dind
  go.mod
  go.sum
  pkg/microservice/warpdrive/core/service/common/dockerhosts.go
  pkg/microservice/warpdrive/core/service/common/dockerhosts_test.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: service/warpdrive

#1499 frontend policy
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/aslan/core/label/config/consts.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/role_binding.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/service/policy.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
Labels: service/aslan, service/policy

#1515 Handle the problem of incomplete splicing url in gerrit comment
  go.mod
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
Labels: service/aslan

#1502 the service supports import from gitee and automatic synchronization of webhook
  go.mod
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/gitee/client.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/tool/gitee/repositories.go
  pkg/util/file.go
Labels: service/aslan, common

#1514 Hosts support HTTP health check
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_pm.go
  pkg/microservice/cron/core/service/service.go
  pkg/types/private_key.go
Labels: service/aslan, service/cron

#1516 fix bug: should only get pr for github repo
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
Labels: service/warpdrive

#1461 make permission easy to config
  go.mod
  go.sum
  pkg/cli/initconfig/cmd/admin.yaml
  pkg/cli/initconfig/cmd/contributor.yaml
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/initconfig/cmd/project-admin.yaml
  pkg/cli/initconfig/cmd/read-only.yaml
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/delivery/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/policy.yaml
  pkg/microservice/aslan/core/environment/handler/policy_meta.go
  pkg/microservice/aslan/core/project/handler/build_policy.yaml
  pkg/microservice/aslan/core/project/handler/policy_meta.go
  pkg/microservice/aslan/core/project/handler/service_policy.yaml
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/handler/policy_meta.go
  pkg/microservice/aslan/core/workflow/handler/system-policies.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy.yaml
  pkg/microservice/aslan/core/workflow/testing/handler/policy_meta.go
  pkg/microservice/policy/core/handler/policy_meta_registration.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/service/bundle/exemption_urls.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/resource_bundle.go
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/yamlconfig/meta.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/policy/core/yamlconfig/role.go
  pkg/microservice/policy/core/yamlconfig/role.yaml
  pkg/microservice/policy/core/yamlconfig/urls.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/policy/server/server.go
  pkg/setting/consts.go
  pkg/shared/client/policy/client.go
  pkg/shared/client/policy/policy.go
  pkg/shared/client/policy/role.go
  pkg/types/policy.go
  pkg/util/deepcopy/deepcopy.go
Labels: service/aslan, common, service/policy

#1518 fix panic when job not found
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#1517 reaper: upload dir to s3 recursively
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/tool/s3/client.go
Labels: service/reaper, common

#1519 fix webhook remove fail bug
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common, service/config

#1520 Code integration to add aliases
  go.mod
  pkg/cli/upgradeassistant/cmd/migrate/1120.go
  pkg/cli/upgradeassistant/internal/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
Labels: service/config

#1522 permission
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/setting/consts.go
Labels: common, service/policy

#1526 fix scan typo & miss url
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#1510 support tag event for github & gitlab
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/aslan, service/warpdrive

#1532 admin add *
  pkg/microservice/policy/server/server.go
Labels: service/policy

#1533 cherry-pick #1532
  pkg/microservice/policy/server/server.go
Labels: service/policy

#1536 set cron config status success && add timeout
  pkg/microservice/aslan/core/system/service/system_cache.go
Labels: service/aslan

#1521 Import a service from an existing environment
  go.mod
  go.sum
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/tool/kube/getter/base.go
  pkg/tool/kube/getter/configmap.go
  pkg/tool/kube/getter/deployment.go
  pkg/tool/kube/getter/ingress.go
  pkg/tool/kube/getter/pvc.go
  pkg/tool/kube/getter/secrets.go
  pkg/tool/kube/getter/service.go
  pkg/tool/kube/getter/statefulset.go
Labels: service/aslan, common, service/policy

#1151 optimize logic of fetch code from git repos
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/workspace.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/repository/models/chart.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/sets.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/common/service/utils.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/webhook/types.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/webhook/codehub_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/types/repo.go
Labels: service/aslan, service/cron, service/reaper, service/warpdrive

#1527 remove init job preset role && permission urls
  pkg/cli/initconfig/cmd/admin.yaml
  pkg/cli/initconfig/cmd/contributor.yaml
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/initconfig/cmd/project-admin.yaml
  pkg/cli/initconfig/cmd/read-only.yaml
  pkg/cli/initconfig/cmd/read-project-only.yaml
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/policy/core/yamlconfig/role.yaml
Labels: service/policy

#1539 Optimize the general git integration function
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/types/repo.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#1542 Fixed a bug where new field in serviceModuleTarget will cause distribute to fail
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1543 Cherrypick #1542
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1546 fix partial service index out of bounds
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1545 fix testing notify message missing description
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#1549 cherry-pick #1545
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#1548 cherry-pick:pr:1546
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1551 test center remove create action
  pkg/microservice/policy/core/service/policy_meta_registration.go
Labels: service/policy

#1552 cherry-pick #1551
  pkg/microservice/policy/core/service/policy_meta_registration.go
Labels: service/policy

#1553 fix partial service index out of bounds
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1554 cherry-pick:pr:1553
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1556 fix render data miss bug after deploy
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/microservice/warpdrive/core/service/types/renderset.go
Labels: service/warpdrive

#1558 cherry pick #1556
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/microservice/warpdrive/core/service/types/renderset.go
Labels: service/warpdrive

#1555 Fix ssh pull code issue
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/reaper

#1547 Fix ssh pull code problem
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/reaper

#1563 Fix the problem that the service cannot restart
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1564 cherry-pick #1563
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1550 add env setting ability
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/build.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/templatestore/service/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1561 cherry-pick #1550
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/build.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/templatestore/service/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1562 The namespace field of codehost is no longer relied on in business logic
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1566 The namespace field of codehost is no longer relied on in business logic
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#1570 fix collaboration bulk create workflow error
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1568 fix codehost not found bug
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#1571 cherry-pick:pr:1570
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1569 fix codehost not found bug
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#1572 Cherrypick/1567
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#1567 cancel function implemented for scanning
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#1574 fix github list project bug & fix build create duplicate id bug
  pkg/microservice/aslan/core/code/client/github/github.go
  pkg/microservice/aslan/core/common/repository/mongodb/build_template.go
  pkg/microservice/aslan/core/common/service/github/repository.go
  pkg/tool/git/github/repositories.go
Labels: service/aslan, common

#1575 cherry-pick 1574
  pkg/microservice/aslan/core/code/client/github/github.go
  pkg/microservice/aslan/core/common/repository/mongodb/build_template.go
  pkg/microservice/aslan/core/common/service/github/repository.go
  pkg/tool/git/github/repositories.go
Labels: service/aslan, common

#1578 Test task codehost display pr bugfix
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1573 enable submodules and checkout Path related logic for code scanning
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#1581 cherry-pick #1578
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1580 fix gerrit webhook review and service update problem
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/service/service/loader.go
Labels: service/aslan

#1579 fix gerrit webhook review and service update problem
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/service/service/loader.go
Labels: service/aslan

#1538 reaper: avoid change origin job info since it may be retried
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/types/object_storage.go
Labels: service/reaper, service/warpdrive

#1586 cherrypick 1538
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/types/object_storage.go
Labels: service/reaper, service/warpdrive

#1583 fix collaboration bulk create product error and reset instance when remove mode
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1587 cherry-pick:pr:1583
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1591 cherry-pick #1576
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/hubserver/core/repository/models/models.go
  pkg/microservice/hubserver/core/repository/mongodb/k8scluster.go
  pkg/microservice/hubserver/core/service/service.go
Labels: service/aslan, service/hubserver

#1592 add api auth
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#1593 cherry-pick #1592
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#1590 fix yaml trigger webhook problem
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1594 fix default image error for scanning
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#1597 cherry-pick #1596
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/hubserver/core/service/service.go
Labels: service/aslan, service/hubserver

#1596 fix Clusters can be connected to HubAgent
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/hubserver/core/service/service.go
Labels: service/aslan, service/hubserver

#1598 fix collaboration nil pointer
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common

#1599 cherry-pick:pr:1598
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common

#1600 fixed submodule not working problem
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/warpdrive

#1602 fix collaboration create product with wrong namespace
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1603 cherry-pick:pr:1602
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1604 fixed get scanning task info error
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#1605 cherrypick 1604
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan
