Repository koderover/zadig, pull requests merged in 2022-06, with the labels that each got.

#1611 cherry-pick #1610
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#1614 add repo namespace resp
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1619 Fixed failure to get service instance details due to RenderSet version error
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1620 cherry-pick#1619
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#1618 Fix the bug of deleting cloud host builds
  go.mod
  go.sum
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
Labels: service/aslan

#1622 pod add nodename && hostip
  pkg/shared/kube/resource/pod.go
  pkg/shared/kube/wrapper/pod.go
Labels: common

#1621 event first time can be null
  pkg/shared/kube/wrapper/event.go
Labels: common

#1625 fix collaboration nil pointer
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common

#1626 cherry-pick:pr:1625
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/middleware/gin/collaboration.go
Labels: service/aslan, common

#1631 fix collaboration nil pointer when project type is pm
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#1633 cherry-pick:pr:1631
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#1629 Optimize the problem that gitlab accesstoken expires in 2 hours
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gitlab/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/git/gitlab/client.go
  pkg/tool/gitee/client.go
Labels: service/aslan, common, service/config

#1635 Optimize the problem that gitlab accesstoken expires in 2 hours cherrypick
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gitlab/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/git/gitlab/client.go
  pkg/tool/gitee/client.go
Labels: service/aslan, common, service/config

#1638 Modify the parameters for refreshing the access token
  pkg/tool/git/gitlab/client.go
Labels: common

#1640 fix add all services to env when user add only one service
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1641 cherry-pick:pr:1640
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1642 fix product service update error
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1643 cherry-pick 1642
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1644 fix bug of querying subenvs which are not related projects
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
Labels: service/aslan

#1645 cherry-pick #1644
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
Labels: service/aslan

#1647 all user permission
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#1648 cherry-pick #1647
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#1657 fix error return deleting all svcs from environment
  pkg/microservice/aslan/core/common/service/environment.go
Labels: service/aslan

#1658 fix github list project not found bug
  pkg/tool/git/github/repositories.go
Labels: common

#1659 cherry-pick 1658
  pkg/tool/git/github/repositories.go
Labels: common

#1656 add image filter logic when creating versions
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/helm.go
Labels: service/aslan

#1670 support validating ephemeralcontainers in podexec
  pkg/microservice/podexec/core/service/ws_terminal.go
  pkg/shared/kube/wrapper/pod.go
  pkg/shared/kube/wrapper/utils.go
Labels: service/podexec, common

#1671 add enable_debug_container field when listing workload info
  pkg/shared/kube/resource/pod.go
  pkg/shared/kube/wrapper/pod.go
Labels: common

#1673 check whether user has canceled task when touching msg
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
Labels: service/warpdrive

#1674 add EphemeralContainer image info when listing workloads
  pkg/shared/kube/wrapper/pod.go
Labels: common

#1676 fix registry error when running workflows
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1672 fix resource label miss bug
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/ingress.go
  pkg/microservice/aslan/core/environment/service/pvc.go
  pkg/microservice/aslan/core/environment/service/secret.go
Labels: service/aslan

#1663 cvm resource management
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/mongodb/private_key.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan, service/policy

#1669 a new service with the same name needs to be given a prompt
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan, service/policy

#1677 fix error message for duplicate workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1682 fix helm dev delete ns bug
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1683 cherry-pick 1682
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1684 fix helm workload change image tag fail bug
  pkg/microservice/aslan/core/environment/service/image.go
Labels: service/aslan

#1685 cherry-pick 1684
  pkg/microservice/aslan/core/environment/service/image.go
Labels: service/aslan

#1686 fixed repeated failure of update service template
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#1687 cherry-pick:pr:1686
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#1691 fix panic when workflow args were nil
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
Labels: service/aslan

#1666 added dind custom image support for external clusters
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/setting/consts.go
Labels: service/aslan, common

#1697 cherrypick #1666
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/setting/consts.go
Labels: service/aslan, common

#1698 cherry pick 1691
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
Labels: service/aslan

#1696 cherry-pick 1692
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#1699 fix bugs when image name contains underline for helm services
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#1701 fix bug of filter workload by service module
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1700 cherry-pick 1699 && 1701
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#1711 optimize service status
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/shared/kube/resource/pod.go
  pkg/shared/kube/wrapper/pod.go
Labels: service/aslan, common

#1703 fix collaboration mode helm scene null pointer
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#1688 update helm service update logic
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#1717 update EphemeralContainer ready status
  pkg/shared/kube/wrapper/pod.go
Labels: common

#1718 fix render query condition not accurate bug
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1716 support dind persistent cache & clean up dind cache in attached clusters
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/handler/cache.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/types/cache.go
  pkg/types/workload.go
Labels: service/aslan

#1719 cherry-pick from 1718
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#1714 optimize the logic of query workflow lists
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#1720 fix status data of workloads in helm projects
  pkg/microservice/aslan/core/common/service/environment.go
Labels: service/aslan

#1721 branch commit associated jira information
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
Labels: service/warpdrive
