Repository koderover/zadig, pull requests merged in 2022-09, with the labels that each got.

#1963 fix get log error when running on non local cluster
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1966 fix for list ernterprise workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#1953 yaml template support go template
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/yaml_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/yaml_template.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/common/service/template/yaml.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan, service/policy

#1970 cherry pick 1963
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#1971 cherry pick 1961
  pkg/microservice/aslan/core/common/service/workflow.go
Labels: service/aslan

#1972 fix goroutine leak when different project use the same PM
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
Labels: service/cron

#1975 fix custom workflow missing registry region info
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_docker_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#1976 Cherry pick 1975
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_docker_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#1974 add logic to update values.yaml
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common, service/policy

#1960 refactor custom workflow job controller
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_docker_build.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_git.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_shell.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/types/step/step_custom_deploy.go
  pkg/types/step/step_deploy.go
  pkg/types/step/step_helm_deploy.go
Labels: service/aslan

#1982 fix when artifact stage was nil
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1983 Cherry pick 1982
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#1986 fix git clone fails when repo adress have extra path
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/reaper

#1989 openapi for creating project and registry
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/project/handler/openapi.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/project/service/types.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/openapi.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/setting/regexp.go
Labels: service/aslan, common

#1991 update go mod
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/cache_manager.go
  pkg/microservice/aslan/core/workflow/service/workflow/gitlab.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/reaper_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/tool/gerrit/client.go
  pkg/tool/git/gitlab/merge_request.go
  pkg/tool/helmclient/helmclient.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/getter/ingress.go
  pkg/tool/remotedialer/client.go
  pkg/tool/remotedialer/peer.go
  pkg/tool/remotedialer/server.go
  pkg/tool/remotedialer/session.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#1979 add deploy jobs to custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/kube/updater/deployment.go
  pkg/tool/kube/updater/pod.go
  pkg/tool/kube/updater/service.go
Labels: service/aslan, common

#1999 update ee policy
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#2001 add public auth check
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#2002 add public auth connect
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#1995 add notify for custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
Labels: service/aslan

#2006 cherry-pick from 2005
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#1996 surpport refer testing modules in custom workflow
  pkg/cli/upgradeassistant/cmd/migrate/1150.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/testing.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/it_report.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tar_archive.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/it_report.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/jobexecutor/core/service/meta/types.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/picket/client/aslan/testing.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/testing.go
  pkg/microservice/picket/core/filter/service/testing.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/types/step/step_junit_report.go
  pkg/types/step/step_tar_archive.go
Labels: service/aslan, service/picket, service/policy

#2009 fix http return error
  pkg/tool/errors/errors.go
Labels: common

#2011 Bugfix/production compare
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/shedule_env_resource_update.go
Labels: service/aslan, service/cron

#2008 add cron trigger for custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/cronjob.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/cronjob.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/setting/consts.go
Labels: service/aslan, service/cron, common, service/policy

#2013 fix cluster reconnect bug
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/podexec/core/service/ws_terminal.go
Labels: service/aslan, service/podexec

#2012 eliminate custom workflow name length limit
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2014 add api policy for custom workflow testing result
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#2016 add test report api policy to workflow
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#2017 create gerrit webhook for custom workflow
  pkg/microservice/aslan/core/common/service/gerrit/gerrit.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/gerrit/http_client.go
Labels: service/aslan, common

#2018 do not copy workflow webhook info
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2019 fix get cluster info panic when cluster was deleted
  pkg/shared/kube/client/client.go
Labels: common

#2022 added repository info for freestyle job
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#2023 add multi arch support for offical plugins
  go.mod
  go.sum
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/jenkins-runner.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/jira-updater.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/mysql-runner.yaml
Labels: service/aslan

#2020 remove useless env name for onboarding ops workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#2027 cherry-pick:2021
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/policy/core/service/bundle/opa_bundle.go
  pkg/microservice/policy/core/service/bundle/resource_endpoint_mapping.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/yamlconfig/meta.go
  pkg/microservice/policy/core/yamlconfig/role.yaml
Labels: service/aslan, service/policy
