Repository koderover/zadig, pull requests merged in 2022-10, with the labels that each got.

#2032 Cherry pick 2031
  pkg/microservice/aslan/core/cron/handler/cron.go
Labels: service/aslan

#2031 when cron instance restarted, custom workflow will not trigger by cron
  pkg/microservice/aslan/core/cron/handler/cron.go
Labels: service/aslan

#2030 workflow name support Chinese and can be edit
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/microservice/aslan/core/collaboration/repository/models/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/repository/models/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan, service/policy

#2036 synced user is set to not logged in
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/user

#2035 fix typo: DisPlayName to DisplayName
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2033 add view for workflow
  pkg/microservice/aslan/core/common/repository/models/workflow_view.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_view.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_view.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_view.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common, service/policy

#2038 Add workflow display name to wherever we need it
  pkg/microservice/aslan/core/common/repository/models/delivery_version.go
  pkg/microservice/aslan/core/common/repository/models/notification.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/workflow_queue.go
  pkg/microservice/aslan/core/common/service/github/checks.go
  pkg/microservice/aslan/core/common/service/github/status.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/github.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/github/checks.go
  pkg/microservice/warpdrive/core/service/taskplugin/github/status.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
Labels: service/aslan, service/warpdrive

#2041 fix policy does not work
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#2037 workflow support merge batch prs into one.
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/microservice/aslan/core/common/repository/models/delivery_activity.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/types/repo.go
Labels: service/aslan, service/reaper, service/warpdrive

#2043 fix custom workflow missing webhook infos (Cherry pick 2042)
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#2039 jenkins plugin update
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/jenkins-runner.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/main.go
Labels: service/aslan

#2047 fix scanning timeout
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#2045 test reports should be collected for successful or failed task execution
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/executor/executor.go
Labels: service/reaper

#2044 clean extra message for list workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2048 add creation info for service templates
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#2051 batch update worklfow infos
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
Labels: service/aslan

#2057 remove docker check for docker host
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#2050 add build-in job to patch k8s resources
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_k8s_patch.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/shared/kube/client/client.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/multicluster/service.go
  pkg/tool/kube/updater/base.go
  pkg/tool/kube/updater/unstructured.go
Labels: service/aslan, common

#2062 create test result dirs before writing it
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#2059 update custom webhook status when start running task
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#2053 variablesets in project
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/variable.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/repository/mongodb/variable_set.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/handler/variable.go
  pkg/microservice/aslan/core/project/service/variable_set.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/cron, common, service/policy

#2064 update config
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/policy

#2056 add new job type for custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_rollback.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#2066 add api to update plugin repo
  pkg/microservice/aslan/core/common/repository/mongodb/plugin_repo.go
  pkg/microservice/aslan/core/workflow/handler/plugin_repo.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugin_repo.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan, service/policy

#2067 fix scan job failed
  pkg/microservice/reaper/core/service/reaper/archive.go
Labels: service/reaper

#2065 gitee ee support
  pkg/microservice/aslan/core/code/client/gitee/gitee.go
  pkg/microservice/aslan/core/code/client/open/open.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/service/gitee/client.go
  pkg/microservice/aslan/core/common/service/gitee/webhook.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/meta/const.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/git.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/setting/consts.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/gitee/branch.go
  pkg/tool/gitee/client.go
  pkg/tool/gitee/organizations.go
  pkg/tool/gitee/repositories.go
  pkg/tool/gitee/tag.go
  pkg/types/repo.go
Labels: service/aslan, service/reaper, common, service/config

#2069 when cancel a task, remove it form queue first
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#2071 add task create time and creator info
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2070 show custom workflow stat
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/common/service/workflowstat/workflow_stat.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan
