Repository koderover/zadig, pull requests merged in 2022-12, with the labels that each got.

#2160 only add the registries needed
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/warpdrive

#2164 cherry pick 2160
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/warpdrive

#2161 fix k8s update service bug
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#2162 cp from 2161
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#2166 clean configmap and job after task finished
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#2167 cherry pick 2166
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/warpdrive

#2176 fix(typo):fix typo.
  README-zh-CN.md
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: documentation

#2179 add workflow field to cron job
  pkg/microservice/cron/core/service/types.go
Labels: service/cron

#2182 change basic image logic
  pkg/microservice/aslan/core/system/service/basic_images.go
Labels: service/aslan

#2178 fix service self call bug
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/aslanx/client.go
  pkg/shared/client/aslanx/signature.go
  pkg/shared/client/policy/policy.go
  pkg/shared/client/policy/role.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/shared/client/systemconfig/connector.go
  pkg/shared/client/systemconfig/email.go
  pkg/shared/client/systemconfig/jira.go
Labels: common, service/config

#2183 fix git of other type will fail to pull from repository
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/system/service/basic_images.go
Labels: service/aslan

#2137 istio release job
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_rollback.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/multicluster/handler/cache.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/setting/consts.go
  pkg/shared/kube/client/client.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/multicluster/service.go
Labels: service/aslan, common

#2184 cherrypick #2137
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_rollback.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/multicluster/handler/cache.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/setting/consts.go
  pkg/shared/kube/client/client.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/multicluster/service.go
Labels: service/aslan, common

#2181 product workflow open api
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/shared/client/systemconfig/jira.go
  pkg/shared/handler/base.go
Labels: service/aslan, common

#2187 avoid scanning table when list workflow
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_stat.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#2192 added region for aws
  pkg/cli/upgradeassistant/cmd/migrate/140.go
  pkg/microservice/aslan/core/common/repository/models/s3.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/it_report.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/it_report.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/reaper/internal/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/setting/consts.go
  pkg/tool/s3/client.go
  pkg/types/object_storage.go
  pkg/types/step/common.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#2190 Fix missing length limit of task key label
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_package.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/job_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/setting/consts.go
  pkg/tool/crypto/sha1.go
  pkg/tool/kube/label/label.go
Labels: service/aslan, service/warpdrive, common

#2191 add user settting data
  pkg/microservice/aslan/core/init/mysql.sql
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/repository/models/user_setting.go
  pkg/microservice/user/core/repository/orm/user_setting.go
  pkg/microservice/user/core/service/user/user.go
  pkg/types/user.go
Labels: service/aslan, service/user

#2195 bugfix for missing region error
  pkg/tool/s3/client.go
Labels: common

#2180 Support lark external approval system
  go.mod
  go.sum
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/im_app.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/im_app.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/approval.go
  pkg/microservice/aslan/core/system/handler/lark.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/im_app.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
  pkg/tool/lark/approval.go
  pkg/tool/lark/client.go
  pkg/tool/lark/const.go
  pkg/tool/lark/contact.go
  pkg/tool/lark/model.go
  pkg/tool/lark/tool.go
  pkg/tool/lark/validate.go
Labels: service/aslan, service/cron, common, service/policy

#2200 Improve lark approval
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2198 Add status prepare for custom workflow job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_rollback.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_rollback.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_k8s_patch.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#2203 Add notification trigger status created
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
Labels: service/aslan, service/warpdrive

#2204 trim commit message
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2211 use mongo to store user settings
  pkg/microservice/aslan/core/init/mysql.sql
  pkg/microservice/aslan/core/service.go
  pkg/microservice/user/core/repository/models/user_setting.go
  pkg/microservice/user/core/repository/mongodb/user_setting.go
  pkg/microservice/user/core/repository/orm/user_setting.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan, service/user

#2212 Fix im notification in created status
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2213 fix cooperation bug when using release workflow
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/aslan/core/label/config/consts.go
Labels: service/aslan

#2215 Adjust to latest gitee API change
  pkg/tool/gitee/repositories.go
Labels: common

#2210 Dashboard
  pkg/microservice/aslan/core/common/repository/models/dashboard_config.go
  pkg/microservice/aslan/core/common/repository/mongodb/dashboard_config.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/system/handler/configuration_management.go
  pkg/microservice/aslan/core/system/handler/dashboard.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/workflow.go
  pkg/microservice/picket/core/filter/service/workflow.go
Labels: service/aslan, service/picket

#2218 fixed gitee API returning empty files
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
Labels: service/aslan

#2217 fix ssh load chart error
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
Labels: service/aslan

#2220 multiple bugfixes
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan, service/user

#2219 Bugfix/cvm env update
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#2221 Possible fix to multiple gitlab related error
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/git/gitlab/token.go
  pkg/tool/gitee/client.go
Labels: service/aslan, common

#2223 Multiple bugfix
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/system/service/types.go
Labels: service/aslan

#2224 dashboard features
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/shared/handler/base.go
Labels: service/aslan, common

#2225 optimize k8s render logic
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/util/converter/flatten.go
Labels: service/aslan, common

#2226 fix gerrit load file cache fail bug
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
Labels: service/aslan

#2222 fix multi bugs
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#2228 fix gerrit bugs
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/jobexecutor/core/service/cmd/git.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/cmd/git.go
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/aslan, service/reaper

#2227 fix k8s variable error
  pkg/cli/upgradeassistant/cmd/migrate/1160_vars.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#2230 fix jenkins job sse logs
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#2229 fix multi bugs
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/shared/client/systemconfig/jira.go
Labels: service/aslan, service/warpdrive, common

#2207 Fix an error where workflow with build template will not show logs
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#2233 Add more field for display
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/system/service/types.go
Labels: service/aslan
