Repository koderover/zadig, pull requests merged in 2023-10, with the labels that each got.

#3074 fix sonar integration authorization errors
  pkg/microservice/aslan/core/system/handler/sonar.go
Labels: service/aslan

#3055 feat: workflow mysql job
  docker/aslan.Dockerfile
  docker/cron.Dockerfile
  docker/executor.Dockerfile
  docker/hub-agent.Dockerfile
  docker/hub-server.Dockerfile
  docker/init.Dockerfile
  docker/jenkins-plugin.Dockerfile
  docker/packager-plugin.Dockerfile
  docker/predator-plugin.Dockerfile
  docker/resource-server.Dockerfile
  docker/ua.Dockerfile
  docker/user.Dockerfile
  docker/warpdrive.Dockerfile
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/db_instance.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_template.go
  pkg/microservice/aslan/core/common/service/dbinstance.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sql.go
  pkg/microservice/aslan/core/system/handler/database.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/main.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/mysql-runner.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3077 add svc resource parse logic
  pkg/microservice/aslan/core/service/service/service.go
  pkg/tool/git/gitlab/repo.go
Labels: service/aslan, common

#3076 Fix product workflow aws s3
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/s3/s3.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/reaper/internal/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/s3/s3.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
Labels: service/aslan, service/reaper, service/warpdrive

#2992 add asset management feature
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/cli/upgradeassistant/cmd/migrate/130.go
  pkg/cli/upgradeassistant/cmd/root.go
  pkg/microservice/aslan/core/common/repository/models/helm_repo.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/repository/models/s3.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/helm_repo.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/repository/mongodb/registry_namespace.go
  pkg/microservice/aslan/core/common/repository/mongodb/s3.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/common/service/repository/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/s3.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/resource.go
  pkg/microservice/user/core/service/permission/types.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/multicluster.go
  pkg/shared/client/user/user_auth.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3082 modify get yaml service structure lgoic
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#3085 fix: improve workflow_task index
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
Labels: service/aslan

#3087 add proudction svc structure support
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/production_service.go
Labels: service/aslan

#3088 allow to create empty env for testing
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
Labels: service/aslan

#3081 add version management feature for service
  go.mod
  go.sum
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/common/repository/models/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/repository/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage_custom.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/version.go
  pkg/microservice/aslan/core/service/service/version.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/warpdrive, common

#3086 token enhancements
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/security.go
  pkg/microservice/aslan/core/system/service/security.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/user/config/config.go
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/microservice/user/core/handler/permission/permission.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/permission/authn.go
  pkg/microservice/user/core/service/permission/opa.go
  pkg/microservice/user/core/service/permission/rego/authz.rego
  pkg/microservice/user/core/service/permission/rego/urls.yaml
  pkg/microservice/user/server/grpc/server.go
  pkg/microservice/user/server/server.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/system.go
  pkg/tool/cache/icache.go
  pkg/tool/cache/redis_cache.go
Labels: service/aslan, common

#3090 fix helm chart deploy job panic
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3083 fix registry permission bug
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/system/handler/registry.go
Labels: service/aslan

#3091 fix: prepare retry workflow data should ignore skipped job
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3092 fix codehost refresh token bug for project integration
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
Labels: service/aslan, common

#3095 fix api authorization problem
  pkg/microservice/aslan/core/system/handler/proxy.go
Labels: service/aslan

#3094 fix helm svc apply error
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#3098 fix authentication & authorization errors
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/user/core/service/permission/authn.go
  pkg/microservice/user/server/grpc/server.go
  pkg/shared/client/aslan/registries.go
Labels: service/aslan, common

#3100 fix sonar openapi problem
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
Labels: service/aslan

#3099 fix: update cluster createDynamicPVC
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3101 set branch info for test tasks triggerd by webhook
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#3104 fix init s3 storage don't belong to any project
  pkg/microservice/aslan/core/common/repository/mongodb/s3.go
Labels: service/aslan

#3106 fix global variable affect svc list error
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#3097 fix env service version
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3107 fix: warpdrive ServiceRender field type
  pkg/microservice/warpdrive/core/service/types/task/model.go
Labels: service/warpdrive

#3105 improve delivery deploy create version code
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#3093 fix zadig agent phase 2 bugs
  pkg/cli/zadig-agent/helper/log/job_log.go
  pkg/cli/zadig-agent/internal/agent/job/job_executor.go
  pkg/cli/zadig-agent/internal/agent/reporter/reporter.go
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/service/private_key.go
Labels: service/aslan

#3109 fix helm repo management action alias
  pkg/microservice/user/core/service/permission/resource.go
Labels: service/aslan

#3108 improve: enable regclient log and update version
  go.mod
  go.sum
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
Labels: service/reaper

#3111 fix env svc version default values bug for helm project
  pkg/microservice/aslan/core/environment/service/version.go
Labels: service/aslan

#3115 cp #2866 to release-ee-1.5.1
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/tool/errors/http_errors.go
  pkg/types/workload.go
Labels: service/aslan, common

#3122 refactor: distribute image use docker cli
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
Labels: service/reaper

#3123 cp 3122
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
Labels: service/reaper

#3120 remove Render filed from common product
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
Labels: service/aslan

#3119 add projects permission suppport for db instance intergration
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/microservice/aslan/core/common/repository/models/db_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/db_instance.go
  pkg/microservice/aslan/core/common/service/dbinstance.go
  pkg/microservice/aslan/core/system/handler/database.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/resource.go
  pkg/microservice/user/core/service/permission/types.go
  pkg/shared/client/user/user_auth.go
Labels: service/aslan, common

#3117 merge zadig and zadigX logic
  pkg/cli/initconfig/cmd/init.go
  pkg/config/config.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/handler/initialization.go
  pkg/microservice/aslan/core/system/service/initialization.go
  pkg/microservice/user/config/config.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/login/local.go
  pkg/middleware/gin/license.go
  pkg/setting/consts.go
  pkg/shared/client/plutusvendor/plutusvendor.go
Labels: service/aslan, common

#3127 added license error as general error & ua merge
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/tool/errors/http_errors.go
Labels: common

#3126 merge zadig and zadigx
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/system/handler/approval.go
  pkg/microservice/aslan/core/system/handler/custom_theme.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/microservice/aslan/core/system/handler/observability.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/s3.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/microservice/user/core/handler/user/user_group.go
  pkg/shared/client/plutusvendor/plutusvendor.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3128 user group api merges
  pkg/microservice/aslan/core/project/handler/product.go
Labels: service/aslan

#3130 project integration & variable sets logic update
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/variable.go
Labels: service/aslan

#3129 merge insight, delivery version and release plan
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/stat/handler/stat_v2.go
Labels: service/aslan

#3131 update workflow template, scanning and services
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/production_service.go
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
Labels: service/aslan

#3132 misc logic update
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
Labels: service/aslan

#3133 merge enviroment etc feature
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/service/handler/version.go
Labels: service/aslan

#3135 fix merge bug
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
Labels: service/aslan

#3136 workflow validation logic update
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3138 Bugfix/scanning webhook trigger
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#3137 fix merge bugs
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#3139 fix create project panic bug
  pkg/microservice/aslan/core/project/handler/product.go
Labels: service/aslan

#3140 fix update project template's auto deploy bug
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
Labels: service/aslan

#3145 fix merge zadig bugs
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/user/core/handler/permission/role.go
Labels: service/aslan

#3141 add workflow debug log
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
Labels: service/aslan

#3148 fix active users issue
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/plutusvendor/plutusvendor.go
  pkg/tool/cache/redis_cache.go
Labels: service/aslan, common

#3149 fix template workflow issue
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
Labels: service/aslan

#3152 duplicate user check
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#3151 update amazon eks cluster
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3156 fix error desc issue
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/user/core/handler/permission/role.go
Labels: service/aslan

#3157 fix user login issue
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#3161 add parael for data stat dashboard
  pkg/microservice/aslan/core/stat/service/stat_v2.go
Labels: service/aslan

#3162 cp 3161
  pkg/microservice/aslan/core/stat/service/stat_v2.go
Labels: service/aslan

#3163 fix scale and update default values bug
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#3164 cherry pick fix scale and update default values bug (#3163) to 2.0.0
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#3165 fix distribute image parse image name bug
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_distribute_image.go
Labels: service/aslan

#3166 cherry pick #3165 to 2.0.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_distribute_image.go
Labels: service/aslan

#3167 undo env sleep limit check
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#3168 cherry pick #3167 to 2.0.0
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#3169 fix user action initialization problem
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/service.go
Labels: service/aslan

#3170 fix user action initialization problem (#3169)
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/service.go
Labels: service/aslan

#3173 fix new user creation error
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#3172 optimize ua logic
  pkg/cli/upgradeassistant/cmd/migrate/1160_vars.go
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/cli/upgradeassistant/internal/repository/models/product.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/models/product.go
Labels: service/aslan

#3171 add error to list group func
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan
