Repository koderover/zadig, pull requests merged in 2023-01, with the labels that each got.

#2236 when there is only one build,use it as the default build
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#2237 Cherry pick 2236
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#2234 fix wrong build info when a service has multiple build
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#2242 fix yaml validator error
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2244 istio error message refine
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
Labels: service/aslan

#2248 fix variable overribale bug
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#2250 cp 2248
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#2209 Support Jira in workflow
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_management.go
  pkg/microservice/aslan/core/common/service/jira/jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/systemconfig/core/jira/handler/jira.go
  pkg/microservice/systemconfig/core/jira/handler/router.go
  pkg/microservice/systemconfig/core/jira/repository/models/jira.go
  pkg/microservice/systemconfig/core/jira/repository/mongodb/jira.go
  pkg/microservice/systemconfig/core/jira/service/jira.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/setting/consts.go
  pkg/shared/client/systemconfig/jira.go
  pkg/tool/errors/http_errors.go
  pkg/tool/jira/client.go
  pkg/tool/jira/issue.go
  pkg/tool/jira/project.go
  pkg/tool/jira/types.go
Labels: service/aslan, service/warpdrive, common, service/config, service/policy

#2240 optimize loigc of fetching ingress data
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/tool/kube/getter/deployment.go
  pkg/tool/kube/getter/service.go
  pkg/tool/kube/getter/statefulset.go
Labels: service/aslan, common

#2253 cherry-pick 2240
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/tool/kube/getter/deployment.go
  pkg/tool/kube/getter/service.go
  pkg/tool/kube/getter/statefulset.go
Labels: service/aslan, common

#2252 Improve configuration management code
  pkg/microservice/aslan/core/common/repository/mongodb/configuration_management.go
  pkg/microservice/aslan/core/system/handler/configuration_management.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
Labels: service/aslan

#2238 fix external product bug
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2256 cp from 2238
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2257 cp from 2238
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2258 fix product transfer bug
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2259 cherry-pick 2258
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2206 get policy for every release workflow
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/policy/core/handler/permission.go
  pkg/microservice/policy/core/handler/router.go
  pkg/microservice/policy/core/repository/mongodb/policy_binding.go
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan, service/policy

#2260 fix scanning missing repo namespace info
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#2261 Fix jira job panic in workflow
  pkg/microservice/aslan/core/common/service/jira/jira.go
Labels: service/aslan

#2263 cp 2260
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#2264 cp 2260 ee
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#2265 Cherry Pick 2261
  pkg/microservice/aslan/core/common/service/jira/jira.go
Labels: service/aslan

#2268 optimize bash variable name
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#2269 cherry-pick 2268
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#2255 Support Apollo job type in custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_apollo.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/tool/apollo/apollo.go
  pkg/tool/apollo/client.go
Labels: service/aslan, common

#2267 Fix problems in jira job of custom workflow
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/jira/jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/tool/jira/issue.go
  pkg/tool/jira/project.go
Labels: service/aslan, common

#2270 Fix Apollo Job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_apollo.go
Labels: service/aslan

#2271 Fix Jira webhook URL
  pkg/microservice/aslan/core/system/service/project_management.go
Labels: service/aslan

#2262 add nacos job to custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_nacos.go
  pkg/microservice/aslan/core/system/handler/nacos.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/tool/httpclient/client_options.go
  pkg/tool/httpclient/request_options.go
  pkg/tool/nacos/client.go
  pkg/types/nacos.go
Labels: service/aslan, common

#2249 Fix workflow unexpected failed
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/aslan, service/warpdrive

#2273 Improve custom workflow switch status
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/aslan, service/warpdrive

#2272 add category field for plugin template
  pkg/microservice/aslan/core/common/repository/models/plugin_repo.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/mysql-runner/v0.0.1/mysql-runner.yaml
Labels: service/aslan

#2251 meego project management feature
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_management.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_meego_transition.go
  pkg/microservice/aslan/core/system/handler/meego.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/meego.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
  pkg/tool/meego/client.go
  pkg/tool/meego/comment.go
  pkg/tool/meego/consts.go
  pkg/tool/meego/project.go
  pkg/tool/meego/types.go
  pkg/tool/meego/work_item.go
Labels: service/aslan, common, service/policy

#2276 update cutom workflow template
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#2277 fix job status when a job fails very fast
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#2274 production product
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/kube_fetcher.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/shared/kube/wrapper/cronjob.go
  pkg/shared/kube/wrapper/cronjobv1beta.go
  pkg/shared/kube/wrapper/daemonset.go
  pkg/shared/kube/wrapper/job.go
  pkg/tool/errors/http_errors.go
  pkg/tool/kube/getter/cronjob.go
  pkg/tool/kube/getter/daemonset.go
  pkg/tool/kube/getter/job.go
Labels: service/aslan, common, service/policy

#2279 fix release workflow json format
  pkg/microservice/policy/core/service/permission.go
Labels: service/policy

#2280 Fix wd panic
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
Labels: service/warpdrive

#2281 fix dind clean caused aslan panic bug
  pkg/microservice/aslan/core/common/repository/mongodb/dind_clean.go
  pkg/microservice/aslan/core/system/service/system_cache.go
Labels: service/aslan

#2283 Fix kodo task bug by redefining error val
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
Labels: service/warpdrive

#2239 add custom worklfow datas to stats
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/stat/repository/models/build.go
  pkg/microservice/aslan/core/stat/service/build_stat.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/overview.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
Labels: service/aslan

#2284 add cluster name return value
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#2286 Fix scanning queue error
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
Labels: service/aslan

#2288 update jira workflow template
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#2289 fix service remove bug
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2287 Fix product workflow jira issue
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#2290 add permissions to workflow when edit workflow template
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#2291 fix workflow template permission
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/policy

#2292 fix cron update env status bug
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
Labels: service/aslan, service/cron

#2296 set workflow job type name for notify
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2295 fix variable project name missing bug
  pkg/microservice/aslan/core/common/repository/models/variable.go
  pkg/microservice/aslan/core/common/repository/mongodb/variable_set.go
  pkg/microservice/aslan/core/project/handler/variable.go
  pkg/microservice/aslan/core/project/service/variable_set.go
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2297 fix service build bind error
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#2298 fix k8s events missing bug
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#2299 cp from 2298
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#2278 Product workflow auto cancel tasks triggered by the same pushed commit
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
Labels: service/aslan

#2303 cp 2302
  pkg/tool/git/gitlab/token.go
Labels: common

#2302 fix can not delete webhook trigger in workflow
  pkg/tool/git/gitlab/token.go
Labels: common

#2301 merge current workflow config when trigger a workflow
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/aslan, service/cron
