Repository koderover/zadig, pull requests merged in 2023-08, with the labels that each got.

#2898 fix vm host project build stage data missing error
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#2899 feat: workflow task null variable should set empty value
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
Labels: service/aslan

#2901 CP 2899
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
Labels: service/aslan

#2902 feat: save conditions for job pod start failed
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#2903 cp 2902
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#2905 fix aslan panic when fetching service details
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2904 fix panic when set service deploy strategy
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2907 cherry pick #2904
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2910 fix: gitlab trigger error when push a new branch
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
Labels: service/aslan

#2911 CP 2910
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
Labels: service/aslan

#2912 CP 2910 to 1.18.0
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
Labels: service/aslan

#2914 CP 2913 to 1.18.0
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#2915 CP 2913 to ee-1.6.0
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#2913 fix: WarpDrive wait job start not handle context.Done
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
Labels: service/warpdrive

#2909 WIP: add resource permission control function to the cluster
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/hubagent/config/config.go
  pkg/microservice/hubagent/server/server.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/multicluster.go
Labels: service/aslan, service/hubagent, common

#2916 feat: Blue Green Release v2
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/shared/kube/resource/workload.go
  pkg/types/labels.go
Labels: service/aslan, common

#2919 cp 2916
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/shared/kube/resource/workload.go
  pkg/types/labels.go
Labels: service/aslan, common

#2921 add resource permission control function to the cluster (#2909)
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/hubagent/config/config.go
  pkg/microservice/hubagent/server/server.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/multicluster.go
Labels: service/aslan, service/hubagent, common

#2923 remove NoSuchKey error log from the method GetWorkflowV4LocalTestSuite
  pkg/microservice/aslan/core/common/service/it_report.go
Labels: service/aslan

#2924 add BRANCH env var
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/aslan, service/warpdrive

#2926 cp 2924
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/aslan, service/warpdrive

#2927 remove NoSuchKey error log from the method GetWorkflowV4LocalTestSuit…
  pkg/microservice/aslan/core/common/service/it_report.go
Labels: service/aslan

#2929 rollback workloads panic fix code
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2934 change values merge sequence
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#2938 fix compile error
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2939 cp 2934
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#2941 bugfix for all-users
  pkg/microservice/user/core/repository/mongodb/role_binding.go
  pkg/microservice/user/core/service/user/authz.go
  pkg/microservice/user/core/service/user/types.go
Labels: service/aslan

#2942 cherrypick #2941
  pkg/microservice/user/core/repository/mongodb/role_binding.go
  pkg/microservice/user/core/service/user/authz.go
  pkg/microservice/user/core/service/user/types.go
Labels: service/aslan

#2943 fix list project unexpectedly lists all public project
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
Labels: service/aslan

#2944 remove useless log and add detailed log
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/tool/nacos/client.go
Labels: service/aslan, common

#2945 cp 2944
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/tool/nacos/client.go
Labels: service/aslan, common

#2948 bugfix for bad permission problem
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#2949 cherrypick #2948
  pkg/microservice/aslan/core/environment/handler/service.go
Labels: service/aslan

#2946 cp 2944
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/tool/nacos/client.go
Labels: service/aslan, common

#2950 fix multiple permission problem
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
Labels: service/aslan

#2951 cherrypick #2950
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
Labels: service/aslan

#2952 resolve scheduleWorkflow bug
  pkg/microservice/hubagent/server/server.go
Labels: service/hubagent

#2953 fix nacos auth error
  pkg/tool/nacos/client.go
Labels: common

#2955 cp 2953
  pkg/tool/nacos/client.go
Labels: common

#2954 resolve bug of schedule workflow (#2952)
  pkg/microservice/hubagent/server/server.go
Labels: service/hubagent

#2957 users api debug and edge case fix
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/shared/client/user/user.go
Labels: service/aslan, common

#2958 Cherrypick #2936 #2957
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/configmap.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/ingress.go
  pkg/microservice/aslan/core/environment/handler/pvc.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/secret.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/picket/core/filter/handler/project.go
  pkg/shared/client/user/user.go
Labels: service/aslan, common

#2961 fix workflow create auth error
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
Labels: service/aslan

#2964 fix workflow create auth error (#2961)
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
Labels: service/aslan

#2959 add service name lower case check when load from template
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#2967 offline zadig old default installs
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/system/service/install.go
Labels: service/aslan

#2968 cp 2933 and 2967
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/system/service/install.go
Labels: service/aslan

#2965 initialization function
  pkg/microservice/aslan/core/system/handler/initialization.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/initialization.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/user/user.go
  pkg/types/user.go
Labels: service/aslan, common

#2969 cherrypick #2965
  pkg/microservice/aslan/core/system/handler/initialization.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/initialization.go
  pkg/microservice/policy/core/service/bundle/rego/authz.rego
  pkg/microservice/policy/core/service/permission.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/repository/orm/user_login.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
  pkg/shared/client/user/user.go
  pkg/types/user.go
Labels: service/aslan, common

#2960 add workflow schedule strategy
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/build/service/openapi.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/task/build.go
  pkg/microservice/aslan/core/common/repository/models/task/scanning.go
  pkg/microservice/aslan/core/common/repository/models/task/testing.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/build_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_package.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/microservice/warpdrive/core/service/types/task/config_payload.go
  pkg/microservice/warpdrive/core/service/types/task/scanning.go
  pkg/microservice/warpdrive/core/service/types/task/testing.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
  pkg/tool/openapi/conversion.go
  pkg/types/openapi.go
Labels: service/aslan, service/warpdrive, common

#2973 feat: add workflow param creator.id
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2974 cp 2973
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2925 add env sleep feature
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/cronjob.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/kube/status.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/ide.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
  pkg/tool/kube/updater/cronjob.go
  pkg/util/strings.go
Labels: service/aslan, service/cron, service/warpdrive, common

#2981 ee admin user initialization
  pkg/cli/initconfig/cmd/init.go
  pkg/config/config.go
  pkg/microservice/aslan/core/system/handler/initialization.go
  pkg/microservice/aslan/core/system/service/initialization.go
  pkg/shared/client/aslan/system.go
Labels: service/aslan, common

#2971 merge custom and release workflow
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_template.go
  pkg/microservice/aslan/core/templatestore/service/types.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#2984 fix workflow schedule bug
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#2983 fix scanning webhook
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#2982 fix merge workflow bug
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#2986 cherry pick #2813 to ee-1.5.1
  pkg/microservice/aslan/core/collaboration/handler/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/policy/core/handler/role_binding.go
Labels: service/aslan

#2978 fix share env func
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#2988 fix the bug that failed to get gin form default value
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/project/service/types.go
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/build_stat.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/test.go
Labels: service/aslan

#2989 fix renderset query logic & remove some useless code
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/util/helm.go
Labels: service/aslan, common

#2972 add project view function
  pkg/microservice/aslan/core/common/repository/models/project_group.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_group.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/project/service/types.go
  pkg/microservice/aslan/core/service.go
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#2987 add pods in resource view
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/product.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/shared/kube/resource/pod.go
  pkg/shared/kube/wrapper/pod.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, service/warpdrive, common

#2993 fix not clean cache files when load helm service from gitee
  pkg/microservice/aslan/core/common/service/fs/file.go
  pkg/microservice/aslan/core/common/util/helm.go
Labels: service/aslan
