Repository koderover/zadig, pull requests merged in 2023-12, with the labels that each got.

#3222 fix mysql execute error (#3197)
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sql.go
Labels: service/aslan

#3223 added namespace info for nacos configuration
  pkg/microservice/aslan/core/common/service/nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/types/nacos.go
Labels: service/aslan

#3227 Feature/env filter
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
Labels: service/aslan

#3230 update env list filter logic
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
Labels: service/aslan

#3231 fix env creation missing resource error
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
Labels: service/aslan

#3228 add resource check for host workload creation
  pkg/microservice/aslan/core/environment/handler/environment.go
Labels: service/aslan

#3234 remove resource deletion for cluster deletion
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#3211 added enterprise version
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/s3.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/shared/client/plutusvendor/plutusvendor.go
Labels: service/aslan, common

#3224 fix testing timer bug
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/cron/core/service/client/testing.go
  pkg/microservice/cron/core/service/scheduler/schedule_testing.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/testing.go
Labels: service/aslan, service/cron

#3236 remove schedule workflow validate for vm integration
  pkg/microservice/aslan/core/common/repository/models/private_key.go
Labels: service/aslan

#3237 fix delete k8s env bug
  .gitignore
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3238 fix resource check logic
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/workload_stat.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#3241 Feature/transfer project
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#3240 fix release image bug
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/tool/helmclient/helmclient.go
Labels: service/warpdrive, common

#3242 add missing pprof api
  pkg/microservice/aslan/server/server.go
Labels: service/aslan

#3243 change authn and pprof api for container
  pkg/microservice/aslan/server/server.go
  pkg/microservice/user/core/service/permission/authn.go
Labels: service/aslan

#3244 cherrypick #3243
  pkg/microservice/aslan/server/server.go
  pkg/microservice/user/core/service/permission/authn.go
Labels: service/aslan

#3247 add registry login for chart pull
  pkg/tool/helmclient/helmclient.go
Labels: common

#3248 add registry login for chart pull
  pkg/tool/helmclient/helmclient.go
Labels: common

#3249 Feature/oci private pull cp 151
  pkg/tool/helmclient/helmclient.go
Labels: common

#3253 close transaction
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/tool/mongo/client.go
Labels: service/aslan, common

#3254 close transaction (#3253)
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/tool/mongo/client.go
Labels: service/aslan, common

#3252 fix artifact deploy timeout issue
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#3255 fix get workload detail if don't have istio installed
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/share_env.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3256 cherry pick #3252 and #3255 to 2.1.0
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/share_env.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#3258 pprof support in 1.5.1
  pkg/microservice/aslan/server/server.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan

#3257 add transaction switch
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_controller.go
  pkg/setting/consts.go
  pkg/tool/mongo/client.go
Labels: service/aslan, service/warpdrive, common

#3259 add transaction switch (#3257)
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_controller.go
  pkg/setting/consts.go
  pkg/tool/mongo/client.go
Labels: service/aslan, service/warpdrive, common

#3261 fix host project image change error
  pkg/microservice/aslan/core/environment/service/image.go
Labels: service/aslan

#3212 add istio grayscale feature
  cmd/zgctl/main.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/service/kube/actions.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/kube/istio_grayscale.go
  pkg/microservice/aslan/core/common/service/kube/share_env.go
  pkg/microservice/aslan/core/common/util/istio_grayscale.go
  pkg/microservice/aslan/core/environment/handler/istio_grayscale.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/istio_grayscale.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3264 fix performance issue for listing workflow task
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/custom_workflow_test_report.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/custom_workflow_test_report.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/types/step/step_junit_report.go
Labels: service/aslan

#3267 cherrypick 3266
  pkg/microservice/aslan/core/common/repository/mongodb/custom_workflow_test_report.go
Labels: service/aslan

#3266 change index name
  pkg/microservice/aslan/core/common/repository/mongodb/custom_workflow_test_report.go
Labels: service/aslan

#3269 create vs when set portal service
  examples/grayscale-demo/Makefile
  pkg/microservice/aslan/core/common/service/kube/istio_grayscale.go
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#3271 cherry pick #3269 to release-2.1.0-1222
  examples/grayscale-demo/Makefile
  pkg/microservice/aslan/core/common/service/kube/istio_grayscale.go
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan
