Repository koderover/zadig, pull requests merged in 2023-06, with the labels that each got.

#2697 fix import service uninstall error
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#2698 Bugfix/helm svc uninstall
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2699 WIP: optimize namespace legality check when creating production env
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2701 feat: approval support default initiator
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2707 CP 2701
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2705 update yaml library import version
  pkg/util/helm.go
Labels: common

#2709 fix kv convert to yaml when yaml type variable's value is empty
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
Labels: service/aslan

#2710 cherry pick (#2709)
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
Labels: service/aslan

#2702 remove shared services code
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/aslan, service/warpdrive

#2706 Optimize the method for generating the next revision of the service.
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/pm.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/setting/consts.go
Labels: service/aslan, common

#2716 Fix aslan init external cluster error
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2717 CP 2716
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2721 fix image not update when update variable
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2711 remove sensitive information from API response for security reason
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/sonar.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/im_app.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
  pkg/microservice/systemconfig/core/email/service/email.go
Labels: service/aslan

#2719 remove default renderset usage in helm environment
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#2723 add llm and analyzer modules
  LICENSE
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/llm_integration.go
  pkg/microservice/aslan/core/common/repository/mongodb/llm_integration.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/llm.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/shared/kube/wrapper/apireference.go
  pkg/tool/analyzer/analysis.go
  pkg/tool/analyzer/analysis_test.go
  pkg/tool/analyzer/cronjob.go
  pkg/tool/analyzer/cronjob_test.go
  pkg/tool/analyzer/deployment.go
  pkg/tool/analyzer/deployment_test.go
  pkg/tool/analyzer/events.go
  pkg/tool/analyzer/hpa.go
  pkg/tool/analyzer/hpaAnalyzer_test.go
  pkg/tool/analyzer/ianalyzer.go
  pkg/tool/analyzer/ingress.go
  pkg/tool/analyzer/ingress_test.go
  pkg/tool/analyzer/kubernetes.go
  pkg/tool/analyzer/netpol.go
  pkg/tool/analyzer/netpol_test.go
  pkg/tool/analyzer/node.go
  pkg/tool/analyzer/node_test.go
  pkg/tool/analyzer/output.go
  pkg/tool/analyzer/pdb.go
  pkg/tool/analyzer/pod.go
  pkg/tool/analyzer/pod_test.go
  pkg/tool/analyzer/pvc.go
  pkg/tool/analyzer/rs.go
  pkg/tool/analyzer/service.go
  pkg/tool/analyzer/service_test.go
  pkg/tool/analyzer/statefulset.go
  pkg/tool/analyzer/statefulset_test.go
  pkg/tool/analyzer/utils.go
  pkg/tool/cache/icache.go
  pkg/tool/cache/mem_cache.go
  pkg/tool/errors/http_errors.go
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
  pkg/tool/llm/options.go
Labels: service/aslan, common

#2727 Init workflow service account should not fatal
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2732 Revert "remove sensitive information from API response for security reason"
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/sonar.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/im_app.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
  pkg/microservice/systemconfig/core/email/service/email.go
Labels: service/aslan

#2733 added gitlab token auto refresh mechanism
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2734 cherrypick #2733
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2735 fix yaml comparison indentation error
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2737 added dex database initialization process
  pkg/microservice/aslan/core/init/dex_database.sql
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2725 account security enhancement
  go.mod
  go.sum
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/microservice/user/core/handler/login/local.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#2720 Job Image Release support variables rule
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_distribute_image.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
  pkg/types/step/step_distribute_image.go
Labels: service/aslan, service/reaper

#2718 provide gerrit submissionID to support commit link jump
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/tool/gerrit/client.go
  pkg/types/repo.go
Labels: service/aslan, service/warpdrive, common

#2739 fix image replaoce error
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/kube/parse.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2740 cp 2739
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/kube/parse.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2742 cp 2741
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
Labels: service/aslan

#2747 remove url parameters
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2749 Revert "remove url parameters"
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2750 Revert "cp 2747"
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2754 add missing param for workload helm
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2757 fix env got override in workflow
  pkg/microservice/jobexecutor/core/service/job.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#2758 cherrypick #2757
  pkg/microservice/jobexecutor/core/service/job.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/aslan, service/reaper

#2759 Remove deprecated service_option field
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#2761 CP 2759
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#2760 CP EE 2759
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#2756 fix helm variable preview error
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2765 cp 2756
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2766 Fix workflow can’t retry sub jobs
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2752 add cronjob support
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/kube/workloads.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/kube_fetcher.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/setting/consts.go
  pkg/shared/kube/client/version.go
  pkg/shared/kube/resource/cron_job.go
  pkg/shared/kube/wrapper/cronjob.go
  pkg/shared/kube/wrapper/cronjobv1beta.go
  pkg/tool/kube/getter/cronjob.go
  pkg/tool/kube/getter/statefulset.go
  pkg/tool/kube/informer/informer.go
  pkg/tool/kube/serializer/decoder.go
  pkg/tool/kube/updater/cronjob.go
  pkg/util/pointer.go
Labels: service/aslan, service/warpdrive, common

#2768 update containers of template services
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/kube/workloads.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
Labels: service/aslan

#2772 fix service nodeport duplicate error
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
Labels: service/aslan

#2770 add missing cronjob support logic
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/tool/kube/getter/cronjob.go
Labels: service/aslan, service/warpdrive, common

#2771 WIP: support getting environment analysis history
  pkg/microservice/aslan/core/common/repository/models/ai/enviroment_analysis.go
  pkg/microservice/aslan/core/common/repository/mongodb/ai/EnvAIAnalysis.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/setting/consts.go
Labels: service/aslan, service/cron, common

#2776 remove dry run for k8s/helm
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
Labels: service/aslan
