Repository koderover/zadig, pull requests merged in 2023-04, with the labels that each got.

#2485 fix openapi problem
  pkg/microservice/aslan/core/workflow/handler/openapi.go
Labels: service/aslan

#2484 get image name from env for deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2488 Fix workflow gitlab yaml trigger
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
Labels: service/aslan

#2487 fix git webhook missing repo
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#2490 fix service template refrence error
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#2489 Fix test association to product workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#2493 add api response time
  pkg/microservice/aslan/server/rest/router.go
  pkg/middleware/gin/request_metrics.go
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, common

#2494 cherrypick #2493
  pkg/microservice/aslan/server/rest/router.go
  pkg/middleware/gin/request_metrics.go
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, common

#2497 fix service restart missing lable bug
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2499 cherry-pick 2497
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2500 cp 2497
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2501 add image_name when sync code by webhook
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/util/service.go
Labels: service/aslan, common

#2503 add image_name when sync code by webhook (#2501)
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/util/service.go
Labels: service/aslan, common

#2504 revert #2476
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2505 revert #2476
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2506 host change optimize
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#2477 Enhance env in upload and archive post steps of build
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#2509 add service uninstall and helm variable deploy logic
  pkg/microservice/aslan/core/common/repository/models/render_set.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/image.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/kube/share_env.go
  pkg/microservice/aslan/core/common/service/kube/share_env_utils.go
  pkg/microservice/aslan/core/common/service/kube/types.go
  pkg/microservice/aslan/core/common/service/notify/message.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/utils.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
Labels: service/aslan

#2517 quick fix for workflow view openAPI
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
Labels: service/aslan

#2518 Cherrypick/2517
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
Labels: service/aslan

#2519 add get merge values.yaml api
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
Labels: service/aslan

#2496 add range limit in nacos job
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/nacos.go
  pkg/microservice/aslan/core/system/handler/nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
Labels: service/aslan

#2521 move SetCurrentContainerImages from pkg/utils to aslan/common/utils
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/util/service.go
Labels: service/aslan, common

#2522 Add jira job check
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
Labels: service/aslan

#2525 Custom workflow support retry
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2530 Fix retry custom workflow not clear job and stage infos
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2523 stat dashboard
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/external_system.go
  pkg/microservice/aslan/core/common/repository/models/stat_dashboard_config.go
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/repository/mongodb/stat_dashboard_config.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_apollo.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_custom_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_rollback.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_rollback.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_k8s_patch.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_meego_transition.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_nacos.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_workflow_trigger.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/stat_v2.go
  pkg/microservice/aslan/core/stat/service/stat_calculator.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/aslan/core/stat/service/types.go
  pkg/microservice/aslan/core/system/service/external_system.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/tool/errors/errors.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#2532 changed the initialization data of stat dashboard and update authz
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/stat/service/stat_calculator.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/middleware/gin/license.go
Labels: service/aslan, common

#2535 fix can't select image when set env fixed
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2507 deploy vars and deploy config update
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/util/helm.go
  pkg/util/yaml/merge_test.go
Labels: service/aslan, common

#2536 Fix custom workflow approval status
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2540 update initialization data for stat dashboard
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
Labels: service/aslan

#2538 Fix list available environments when creating the environment
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2537 log error if get lables and annotations failed
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#2541 Fix debug workflow not work when pod in external cluster
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
Labels: service/aslan

#2542 CP fix debug workflow (#2541)
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
Labels: service/aslan

#2544 cherrypick #2543
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2526 Jira integration support Personal Access Token
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/service/jira/jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/tool/jira/client.go
Labels: service/aslan, service/warpdrive, common

#2547 fix service update fail error
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#2546 upgrade ginkgo to v2
  go.mod
  pkg/cli/upgradeassistant/internal/upgradepath/dag_test.go
  pkg/cli/upgradeassistant/internal/upgradepath/upgradepath_suite_test.go
  pkg/microservice/aslan/core/environment/service/kube_test.go
  pkg/microservice/aslan/core/environment/service/service_suite_test.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils_test.go
  pkg/microservice/aslan/core/workflow/service/webhook/webhook_suite_test.go
  pkg/microservice/aslan/core/workflow/service/workflow/utils_test.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_suite_test.go
  pkg/microservice/policy/core/service/bundle/opa_bundle_test.go
  pkg/microservice/policy/core/service/bundle/service_suite_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/taskplugin_suite_test.go
  pkg/shared/handler/handler_suite_test.go
  pkg/shared/handler/options_test.go
  pkg/tool/kube/serializer/decoder_test.go
  pkg/tool/kube/serializer/serializer_suite_test.go
  pkg/tool/mongo/mongo_suite_test.go
  pkg/tool/mongo/options_test.go
  pkg/util/converter/converter_suite_test.go
  pkg/util/converter/flaten_test.go
  pkg/util/fs/file_test.go
  pkg/util/fs/fs_suite_test.go
  pkg/util/yaml/compare_test.go
  pkg/util/yaml/gotemplate_test.go
  pkg/util/yaml/merge_test.go
  pkg/util/yaml/path_search_test.go
  pkg/util/yaml/yaml_suite_test.go
Labels: service/aslan, service/warpdrive, common

#2548 debug for webhook preset in common workflow
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#2550 cherrypick #2548
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#2549 cp 2547
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#2551 cp 2547
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#2553 Bugfix/service auto deploy into prod
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#2554 cp 2553
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#2545 Custom workflow support offline service job
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
Labels: service/aslan

#2555 CP Offline service (#2541) (#2542)
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
Labels: service/aslan

#2556 CP Jira (#2541) (#2542)
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/service/jira/jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/warpdrive/core/service/taskplugin/jira.go
  pkg/tool/jira/client.go
Labels: service/aslan, service/warpdrive, common

#2559 Bugfix/service uninstall m
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#2558 fix service offline fail bug
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#2562 hotfix for webhook
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#2564 change cluster initilization logic
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#2565 fix nil pointer in GenerateRenderedYaml
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#2563 Add workflow.task.id global env in custom workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2561 testing/production env isolation
  pkg/microservice/aslan/core/common/service/kube/share_env.go
  pkg/microservice/aslan/core/common/service/kube/share_env_utils.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#2571 fix testing task timeout
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#2573 cherry pick fix testing task timeout (#2571)
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#2574 cherry pick fix testing task timeout (#2571)
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#2575 improve openAPI for custom workflow for build
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#2576 cp 2575
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#2577 cp 2575
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#2569 Add image name check in deploy job
  go.mod
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/util/validator/image.go
  pkg/util/validator/image_test.go
Labels: service/aslan, common

#2572 CP 2569 to ee-1.4.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/util/validator/image.go
  pkg/util/validator/image_test.go
Labels: service/aslan, common

#2568 add ConvertVaraibleKVAndYaml func
  CONTRIBUTING-zh-CN.md
  CONTRIBUTING.md
  Makefile
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/types/service.go
  pkg/microservice/aslan/core/common/types/service_test.go
  pkg/microservice/aslan/core/common/types/types_suite_test.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/pipeline.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan
