Repository koderover/zadig, pull requests merged in 2023-07, with the labels that each got.

#2786 Add build and deploy image variable log
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2787 CP 2786
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2784 feat: custom workflow support concurrency limit
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_queue.go
  pkg/microservice/aslan/core/common/repository/models/workflow_template.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2781 feat: scanning task support notify
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/task/scanning.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/warpdrive/core/service/types/task/scanning.go
  pkg/tool/openapi/conversion.go
  pkg/types/scanning.go
Labels: service/aslan, service/warpdrive, common

#2769 custom workflow history task support custom field
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/cli/upgradeassistant/cmd/migrate/1180_test.go
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/microservice/aslan/core/common/repository/models/it_report.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/templatestore/handler/build.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/dockerfile.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/service/build.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/dockerfile.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2792 restore templatestore
  pkg/microservice/aslan/core/templatestore/handler/build.go
  pkg/microservice/aslan/core/templatestore/handler/chart.go
  pkg/microservice/aslan/core/templatestore/handler/dockerfile.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/templatestore/service/build.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/templatestore/service/dockerfile.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
Labels: service/aslan

#2780 add paging&filter for list project func
  go.mod
  go.sum
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/util/strings.go
Labels: service/aslan, common

#2785 WIP: delete build workflow update config openAPI
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/router.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
Labels: service/aslan

#2794 change openapi style
  pkg/cli/upgradeassistant/cmd/migrate/1180_test.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#2793 pprof api authz
  pkg/microservice/aslan/server/server.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan

#2795 fix page list project order
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#2796 cherry pick #2783
  pkg/microservice/policy/core/handler/role.go
  pkg/microservice/policy/core/handler/role_binding.go
Labels: service/aslan

#2798 fix: workflow concurrency limit ignored wfa status
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
Labels: service/aslan

#2799 rollback: add deploy error check
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2779 feat:add new endpoint.
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan

#2797 resolve the service module list for deployment tasks that rely o…
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2791 add manual webhook feature
  pkg/microservice/aslan/core/common/repository/models/pipeline.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/sets.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/webhook/types.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/system/handler/custom_theme.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/webhook.go
  pkg/microservice/aslan/core/system/service/custom_theme.go
  pkg/microservice/aslan/core/system/service/webhook.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2800 fix: test job product type merge variables
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2764 optimize request image tag list function
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#2801 fix manual webhook
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2802 fix manual webhook
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2803 fix: validate workflow create job container name
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#2804 fix: update env config
  pkg/microservice/aslan/core/environment/handler/openapi.go
Labels: service/aslan

#2805 fix: update env config
  pkg/microservice/aslan/core/environment/handler/openapi.go
Labels: service/aslan

#2808 fix: delivery deploy unique index
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_deploy.go
Labels: service/aslan

#2809 cp 2808
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_deploy.go
Labels: service/aslan

#2815 fix auth control missing
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2817 cp 2815
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2818 fix page list project empty
  pkg/microservice/picket/core/filter/service/project.go
Labels: service/aslan

#2819 cherry pick #2818
  pkg/microservice/picket/core/filter/service/project.go
Labels: service/aslan

#2821 fix: release workflow ignore nil selector service
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2823 cp 2821
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2825 remove selector label
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#2774 optimize helm values yaml
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/project/handler/render.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_test.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, service/warpdrive, common

#2813 add detail log for collaboration mode
  pkg/microservice/aslan/core/collaboration/handler/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/policy/core/handler/role_binding.go
Labels: service/aslan

#2830 cherry pick #2813
  pkg/microservice/aslan/core/collaboration/handler/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/policy/core/handler/role_binding.go
Labels: service/aslan

#2833 improve: deploy job render yaml at first
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2840 fix: should filter apollo empty line config
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
Labels: service/aslan

#2837 optimize env status fetch logic
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/handler/render.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/shared/client/aslan/environment.go
  pkg/tool/kube/getter/cronjob.go
Labels: service/aslan, common

#2846 svc apply use image optimize
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#2615 Offline resource-server module
  docker/executor.Dockerfile
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/jobexecutor/executor/executor.go
  pkg/microservice/reaper/executor/executor.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/setting/consts.go
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#2849 fix error when fetch service workloads
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2827 feat: Release workflow support Mse gray release
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_mse_gray_offline.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_mse_gray_release.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/kube_fetcher.go
  pkg/microservice/aslan/core/environment/service/secret.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/shared/kube/resource/workload.go
  pkg/tool/kube/getter/secrets.go
  pkg/types/labels.go
Labels: service/aslan, common

#2775 fix notifaication config to arrary
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2816 WIP: remove env analysis db unique index
  pkg/microservice/aslan/core/common/repository/models/ai/enviroment_analysis.go
  pkg/microservice/aslan/core/common/repository/mongodb/ai/EnvAIAnalysis.go
Labels: service/aslan

#2850 fix helm image missing bug when updating images
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/aslan, service/warpdrive

#2856 feat: mse gray release support ingress source type
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_mse_gray_offline.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2834 logout feature for special case
  pkg/microservice/user/config/consts.go
  pkg/microservice/user/core/service/login/local.go
Labels: service/aslan

#2845 cp #2834
  pkg/microservice/user/config/consts.go
  pkg/microservice/user/core/service/login/local.go
Labels: service/aslan

#2857 fix: can’t retry workflow when skip stage
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2829 zadig openapi phase 2
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/router.go
  pkg/microservice/aslan/core/build/service/openapi.go
  pkg/microservice/aslan/core/build/service/types.go
  pkg/microservice/aslan/core/common/repository/mongodb/build.go
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/project/handler/openapi.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/project/service/types.go
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/openapi.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/testing/handler/openapi.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/types/openapi.go
Labels: service/aslan

#2864 resolve openapi bug
  pkg/microservice/aslan/core/environment/service/openapi.go
Labels: service/aslan

#2865 Remove nsq and replace it with mongodb
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/msg_queue/msg_queue_common.go
  pkg/microservice/aslan/core/common/repository/models/msg_queue/msg_queue_pipeline_task.go
  pkg/microservice/aslan/core/common/repository/mongodb/msg_queue_common.go
  pkg/microservice/aslan/core/common/repository/mongodb/msg_queue_pipeline_task.go
  pkg/microservice/aslan/core/common/service/nsq/nsq.go
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/cronjob.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/cron/config/config.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/server/server.go
  pkg/microservice/warpdrive/config/config.go
  pkg/microservice/warpdrive/config/const.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_controller.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
  pkg/microservice/warpdrive/core/service/taskcontroller/xxxxxxx_test.go
  pkg/setting/consts.go
  pkg/tool/klock/error.go
  pkg/tool/klock/klock.go
  pkg/tool/nsqcli/client.go
  pkg/tool/nsqcli/nsqd.go
  pkg/tool/nsqcli/nsqd_test.go
Labels: service/aslan, service/cron, service/warpdrive, common

#2870 debug logs & auth missing fix
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/system/handler/announcement.go
  pkg/microservice/aslan/core/system/handler/approval.go
  pkg/microservice/aslan/core/system/handler/basic_images.go
  pkg/microservice/aslan/core/system/handler/capacity.go
  pkg/microservice/aslan/core/system/handler/concurrency.go
Labels: service/aslan, common

#2862 fix built-in software
  pkg/microservice/aslan/core/system/service/install.go
Labels: service/aslan

#2871 fix service container image update logic
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
Labels: service/aslan

#2874 fix: workflow find product should use envName
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#2875 CP 2874
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
Labels: service/aslan

#2867 init admin user in aslan
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/core/common/service/user/rsa.go
  pkg/microservice/aslan/core/common/service/user/user.go
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#2866 return clean cache error detail
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/tool/errors/http_errors.go
  pkg/types/workload.go
Labels: service/aslan, common

#2743 ai analyze build log
  go.mod
  go.sum
  pkg/microservice/aslan/core/log/handler/ai.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/service/ai/build.go
  pkg/microservice/aslan/core/log/service/ai/type.go
Labels: service/aslan

#2879 fix container missing error when creating envs
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#2882 add debug logic
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#2880 fix: mse env groups should check deploy type
  pkg/microservice/aslan/core/environment/service/environment_group.go
Labels: service/aslan

#2884 fix: external project should not get mse
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2883 fix helm service values yaml preview error
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#2881 Fix gitee-ee notify panic
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2887 fix k8s workflow import deploy bug
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#2885 fix: cancel blocked pipeline task not work
  pkg/microservice/warpdrive/core/service/taskcontroller/task_controller.go
Labels: service/warpdrive

#2886 resolve init-admin-user problem
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/core/common/service/user/rsa.go
  pkg/microservice/aslan/core/common/service/user/user.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#2888 use time-nlp service
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
  pkg/setting/types.go
Labels: service/aslan, common

#2876 optimize openapi-phase2
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/service/openapi.go
  pkg/microservice/aslan/core/build/service/types.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/project/handler/openapi.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/project/service/types.go
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/openapi.go
  pkg/microservice/aslan/core/stat/handler/test.go
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/tool/errors/http_errors.go
  pkg/types/openapi.go
Labels: service/aslan, common

#2891 Feature/helm reinstall check
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2892 cp 2857
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2893 fix YamlToServiceVariableKV return err when input is null
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
Labels: service/aslan

#2889 Gerrit webhook trigger support branch regexp
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
Labels: service/aslan

#2894 add CheckLLMIntegration api
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/llm.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2890 fix stat issue for helm chart deploy job
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#2896 chery pick #2890
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#2895 fix llm integration check api permission
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan

#2897 cherry pick #2895
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan
