Repository koderover/zadig, pull requests merged in 2023-05, with the labels that each got.

#2584 added dashboard basic data API
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/stat_v2.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/aslan/core/stat/service/types.go
Labels: service/aslan

#2585 cherrypick #2584
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/handler/stat_v2.go
  pkg/microservice/aslan/core/stat/repository/mongodb/build.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/aslan/core/stat/service/types.go
Labels: service/aslan

#2582 extract imageName from full image uri for deploy job
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2586 cherry pick extract imageName from full image uri for deploy job (#2582)
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2580 Fix and improve IM notification
  pkg/microservice/aslan/core/common/service/instantmessage/dingTalk.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2579 Fix running task func not include approval status
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
Labels: service/aslan

#2590 optimize resource check
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2591 cp 2590
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#2595 fix permission mission issue when editing builds
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2599 fix: workflow task should not save trigger infos
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2597 Remove check image name
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#2598 perf: improve list workflow v4 api performence
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2600 CP #2597 #2598 #2599 to ee-1.4.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2583 Refactor the implementation of collecting custom workflow job results are based on configMap
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/types.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/jobexecutor/core/service/job.go
  pkg/microservice/jobexecutor/core/service/meta/types.go
  pkg/microservice/jobexecutor/executor/executor.go
  pkg/tool/kube/informer/informer.go
  pkg/types/job.go
Labels: service/aslan, service/reaper, common

#2604 Fix IM notification not sending when retrying custom workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2607 Fix: Api cost time metric should ignore SSE
  pkg/middleware/gin/request_metrics.go
Labels: common

#2602 Feature/cron call optimize
  pkg/microservice/aslan/core/environment/handler/revision.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/service.go
Labels: service/aslan, service/cron

#2611 cp 2602
  pkg/microservice/aslan/core/environment/handler/revision.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/service.go
Labels: service/aslan, service/cron

#2613 CP #2607
  pkg/middleware/gin/request_metrics.go
Labels: common

#2610 Improve Jira job
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/tool/jira/issue.go
  pkg/tool/jira/project.go
Labels: service/aslan, common

#2618 CP 2617
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/service/project_management.go
Labels: service/aslan

#2614 optimize variable for global variable
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2621 refactor: workflow debug based on configMap
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/jobexecutor/core/service/configmap/configmap.go
  pkg/microservice/jobexecutor/core/service/job.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_debug.go
  pkg/microservice/jobexecutor/executor/executor.go
  pkg/types/job.go
Labels: service/aslan, service/reaper

#2619 optimize variable for enviroment
  pkg/microservice/aslan/core/common/repository/models/render_set.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/types/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2623 implement update global variable module
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/types/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2624 add the ability to customize the theme of the system
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/handler/custom_theme.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/custom_theme.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/types/system_settings.go
Labels: service/aslan

#2631 add the ability to customize the theme of the system (#2624)
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/handler/custom_theme.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/custom_theme.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
  pkg/types/system_settings.go
Labels: service/aslan

#2627 openAPI for env and svc
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#2632 cp 2627
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#2634 Fix: init external cluster by kubeconfig missing create role steps
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#2633 remove kubeconfig hub agent
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#2626 variable optimize for create product and update service
  pkg/microservice/aslan/core/collaboration/handler/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/types/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/product.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2636 fix: remove-hubagent-deployment
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#2637 fix possible confusion about helm test svc pathing
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
Labels: service/aslan, service/warpdrive, common

#2635 variable optimize for custom workflow's deploy job
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/types/service.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#2639 fix GetServiceDiff bug
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#2640 merge service and render variables in GetServiceDiff
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2644 fix service deploy strategy nil bug
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
Labels: service/aslan

#2641 improve variable optimize function
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2645 fix error when deploying images only
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#2647 Feature/fix service update image debug
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
Labels: service/aslan

#2648 merge variable by kv in workflow's deploy job
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/util/template.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2649 cherry pick #2648
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/util/template.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2642 improve: jira JQL support USERNAME variable
  pkg/microservice/aslan/core/system/handler/project_management.go
Labels: service/aslan

#2650 rename jira SQL search variable name
  pkg/microservice/aslan/core/system/handler/project_management.go
Labels: service/aslan

#2655 Add the linkColor field to custom theme
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/service/custom_theme.go
  pkg/types/system_settings.go
Labels: service/aslan

#2654 WIP: add the linkColor field
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/system/service/custom_theme.go
  pkg/types/system_settings.go
Labels: service/aslan

#2652 update openapi variable related function
  pkg/microservice/aslan/core/collaboration/handler/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/common/util/template.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/product.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/project/handler/openapi.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/templatestore/handler/yaml.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#2659 remove deploy job error check
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2660 cp 2659
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2661 fix YamlValidator error when there is no VariableYaml
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2662 cherry pick #2661 to release-ee-1.5.0-beta
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2664 cp 2663
  pkg/microservice/aslan/core/environment/handler/export.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2657 fix variable optimize bugs
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
  pkg/microservice/aslan/core/common/util/template.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
Labels: service/aslan

#2643 WIP: sort image tag list
  pkg/microservice/aslan/core/common/repository/models/image_tags.go
  pkg/microservice/aslan/core/common/repository/mongodb/image_tags.go
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#2671 CP 2668
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/common/repository/models/im_app.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/lark/webhook.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/system/service/im_app.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/lark/approval.go
  pkg/tool/lark/const.go
Labels: service/aslan, common

#2673 fix not clip variables and host project renderset panic
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2667 WIP: Feature/helm production env
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/helm.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/production_service.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/setting/consts.go
Labels: service/aslan, common

#2674 fix vars panic issue in deploy job when exec for host project
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#2666 vars ua change
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/repository/service.go
Labels: service/aslan

#2679 change workflow task yaml_content info
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2681 Improve approval stage's name of workflow task
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2682 Fix apollo job check
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
Labels: service/aslan

#2684 fix service tempate missing bug
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2685 added image info into the yaml comparison api
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2687 Fix jira job issue link
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
Labels: service/aslan

#2691 fix: external product should set is_existed
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#2688 add production service sync logic
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#2690 fix var missing issue in auto deploy function
  pkg/microservice/aslan/core/environment/service/environment_update.go
Labels: service/aslan

#2686 Fix: resolve some problems of template production service about templ…
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/templatestore/service/yaml.go
Labels: service/aslan

#2680 FIX: change the logger.Panicf method to logger.Errorf
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#2689 added auth settings for helm production service and environment
  pkg/microservice/policy/core/yamlconfig/metas.yaml
Labels: service/aslan

#2693 add uninstall helm release logic
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_offline_service.go
Labels: service/aslan
