Repository koderover/zadig, pull requests merged in 2023-02, with the labels that each got.

#2309 fix email empty missing caused bug
  pkg/shared/client/systemconfig/email.go
Labels: common

#2312 fix blocked ack queue
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
Labels: service/aslan

#2304 Add pr info in notification
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#2300 Custom workflow auto cancel support
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
Labels: service/aslan

#2305 forcibly specify a job to execute
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#2319 fix list multi page nacos config
  pkg/tool/nacos/client.go
Labels: common

#2320 cp 2319
  pkg/tool/nacos/client.go
Labels: common

#2317 optimize task timeout mechanism
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/docker_build.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#2316 Support favorite for custom workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2321 optmize custom workflow error message
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#2323 fix typos
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/code/service/workspace.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_queue.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
Labels: service/aslan

#2326 bugfix for update cluster
  pkg/microservice/aslan/core/common/repository/mongodb/k8s_cluster.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#2322 set custom workflow status to waitforapprove
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#2331 add gerrit webhook events
  pkg/tool/gerrit/http_client.go
Labels: common

#2329 fix timeout when deleting deployment
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_rollback.go
  pkg/tool/kube/updater/base.go
  pkg/tool/kube/updater/deployment.go
Labels: service/aslan, common

#2332 cp 2331
  pkg/tool/gerrit/http_client.go
Labels: common

#2333 cp 2329
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_canary_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_gray_rollback.go
  pkg/tool/kube/updater/base.go
  pkg/tool/kube/updater/deployment.go
Labels: service/aslan, common

#2336 fix configmap marshall error
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
Labels: service/aslan

#2337 cp 2336
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
Labels: service/aslan

#2327 fail deploy job if it's already failed
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2330 add production service logic
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/service/handler/production_service.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/setting/consts.go
Labels: service/aslan, common

#2338 Add operation log in custom workflow
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2344 add rollbackl logic
  pkg/microservice/user/core/service/user/user.go
Labels: service/aslan

#2350 fix panic when build create by api.
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#2351 added statistics data by project
  pkg/microservice/aslan/core/stat/handler/build.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/test.go
Labels: service/aslan

#2335 added transition state name for display in meego
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/system/service/meego.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/tool/meego/work_item.go
Labels: service/aslan, common

#2346 added carriage return support for logs
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#2353 fix gerrit webhook notification failed
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
Labels: service/aslan

#2341 Environment support person favorite
  pkg/microservice/aslan/core/common/repository/mongodb/favorite_pipeline.go
  pkg/microservice/aslan/core/common/service/favorite.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/system/handler/favorite.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/policy/core/yamlconfig/urls.yaml
Labels: service/aslan

#2355 Helm concurrent deploy
  pkg/microservice/warpdrive/core/service/taskcontroller/task_handler.go
Labels: service/warpdrive

#2356 add default clone remote name for repository
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#2354 added multi repo support for scanning jobs
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
Labels: service/warpdrive

#2325 Custom workflow support debug
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/debug.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_debug.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_debug.go
  pkg/microservice/jobexecutor/core/service/step/step_shell.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/microservice/podexec/core/service/ws_terminal.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/tool/errors/http_errors.go
  pkg/tool/kube/podexec/exec.go
Labels: service/aslan, common

#2352 Deprecate shared service UA
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
Labels: service/aslan

#2340 deploy job support update vars and service config
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2359 fix quote job vars error when repo name contains -
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
Labels: service/aslan, service/warpdrive

#2360 fix workload add label error
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#2362 fix archive workflow task too slow
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
Labels: service/aslan
