Repository koderover/zadig, pull requests merged in 2023-09, with the labels that each got.

#2995 recover deleted api
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/router.go
Labels: service/aslan

#2996 cp 2995
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/router.go
Labels: service/aslan

#2975 feat: Release Plan
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/im_app.go
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/lark/webhook.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/approval.html
  pkg/microservice/aslan/core/release_plan/service/execute.go
  pkg/microservice/aslan/core/release_plan/service/lint.go
  pkg/microservice/aslan/core/release_plan/service/lock.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/update.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/policy/core/service/policy_meta_registration.go
  pkg/microservice/policy/core/yamlconfig/metas.yaml
  pkg/microservice/user/core/service/user/authz.go
  pkg/microservice/user/core/service/user/types.go
  pkg/setting/consts.go
  pkg/shared/client/user/user_auth.go
  pkg/shared/handler/base.go
Labels: service/aslan, common

#2997 fix panic when wd get product info
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
Labels: service/aslan, service/warpdrive

#2998 feat: add release plan openapi and fix bugs
  pkg/microservice/aslan/core/common/util/template.go
  pkg/microservice/aslan/core/release_plan/handler/openapi.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/lint.go
  pkg/microservice/aslan/core/release_plan/service/openapi.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/update.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#3000 add error message to product services
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#3003 fix init user error when already init it
  pkg/microservice/aslan/core/system/service/initialization.go
Labels: service/aslan

#3001 improve and fix release plan
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan_log.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/openapi.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/update.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/types/nacos.go
Labels: service/aslan

#3007 fix cluster nil field panic
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/shared/handler/base.go
Labels: service/aslan, common

#3009 fix init api license
  pkg/middleware/gin/license.go
Labels: common

#3002 remove sync ldap users api
  .gitignore
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
Labels: service/aslan

#3010 feat: create workflow support set view
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_view.go
Labels: service/aslan

#3008 change project view to project group
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/project/service/types.go
Labels: service/aslan

#2994 add service name env variable
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
Labels: service/aslan, service/warpdrive

#3011 fix project group bug
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/project/service/types.go
Labels: service/aslan

#3012 feat: workflow new var IMAGES
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage_custom.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#2990 add system identity for jira/meego/apollo/nacos/sonar integration
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/common/repository/models/configuration_management.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/repository/models/sonar.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/configuration_management.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_management.go
  pkg/microservice/aslan/core/common/repository/mongodb/sonar.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jira.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_meego_transition.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/system/handler/meego.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/meego.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/system/service/sonar.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3013 fix reponame_org vars
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3016 remove environmnet creating wait stage
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3018 fix dup key for configuration management
  pkg/microservice/aslan/core/common/repository/mongodb/configuration_management.go
Labels: service/aslan

#3019 fix project group bug
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#3005 refactor: release plan workflow execute
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/errors.go
  pkg/microservice/aslan/core/release_plan/service/execute.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/user/core/service/user/authz.go
Labels: service/aslan

#3021 fix find build bug
  pkg/microservice/aslan/core/build/service/build.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3022 fix sleep permission check for collaboration mode
  pkg/microservice/aslan/core/environment/handler/environment.go
Labels: service/aslan

#3020 fix local cluster dost not have default schedule strategy
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3024 fix svc sync from git error
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#3026 change release workflow template category to custom workflow template…
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_template.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#3028 fix user init error
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/permission/authz.go
Labels: service/aslan

#3030 fix get test action bug
  pkg/microservice/user/core/service.go
Labels: service/aslan

#3031 fix all user authorization missing
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3029 fix user init error
  pkg/microservice/user/core/service.go
Labels: service/aslan

#3033 fix typo
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#3035 feat: add gitURLs workflow variable
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3036 CP 3035
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3037 optimize logic of get gitlab
  pkg/tool/git/gitlab/namespace.go
Labels: common

#3038 Feature/db management
  pkg/microservice/aslan/core/common/repository/models/db_instance.go
  pkg/microservice/aslan/core/common/repository/mongodb/db_instance.go
  pkg/microservice/aslan/core/common/service/dbinstance.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/handler/database.go
  pkg/microservice/aslan/core/system/handler/router.go
Labels: service/aslan

#3039 Feature/production ns choose
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3040 Revert "Feature/production ns choose"
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3041 Feature/production ns choose (#3039)
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3048 fix panic for update pod metrics
  pkg/tool/metrics/prometheus.go
Labels: common

#3049 cherrypick #3048
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, common

#2985 add cronjob pod infos
  pkg/microservice/aslan/core/common/service/service.go
  pkg/shared/kube/resource/cron_job.go
  pkg/shared/kube/wrapper/cronjob.go
  pkg/shared/kube/wrapper/pod.go
Labels: service/aslan, common

#3053 cherrypick #3052
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
Labels: service/aslan

#3052 change permission
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
Labels: service/aslan

#3050 feat: workflow job jenkins
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jenkins.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/Makefile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/jenkins-runner.yaml
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jenkins-runner/v0.0.1/main.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/jenkins/client.go
  pkg/tool/jenkins/job.go
Labels: service/aslan, common

#3057 fix: docker build step add default context dir
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#3042 scanning upgrade
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/cli/upgradeassistant/cmd/migrate/utils.go
  pkg/cli/upgradeassistant/internal/repository/models/migration.go
  pkg/cli/upgradeassistant/internal/repository/models/scanning.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/migration.go
  pkg/cli/upgradeassistant/internal/repository/mongodb/scanning.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/task/scanning.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/reaper/core/service/meta/types.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/warpdrive/core/service/taskplugin/artifact_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/build.go
  pkg/microservice/warpdrive/core/service/taskplugin/build_v3.go
  pkg/microservice/warpdrive/core/service/taskplugin/scanning.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/utils.go
  pkg/microservice/warpdrive/core/service/types/reaper.go
  pkg/microservice/warpdrive/core/service/types/task/model.go
  pkg/microservice/warpdrive/core/service/types/task/scanning.go
Labels: service/aslan, service/reaper, service/warpdrive

#3051 add project level's codehost integration
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/integration.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/router.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/setting/consts.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/openapi/conversion.go
Labels: service/aslan, common

#3059 improve: apollo job support set updater username
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/microservice/aslan/core/common/repository/models/configuration_management.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_apollo.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
Labels: service/aslan

#3045 Feature/remove renderset
  pkg/cli/upgradeassistant/cmd/migrate/1190.go
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/render_set.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/render_set.go
  pkg/microservice/aslan/core/common/service/delivery.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/handler/render.go
  pkg/microservice/aslan/core/project/handler/router.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/project/service/variable_set.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/service.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/types/environment.go
Labels: service/aslan, service/cron, service/warpdrive

#3060 fix commit problems
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/types/repo.go
Labels: service/reaper

#3062 fix the bug that failed to get default workflow strategy in test and …
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#3064 Fix workflow cron build job args
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3065 keep the agent version consistent with aslan
  pkg/cli/zadig-agent/config/version.go
  pkg/microservice/aslan/core/vm/service/vm.go
Labels: service/aslan

#3067 fix a bug where repo owner is different from repo namespace
  pkg/microservice/aslan/core/code/handler/codehost.go
Labels: service/aslan

#3069 fixed bug that output variables could not be parsed correctly
  pkg/cli/zadig-agent/command/cmd/agent/init.go
  pkg/cli/zadig-agent/internal/agent/agent.go
  pkg/cli/zadig-agent/internal/agent/job_executor.go
  pkg/cli/zadig-agent/internal/agent/reporter/reporter.go
  pkg/cli/zadig-agent/internal/agent/step/script/script_unix.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/cli/zadig-agent/internal/common/types/job_result.go
  pkg/cli/zadig-agent/internal/common/types/types.go
  pkg/cli/zadig-agent/internal/network/network.go
  pkg/microservice/aslan/core/vm/service/vm.go
Labels: service/aslan

#3066 optimize helm image parse rule
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/setting/consts.go
  pkg/util/yaml/path_search.go
  pkg/util/yaml/path_search_test.go
Labels: service/aslan, common

#3071 fix: apollo support set user
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_apollo.go
Labels: service/aslan
