Repository koderover/zadig, pull requests merged in 2023-11, with the labels that each got.

#3178 change logic of generating OPA bundle
  pkg/microservice/aslan/core/service.go
  pkg/microservice/policy/core/handler/bundle.go
Labels: service/aslan

#3180 cp 3179
  pkg/microservice/aslan/core/project/handler/product.go
Labels: service/aslan

#3181 cherry pick #3171 to 2.0.0
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
Labels: service/aslan

#3182 Feature/remove sleep time
  pkg/cli/upgradeassistant/cmd/migrate/200.go
Labels: service/aslan

#3177 grafana feature
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/observability.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_grafana.go
  pkg/microservice/aslan/core/system/handler/grafana.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/grafana.go
  pkg/microservice/aslan/core/system/service/observablilty.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/tool/grafana/client.go
  pkg/tool/grafana/client_test.go
  pkg/tool/grafana/grafana.go
Labels: service/aslan, common

#3186 remove restart pod limit
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#3187 cherry pick #3186 to 2.0.0
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#3184 fix share env issues
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/util/pointer.go
Labels: service/aslan, common

#3188 Feature/mongo transaction
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/services_in_external_env.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/workload_stat.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_creator.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/tool/mongo/client.go
Labels: service/aslan, common

#3195 fix logs with chinese character in custom workflow
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/sse.go
Labels: service/aslan

#3194 add transaction support for env service operation
  pkg/microservice/aslan/core/common/repository/mongodb/counter.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/repository/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/version.go
Labels: service/aslan

#3197 fix mysql execute error
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sql.go
Labels: service/aslan

#3200 fix build data check logic
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#3201 remove enterprise check for pod file download api
  pkg/microservice/aslan/core/environment/handler/kube.go
Labels: service/aslan

#3192 add portal service feature for share env
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/share_env.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/share_env_utils.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3204 fix build data check logic (#3200)
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#3205 fix portal service's port bug
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#3198 fixing caching error when using object storage cache in product workflow
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#3199 support special character in workflow view
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_view.go
Labels: service/aslan

#3208 revert changes made to the caching directory
  pkg/microservice/reaper/core/service/reaper/reaper.go
Labels: service/reaper

#3209 remove authorization checks for listing codehosts in project
  pkg/microservice/aslan/core/project/handler/integration.go
Labels: service/aslan

#3210 cherrypick #3209
  pkg/microservice/aslan/core/project/handler/integration.go
Labels: service/aslan

#3213 fix musk value of build parameter
  pkg/microservice/aslan/core/common/service/build.go
Labels: service/aslan

#3207 add oci registry support
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3219 Feature/helm oci support cp
  pkg/tool/helmclient/helmclient.go
Labels: common

#3216 added apollo comparison api
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/system/handler/configuration_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/tool/apollo/apollo.go
Labels: service/aslan, common

#3220 hot fix change password api
  pkg/microservice/user/core/handler/router.go
Labels: service/aslan
