Repository koderover/zadig, pull requests merged in 2024-04, with the labels that each got.

#3457 merge testing and production service
  pkg/microservice/aslan/core/common/service/repository/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/environment.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/production_service.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/version.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/core/service/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/service/service/template.go
  pkg/microservice/aslan/core/service/service/types.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
Labels: service/aslan

#3465 improve vm deploy job
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3466 cherry pick #3465 to release 2.2.0
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3464 merge testing and production environment api
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/configmap.go
  pkg/microservice/aslan/core/environment/handler/debug.go
  pkg/microservice/aslan/core/environment/handler/diff.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/export.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/ingress.go
  pkg/microservice/aslan/core/environment/handler/istio_grayscale.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/operation.go
  pkg/microservice/aslan/core/environment/handler/pvc.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/secret.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/handler/share_env.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/environment/service/common_env_cfg.go
  pkg/microservice/aslan/core/environment/service/configmap.go
  pkg/microservice/aslan/core/environment/service/debug.go
  pkg/microservice/aslan/core/environment/service/diff.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/aslan/core/environment/service/helm.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/ingress.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/environment/service/pvc.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/secret.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/environment/service/types.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/handler/yaml_template.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/types/authz.go
Labels: service/aslan, service/cron

#3459 fix merge services bug
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#3469 fix download testing artifact bug
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
Labels: service/aslan, service/reaper

#3470 cherry pick #3469 to release 2.2.0
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/microservice/aslan/core/environment/service/revision.go
  pkg/microservice/aslan/core/environment/service/share_env.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
Labels: service/aslan, service/reaper

#3468 fix native approve info display bug
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3467 fix get duplicate env service version for helm chart service
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
Labels: service/aslan

#3463 add debug log
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
Labels: service/cron

#3471 fix env svc version index duplicate issue
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
Labels: service/aslan

#3461 modify workflow log
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
Labels: service/reaper

#3443 Add options to all workflow choice fields
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/delivery_deploy.go
  pkg/microservice/aslan/core/common/repository/models/delivery_distribute.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/handler/user/user_group.go
Labels: service/aslan

#3473 remove openapi deploy job updater's service limit
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#3472 create delivery version support production environment
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3432 add skip release plan's job feature
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/skip.go
  pkg/microservice/aslan/core/release_plan/service/update.go
Labels: service/aslan

#3474 add merge workflow args with latest workflow settings function
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/release_plan/service/execute.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3475 fix find email host no documents err
  pkg/microservice/systemconfig/core/email/service/email.go
Labels: service/aslan

#3478 set deploy strategy to deploy in helm deploy job
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#3477 fix get k8s resource deploy status
  pkg/microservice/aslan/core/environment/service/kube.go
Labels: service/aslan

#3476 fix workflow bugs on merging parameters
  pkg/microservice/aslan/core/common/service/nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
Labels: service/aslan

#3480 fix delivery center auth issue
  pkg/microservice/aslan/core/delivery/handler/version.go
Labels: service/aslan

#3481 cherry pick #3480 to release 2.3.0
  pkg/microservice/aslan/core/delivery/handler/version.go
Labels: service/aslan

#3482 add default selection logic for build job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3484 fix user authorization problem when creating project
  pkg/microservice/user/core/service/permission/internal.go
  pkg/microservice/user/core/service/permission/role_binding.go
Labels: service/aslan

#3487 remove release plan execute permission check
  .github/ISSUE_TEMPLATE/installation_bug_report.md
  pkg/microservice/aslan/core/release_plan/service/execute.go
Labels: service/aslan

#3488 cherry pick #3487 to release 2.3.0
  pkg/microservice/aslan/core/release_plan/service/execute.go
Labels: service/aslan

#3489 fix originaljob missing bug
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3492 quick fix for random deletion for service revision
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#3491 add openapi for delivery version
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/delivery/handler/openapi.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/openapi.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#3495 cherry pick #3491 to release 2.3.0
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/delivery/handler/openapi.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/openapi.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#3496 add gloabl role configs
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/init/dm_mysql.sql
  pkg/microservice/user/core/init/dm_role_template_initialization.sql
  pkg/microservice/user/core/init/mysql.sql
  pkg/microservice/user/core/init/role_template_initialization.sql
  pkg/microservice/user/core/repository/models/role_template.go
  pkg/microservice/user/core/repository/models/role_template_action_binding.go
  pkg/microservice/user/core/repository/models/role_template_binding.go
  pkg/microservice/user/core/repository/orm/action.go
  pkg/microservice/user/core/repository/orm/role.go
  pkg/microservice/user/core/repository/orm/role_template.go
  pkg/microservice/user/core/repository/orm/role_template_action_binding.go
  pkg/microservice/user/core/repository/orm/role_template_binding.go
  pkg/microservice/user/core/service.go
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/internal.go
  pkg/microservice/user/core/service/permission/permission.go
  pkg/microservice/user/core/service/permission/resource.go
  pkg/microservice/user/core/service/permission/role.go
  pkg/microservice/user/core/service/permission/role_template.go
  pkg/setting/consts.go
  pkg/types/role_template.go
Labels: service/aslan, common

#3451 add user group support for collaboration and release plan approve
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_mode.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/user/core/handler/user/user_group.go
  pkg/microservice/user/core/service/permission/user_group.go
  pkg/shared/client/user/user_group.go
  pkg/types/user.go
  pkg/types/user_group.go
Labels: service/aslan, common

#3364 add branch/tag select range for workflow build job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/types/repo.go
Labels: service/aslan

#3497 fix deploy job output vars and istio release job panic
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3498 mutiple functionality moved to free tier
  pkg/microservice/aslan/core/delivery/handler/artifact.go
  pkg/microservice/aslan/core/project/handler/host.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/systemconfig/core/connector/handler/connector.go
  pkg/microservice/systemconfig/core/connector/service/connector.go
Labels: service/aslan

#3502 add istio fullpath grayscale warnning log
  pkg/microservice/aslan/core/common/service/kube/istio_grayscale.go
Labels: service/aslan

#3503 fix wrong cluster connection when updating cluster
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3504 fix wrong referred job bug
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan
