Repository koderover/zadig, pull requests merged in 2024-10, with the labels that each got.

#3741 cherry pick #3740 to release 3.1.0
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
Labels: service/aslan

#3740 fix list release plan performance issue
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
Labels: service/aslan

#3753 change image pull policy source & remove swagger from git
  .gitignore
  pkg/config/config.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/environment/service/debug.go
  pkg/microservice/aslan/core/environment/service/ide.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/setting/consts.go
  pkg/util/kubernetes.go
Labels: service/aslan, service/warpdrive, common

#3752 fix job name illegal when it contains chinese and length > 64
  .gitignore
  Makefile
  debug/aslan-debug.yaml
  debug/build.sh
  debug/debug.sh
  debug/golang-debug.Dockerfile
  debug/run.sh
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#3751 fix:return VariableConfigs in deploy job.
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3749 add refer job feature in approval job
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3745 support reference repos and build from another job in workflow
  debug/debug.sh
  debug/golang-debug.Dockerfile
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/build.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils_test.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/types/repo.go
  pkg/util/array.go
Labels: service/aslan, common

#3708 add notification job
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/dingTalk.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/wechatwork.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#3759 fix not update registry secret after update registry secretkey
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#3763 make admin able to run any workflow & release plan
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3764 fix a bug where manual webhook cannot be deleted
  pkg/microservice/aslan/core/common/service/gitee/webhook.go
  pkg/microservice/aslan/core/common/service/github/webhook.go
  pkg/microservice/aslan/core/common/service/gitlab/webhook.go
Labels: service/aslan

#3766 fix a bug where a workflow cannot be triggered twice by one git event
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
Labels: service/aslan

#3762 cherrypick #3761
  pkg/microservice/aslan/core/code/service/workspace.go
Labels: service/aslan

#3761 fix repo name with / in it
  pkg/microservice/aslan/core/code/service/workspace.go
Labels: service/aslan

#3680 remove openAPI create env service requirements
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#3772 fix sae support rebase error
  pkg/microservice/aslan/core/common/handler/callback.go
  pkg/microservice/aslan/core/common/service/sae/sae.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/system/handler/sae.go
  pkg/microservice/aslan/core/workflow/handler/pipeline.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_status.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_stat.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/user/core/handler/permission/role.go
Labels: service/aslan

#3758 add script type for variable
  go.mod
  go.sum
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v3.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/util.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/util.go
  pkg/types/workflow.go
  pkg/util/key_val.go
Labels: service/aslan, common

#3757 add service variables in freestyle, testing and scanning job
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3768 fix informer cache expired after update cluster's kubeconfig
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#3769 remove use referred job order in deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3775 add special variable for scripted variables
  pkg/microservice/aslan/core/workflow/service/workflow/util.go
Labels: service/aslan

#3776 customizable log level
  pkg/cli/initconfig/cmd/root.go
  pkg/cli/upgradeassistant/cmd/root.go
  pkg/cli/zadig-agent/command/cmd/start.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/main.go
  pkg/util/testing/init.go
Labels: service/aslan, common

#3774 fix gerrit load service
  pkg/microservice/aslan/core/service/service/loader.go
Labels: service/aslan

#3779 cherrypick #3774
  pkg/microservice/aslan/core/service/service/loader.go
Labels: service/aslan

#3781 fix pointer issue in transferServiceVariable
  pkg/microservice/aslan/core/common/types/service_variable.go
Labels: service/aslan
