Repository koderover/zadig, pull requests merged in 2024-03, with the labels that each got.

#3379 fix update env and vm deploy job bugs of vm project
  Makefile
  pkg/cli/zadig-agent/command/cmd/start.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/aslan, service/reaper

#3381 cherrypick #3379 to release 2.2.0
  Makefile
  pkg/cli/zadig-agent/command/cmd/start.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/aslan, service/reaper

#3382 cherrypick #3379 to 2.2.0-0131
  Makefile
  pkg/cli/zadig-agent/command/cmd/start.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/aslan, service/reaper

#3380 mutiple scan fix
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
Labels: service/aslan

#3383 cp #3380
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
Labels: service/aslan, service/reaper

#3385 fix vm deploy job concorrent run issue
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
Labels: service/aslan, service/reaper

#3387 cherry pick #3385 to release-2.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
Labels: service/aslan, service/reaper

#3386 cherry pick #3385 to v2.2.0-0131
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
Labels: service/aslan, service/reaper

#3388 fix get workflow error when scanning dont have project name
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3389 cherrypick #3388 to release-2.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3391 remove product workflow webhook trigger
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
Labels: service/aslan

#3390 fix env auth bugs in 2.2.0
  pkg/microservice/aslan/core/environment/handler/image.go
Labels: service/aslan

#3393 cherrypick #3390 into 0131
  pkg/microservice/aslan/core/environment/handler/image.go
Labels: service/aslan

#3392 Cherrypick #3390 into 2.2.0
  pkg/microservice/aslan/core/environment/handler/image.go
Labels: service/aslan

#3394 support capital letter in common workflow name
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3395 Cherrypick #3394 into 2.2.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3396 fix delivery task can't find source container when container name not equal to image name
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3398 cherry pick #3396 to release-2.2.0
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3400 fix deploy job's merge container issue
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
Labels: service/aslan

#3401 cherry pick #3400 to release 2.2.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
Labels: service/aslan

#3402 fix go jenkins dependency bug
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jenkins.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/jenkinsplugin/core/service/jenkins.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
Labels: service/aslan, service/warpdrive

#3403 cherrypick #3402
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jenkins.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/system/service/jenkins.go
  pkg/microservice/jenkinsplugin/core/service/jenkins.go
  pkg/microservice/warpdrive/core/service/taskplugin/jenkins_plugin.go
Labels: service/aslan, service/warpdrive

#3404 support dm database
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/user/core/init/dm_action_initialization.sql
  pkg/microservice/user/core/init/dm_mysql.sql
  pkg/microservice/user/core/service.go
  pkg/setting/consts.go
  pkg/tool/gorm/client.go
Labels: service/aslan, common

#3406 fix authorization bug caused by collaboration mode
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_detail.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
Labels: service/aslan

#3409 cherrypick 3406 into 0131
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_detail.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
Labels: service/aslan

#3408 cherrypick #3406 into 2.2.0
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_detail.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
Labels: service/aslan

#3410 support batchfile and powershell for vm deploy job
  pkg/cli/zadig-agent/internal/agent/step/script/batch_file_step.go
  pkg/cli/zadig-agent/internal/agent/step/script/powershell_step.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3399 improve delivery feature error format
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3407 fix agent powershell cmds
  pkg/microservice/aslan/core/vm/service/vm.go
Labels: service/aslan

#3384 add production api
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/export.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/pvc.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/project/handler/product.go
Labels: service/aslan

#3411 fix archive step add delivery data even it has failed
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
Labels: service/aslan

#3412 fix multiple bugs
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3415 cherry pick #3410 to release 2.2.0
  pkg/cli/zadig-agent/internal/agent/step/script/batch_file_step.go
  pkg/cli/zadig-agent/internal/agent/step/script/powershell_step.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3418 cherry pick #3411 to release 2.2.0
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
Labels: service/aslan

#3423 revert StepTask.Error type to string
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
Labels: service/aslan

#3424 cherry pick #3423 to release 2.2.0
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
Labels: service/aslan

#3428 temporarily fix multiple registry with same host problem
  pkg/tool/registries/dind.go
Labels: common

#3431 fix bug where the deployment doesnt have label or selector label
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
Labels: service/aslan

#3430 support custom image for build step
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
Labels: service/reaper

#3405 add workflow task status message
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/notify.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/notify/message.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#3427 add object storage cache in build job
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_artifact.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_download_achive.go
  pkg/microservice/aslan/core/workflow/service/workflow/cache_manager.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/setting/consts.go
  pkg/types/step/step_download_archive.go
  pkg/types/step/step_download_artifact.go
  pkg/types/step/step_tar_archive.go
Labels: service/aslan, service/reaper, common

#3438 cherry pick #3427 to release 2.2.0
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_artifact.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_download_achive.go
  pkg/microservice/aslan/core/workflow/service/workflow/cache_manager.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/setting/consts.go
  pkg/types/step/step_download_archive.go
  pkg/types/step/step_download_artifact.go
  pkg/types/step/step_tar_archive.go
Labels: service/aslan, service/reaper, common

#3442 change some format error in workflow logs
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/reaper

#3440 add scanning and testing job object cache feature
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3416 fix get build&nacos job preset performance issue
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/nacos/client.go
Labels: service/aslan, common

#3449 add more logging format into the custom workflow
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_debug.go
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_shell.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_check.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/reaper

#3374 add production env support for host projects
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/production_service.go
  pkg/microservice/aslan/core/common/repository/mongodb/service.go
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/repository/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/handler/operation.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_group.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/production_service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/user/core/service/permission/resource.go
Labels: service/aslan

#3452 remove useless log in workflow
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_debug.go
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_shell.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_check.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/reaper

#3450 fix extract image registry error when the address combine with ip and port
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/util/url.go
Labels: service/aslan, common

#3447 add order delivery deploy feature
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3448 fix create destination rule or virtual service error if it alreay existed
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_istio_release.go
Labels: service/aslan
