Repository koderover/zadig, pull requests merged in 2024-12, with the labels that each got.

#3868 add sae testing env support
  pkg/microservice/aslan/core/common/repository/mongodb/sae_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sae_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/sae_env.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sae_deploy.go
  pkg/util/boolptr/boolptr.go
Labels: service/aslan, common

#3867 fix lark approval runtime input bug
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3871 fix s3 proivder in step tool
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3872 cherry pick #3871 to release 3.2.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_tool_install.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3876 add branch support in sonar
  pkg/cli/zadig-agent/internal/agent/step/scanning/step_sonar_get_metrics.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_sonar_get_metrics.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_get_metrics.go
  pkg/setting/consts.go
  pkg/tool/sonar/sonar.go
  pkg/types/step/step_sonar_get_metrics.go
Labels: service/aslan, service/reaper, common

#3877 support service module style variables in testing/scanning job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3870 fix job name invalid
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
Labels: service/aslan

#3878 support volcano s3
  pkg/setting/consts.go
  pkg/tool/s3/client.go
Labels: common

#3879 fix list user group count
  pkg/microservice/user/core/repository/orm/user_group.go
Labels: service/aslan

#3883 support change remark in task running
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#3882 fix scanning job get empty metrics in somecase
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_sonar_get_metrics.go
Labels: service/aslan

#3887 fix get build jobs stats EOF
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
Labels: service/aslan

#3888 cherry pick #3887 to release 3.2.0
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
Labels: service/aslan

#3889 fix can't save approval job data in release plan
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3890 cherry pick #3889 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3893 fix scanning clone bug by NOT getting the latest setting
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
Labels: service/aslan

#3881 support submodule http auth in git step
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/cli/zadig-agent/internal/common/command.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/jobexecutor/core/service/cmd/cmd.go
  pkg/microservice/jobexecutor/core/service/cmd/git.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/tool/git/config.go
  pkg/types/step/step_git.go
Labels: service/aslan, service/reaper, common

#3898 fix not delete codehost after delete project
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/project/handler/integration.go
  pkg/microservice/aslan/core/project/service/integration.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
Labels: service/aslan

#3897 webhook comment notification not working
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
Labels: service/aslan

#3895 remove unsupport service vars output in build job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3902 fix build job's service vars
  pkg/microservice/aslan/core/common/util/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3892 fix panic in concurrent updateWorkflowTask
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/util/deepcopy/deepcopy.go
Labels: service/aslan, common

#3903 cherry pick #3892 to release 3.2.0
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/util/deepcopy/deepcopy.go
Labels: service/aslan, common

#3896 improve cluster management
  go.mod
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/common/util/kubernetes.go
  pkg/microservice/aslan/core/common/util/registry.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/tool/dockerhost/docker_host.go
  pkg/tool/dockerhost/dockerhosts_test.go
  pkg/util/kubernetes.go
Labels: service/aslan, common

#3909 fix build job not show all variables in trigger
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3911 cherry pick #3909 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3908 fix helm deploy job vars when only deploy image in somecase
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3910 cherry pick #3908 to release 3.2.0
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3899 fix use variables in testing html report path
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive_html.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/docker/step_docker_build.go
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/cli/zadig-agent/internal/agent/step/helper/step.go
  pkg/cli/zadig-agent/internal/agent/step/perforce/step_p4.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_shell.go
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/util/variables.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_archive_html.go
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_p4.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/setting/consts.go
  pkg/tool/dockerhost/docker_host.go
  pkg/util/variables.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#3900 improve workflow task performance
  go.mod
  go.sum
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3901 add multiselect for variables
  pkg/cli/upgradeassistant/internal/repository/models/workflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/cron/core/service/types.go
  pkg/microservice/warpdrive/core/service/types/task/build.go
  pkg/types/build.go
  pkg/types/workflow.go
Labels: service/aslan, service/cron, service/warpdrive

#3913 fix service label auth in bizdir
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#3905 support production env in my dashboard
  pkg/microservice/aslan/core/system/handler/dashboard.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3917 enable custom annotation and label to zadig job
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_plugin.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3918 fix bug where production env cannot use collaboration mode authorization
  pkg/microservice/aslan/core/log/handler/sse.go
Labels: service/aslan

#3914 fix connection improvement bugs
  pkg/tool/clientmanager/kube.go
Labels: common

#3923 fix freestyle job quote error
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/util/deep_copy.go
  pkg/util/deepcopy/deepcopy.go
Labels: service/aslan, common

#3925 cherrypick #3923
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/util/deep_copy.go
  pkg/util/deepcopy/deepcopy.go
Labels: service/aslan, common

#3922 fix build job reference variables
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3927 cherry pick #3922 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3926 cherry pick #3922 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3916 fix repo variables if repo name is start with number
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
Labels: service/aslan

#3912 add kubernetes credentials to job pods
  Makefile
  docker/bionic-base.Dockerfile
  docker/focal-base.Dockerfile
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3929 fix default freestyle-service job variable problem
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3932 cherrypick #3929
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan
