Repository koderover/zadig, pull requests merged in 2024-07, with the labels that each got.

#3588 add disable workflow feature
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3597 remove vm build job limit
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3598 cherry pick #3597 to release 2.3.1
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3599 cherry pick #3597 to release 3.0.0-0607
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3589 fix vm deploy job retry
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3577 fix get lark user avatar panic
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/tool/lark/contact.go
Labels: service/aslan, common

#3600 add jira sprint support in release plan
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/update.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/jira/board.go
  pkg/tool/jira/issue.go
  pkg/tool/jira/project.go
  pkg/tool/jira/sprint.go
  pkg/tool/jira/types.go
Labels: service/aslan, common

#3602 feat:add description to scanning list.
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
Labels: service/aslan

#3603 temporary collaboration mode adaptation
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/user/core/service/permission/resource.go
  pkg/types/authz.go
Labels: service/aslan

#3609 fix PKG_FILE var missing in vm build job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3607 fix private to public / public to private project property change
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/picket/core/filter/handler/project.go
  pkg/microservice/user/core/handler/permission/internal.go
  pkg/microservice/user/core/repository/orm/group_role_binding.go
  pkg/microservice/user/core/service/permission/internal.go
Labels: service/aslan

#3604 remove vm filter to show all project data
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
Labels: service/aslan

#3611 add download build job pkg file feature
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/tool/s3/client.go
Labels: service/aslan, common

#3605 remove old aslanx related code
  pkg/config/config.go
  pkg/microservice/cron/core/service/client/sonar.go
  pkg/microservice/cron/core/service/client/stat.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
Labels: service/cron, common

#3612 fix can't get project key from sonar parameter
  pkg/cli/zadig-agent/internal/agent/step/scanning/step_sonar_get_metrics.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_sonar_get_metrics.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_get_metrics.go
  pkg/setting/consts.go
  pkg/tool/sonar/sonar.go
Labels: service/aslan, service/reaper, common

#3614 fix workflow creation with template error
  pkg/microservice/aslan/core/templatestore/handler/workflow.go
Labels: service/aslan

#3615 fix get build error when infra is vm
  pkg/microservice/aslan/core/build/service/build.go
Labels: service/aslan

#3601 support application type in InitializeEnv api
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/setting/consts.go
Labels: service/aslan, common

#3606 add mail and webhook notification in workflow task
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/aslan/core/common/handler/callback.go
  pkg/microservice/aslan/core/common/handler/health.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/imnotify/dingTalk.go
  pkg/microservice/aslan/core/common/service/imnotify/lark.go
  pkg/microservice/aslan/core/common/service/imnotify/wechatwork.go
  pkg/microservice/aslan/core/common/service/instantmessage/dingTalk.go
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/mail.go
  pkg/microservice/aslan/core/common/service/instantmessage/notification.html
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/wechatwork.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/notify/client.go
  pkg/microservice/aslan/core/common/service/webhooknotify/client.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/util/user.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/setting/consts.go
  pkg/tool/httpclient/client.go
Labels: service/aslan, common

#3616 fix get testing html/junit report and artifact
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#3618 fix send duplicate email in workflow mail notify
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3617 add remark field in workflow task
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3621 remove vm deploy cache
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3619 support start, stop, restart cmd for vm service
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3622 support selected in delivery version openapi
  pkg/microservice/aslan/core/delivery/service/openapi.go
Labels: service/aslan

#3625 support manually execute stage in workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/user.go
  pkg/microservice/aslan/core/common/util/workflow.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/microservice/user/config/consts.go
  pkg/microservice/user/core/service/common/user_group.go
  pkg/microservice/user/core/service/login/local.go
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/permission.go
  pkg/microservice/user/core/service/permission/user_group.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3620 multiple changes to how the stat dashboard works
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/upgradeassistant/cmd/migrate/310.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/job_info.go
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/stat/handler/deploy.go
  pkg/microservice/aslan/core/stat/handler/deploy_stat_v2.go
  pkg/microservice/aslan/core/stat/handler/release.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/repository/models/deploy.go
  pkg/microservice/aslan/core/stat/repository/models/deploy_stat_weekly.go
  pkg/microservice/aslan/core/stat/repository/models/release_stat_monthly.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_monthly.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_weekly.go
  pkg/microservice/aslan/core/stat/repository/mongodb/release_stat_monthly.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/stat/service/build_stat.go
  pkg/microservice/aslan/core/stat/service/deploy.go
  pkg/microservice/aslan/core/stat/service/deploy_stat_v2.go
  pkg/microservice/aslan/core/stat/service/release.go
  pkg/microservice/aslan/core/stat/service/stat_calculator.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/core/stat/service/types.go
  pkg/microservice/cron/core/service/client/stat.go
  pkg/microservice/picket/client/aslan/stat.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/service/stat.go
  pkg/util/time.go
Labels: service/aslan, service/cron, common

#3628 add approval task
  pkg/cli/upgradeassistant/cmd/migrate/310.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_template.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blueking.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
Labels: service/aslan

#3631 add disable_image_dist filed in create delivery openAPI and fix error log for helm
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_distribute_image.go
  pkg/microservice/aslan/core/delivery/service/openapi.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/types/step/step_distribute_image.go
Labels: service/aslan

#3627 fix vm service probe
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
Labels: service/aslan, service/cron

#3624 fix exec vm cmd timeout
  pkg/microservice/aslan/core/environment/service/pm_exec.go
Labels: service/aslan
