Repository koderover/zadig, pull requests merged in 2024-09, with the labels that each got.

#3673 fix scanning mail notification url
  pkg/microservice/aslan/core/common/service/instantmessage/notification.html
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3685 fix apply service openapi varaible issue
  pkg/microservice/aslan/core/environment/service/openapi.go
Labels: service/aslan

#3687 cherry pick #3685 to release 3.1.0
  pkg/microservice/aslan/core/environment/service/openapi.go
Labels: service/aslan

#3686 cherry pick #3685 to release 3.0.0-0607
  pkg/microservice/aslan/core/environment/service/openapi.go
Labels: service/aslan

#3672 cherry pick #3406 #3390 #3529 to release-2.1.0-1222
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/handler/target.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_detail.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/user/core/repository/orm/role.go
  pkg/microservice/user/core/service/permission/authz.go
Labels: service/aslan

#3681 support aws irsa auth in workflow
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/hubserver/core/repository/models/models.go
  pkg/shared/client/aslan/multicluster.go
Labels: service/aslan, service/hubserver, common

#3688 remove option field in workflow task
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blueking.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3689 cherrypick #3688 into 3.1.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blueking.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan, service/reaper

#3683 fix release plan executing time
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
Labels: service/aslan

#3690 cherrypick #3683
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3692 fix workflow scanning job container name illegal in some case
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3693 cherry pick #3692 to release 3.1.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#3697 fix a problem where the scanning name is too long
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3698 fix release plan's approval panic
  pkg/microservice/aslan/core/release_plan/service/approval.go
Labels: service/aslan

#3699 cherry pick #3698 to release 3.1.0
  pkg/microservice/aslan/core/release_plan/service/approval.go
Labels: service/aslan

#3696 add sae support
  go.mod
  go.sum
  pkg/cli/initconfig/cmd/init.go
  pkg/localpkg/sae-20190506/.gitignore
  pkg/localpkg/sae-20190506/ChangeLog.txt
  pkg/localpkg/sae-20190506/LICENSE
  pkg/localpkg/sae-20190506/README-CN.md
  pkg/localpkg/sae-20190506/README.md
  pkg/localpkg/sae-20190506/client/client.go
  pkg/localpkg/sae-20190506/go.mod
  pkg/microservice/aslan/core/common/repository/models/sae.go
  pkg/microservice/aslan/core/common/repository/models/sae_env.go
  pkg/microservice/aslan/core/common/repository/mongodb/sae.go
  pkg/microservice/aslan/core/common/repository/mongodb/sae_env.go
  pkg/microservice/aslan/core/common/service/sae/client.go
  pkg/microservice/aslan/core/common/service/sae/sae.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/sae_env.go
  pkg/microservice/aslan/core/project/service/project.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/sae.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/setting/consts.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3684 support service freestyle job in workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v3.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3695 remove unused old label system and add label system for services
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/core/collaboration/config/consts.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/repository/models/labelbinding.go
  pkg/microservice/aslan/core/common/repository/models/labels.go
  pkg/microservice/aslan/core/common/repository/mongodb/label.go
  pkg/microservice/aslan/core/common/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/common/service/collaboration/collaboration_mode.go
  pkg/microservice/aslan/core/environment/handler/bundle.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/bundle.go
  pkg/microservice/aslan/core/label/config/consts.go
  pkg/microservice/aslan/core/label/handler/label_binding.go
  pkg/microservice/aslan/core/label/handler/labels.go
  pkg/microservice/aslan/core/label/handler/router.go
  pkg/microservice/aslan/core/label/repository/models/label.go
  pkg/microservice/aslan/core/label/repository/models/labelbinding.go
  pkg/microservice/aslan/core/label/repository/mongodb/label.go
  pkg/microservice/aslan/core/label/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/label/service/label.go
  pkg/microservice/aslan/core/label/service/labelsbinding.go
  pkg/microservice/aslan/core/multicluster/handler/bundle.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/bundle.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/label.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/system/handler/labels.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/labels.go
  pkg/microservice/aslan/core/workflow/handler/bundle.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/bundle.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/init/dm_action_initialization.sql
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/resource.go
  pkg/microservice/user/core/service/permission/types.go
  pkg/shared/client/user/user_auth.go
Labels: service/aslan, common

#3669 add cloud sync type in distribute image step
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
  pkg/types/step/step_distribute_image.go
Labels: service/aslan, service/reaper

#3702 add service module image variable in deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3704 authz problem and disable deletion when the label is used
  pkg/microservice/aslan/core/common/repository/mongodb/labelbinding.go
  pkg/microservice/aslan/core/system/service/labels.go
  pkg/microservice/user/core/service/permission/authz.go
Labels: service/aslan

#3706 cherrypick #3697
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3707 cherrypick #3706
  pkg/microservice/aslan/core/log/service/log.go
Labels: service/aslan

#3710 add new output for build job and enable freestyle job to quote it
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3711 remove unecessary code
  pkg/microservice/aslan/core/project/service/bizdir.go
Labels: service/aslan

#3712 fix update cluster storage class cache
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3713 update regexp to support chinese characters
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage_custom.go
Labels: service/aslan

#3709 support init container in k8s deploy
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/setting/consts.go
  pkg/tool/kube/updater/cronjob.go
  pkg/tool/kube/updater/deployment.go
  pkg/tool/kube/updater/statefulset.go
  pkg/types/workload.go
Labels: service/aslan, common

#3719 fix GetUserPermissionByProject not check group role namespace
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3721 cherry pick #3719 to release 3.1.0
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3720 cherry pick #3719 to release 3.0.0-0607
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3718 add docker login in freestyle job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3722 add phone field for oauth login
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/microservice/user/core/service/login/token.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#3717 cherry pick #3709 to release 3.0.0-0607
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/setting/consts.go
  pkg/tool/kube/updater/cronjob.go
  pkg/tool/kube/updater/deployment.go
  pkg/tool/kube/updater/statefulset.go
  pkg/types/workload.go
Labels: service/aslan, common

#3724 fix fixed variables issue in manual exec task
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3726 add output variables in build job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3715 add error code indicating phone not found
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3727 add user_id_type in lark request
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/system/handler/lark.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/setting/consts.go
  pkg/tool/lark/contact.go
Labels: service/aslan, common

#3733 add containers in list env service version
  pkg/microservice/aslan/core/environment/service/version.go
Labels: service/aslan

#3735 fix lark approval timeout not cancel approval instance
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
Labels: service/aslan

#3736 cherry pick #3735 to release 3.1.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
Labels: service/aslan

#3732 cherry pick #3724 to release 3.1.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3737 fix merge service and template service variableKVs
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#3738 cherry pick #3737 to release 3.0.0-0607
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#3743 cherry pick #3737 to release 3.1.0
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#3744 fix env version username in update helm serivce image
  pkg/microservice/aslan/core/environment/service/image.go
Labels: service/aslan

#3716 support jira status change in jira webhook
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/jira/client.go
  pkg/tool/jira/platform.go
  pkg/tool/jira/project.go
  pkg/tool/jira/types.go
Labels: service/aslan, common

#3739 support archive multiple html file to one html
  go.mod
  go.sum
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive_html.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/cli/zadig-agent/internal/agent/step/scanning/step_sonar_check.go
  pkg/cli/zadig-agent/internal/agent/step/scanning/step_sonar_get_metrics.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_batch_file.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_powershell.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_shell.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive_html.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_archive_html.go
  pkg/microservice/jobexecutor/core/service/step/step_distribute_image.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_check.go
  pkg/microservice/jobexecutor/core/service/step/step_sonar_get_metrics.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
  pkg/types/step/step_archive_html.go
Labels: service/aslan, service/reaper

#3734 support runtime and fixed source in approval job
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3746 fix junit step not failed if has error
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
Labels: service/reaper

#3747 cherry pick #3746 to release 3.1.0
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
Labels: service/reaper
