Repository koderover/zadig, pull requests merged in 2024-01, with the labels that each got.

#3279 fix authorization problems
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/common_env_cfg.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/project/handler/openapi.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/handler/project.go
  pkg/microservice/aslan/core/project/service/openapi.go
  pkg/microservice/aslan/core/release_plan/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_view.go
  pkg/microservice/aslan/core/workflow/testing/handler/openapi.go
  pkg/microservice/picket/core/filter/handler/users.go
  pkg/microservice/picket/core/filter/service/users.go
  pkg/microservice/user/core/handler/permission/role_binding.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/shared/client/user/user.go
  pkg/types/user.go
Labels: service/aslan, common

#3276 replace old workflow with v4 in auto create workflow api
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#3275 support helm chart deploy feature in testing environment
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3284 fix panic issue for aws
  pkg/microservice/aslan/core/common/service/registry/service.go
Labels: service/aslan

#3283 add K8S delivery version feature
  pkg/microservice/aslan/core/common/repository/models/delivery_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/setting/consts.go
Labels: service/aslan, common

#3277 add vm deploy job to vm project
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_artifact.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/script/shell_step.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/delivery_activity.go
  pkg/microservice/aslan/core/common/repository/models/s3.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_download_artifact.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/vm/service/vm.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_download_artifact.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/types/step/step_archive.go
  pkg/types/step/step_download_artifact.go
Labels: service/aslan, service/cron, service/reaper

#3272 add ability to support multiple replicas
  go.mod
  go.sum
  pkg/cli/initconfig/cmd/init.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/queue.go
  pkg/microservice/aslan/core/common/repository/models/task/model.go
  pkg/microservice/aslan/core/common/repository/models/vm/vm_job.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/dingtalk/webhook.go
  pkg/microservice/aslan/core/common/service/imnotify/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/lark/webhook.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/debug.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/delivery/handler/artifact.go
  pkg/microservice/aslan/core/delivery/handler/product.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/security.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/artifact.go
  pkg/microservice/aslan/core/delivery/service/product.go
  pkg/microservice/aslan/core/delivery/service/security.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/lock.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/system_cache.go
  pkg/microservice/aslan/core/system/service/system_cache.go
  pkg/microservice/aslan/core/vm/service/log.go
  pkg/microservice/aslan/core/vm/service/vm.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/user/config/config.go
  pkg/setting/consts.go
  pkg/shared/client/aslan/system.go
  pkg/tool/cache/lock.go
  pkg/tool/cache/redis_cache.go
  pkg/tool/cache/redis_lock_test.go
  pkg/tool/dingtalk/cache.go
  pkg/tool/dingtalk/client.go
  pkg/tool/git/gitlab/token.go
  pkg/tool/gitee/client.go
  pkg/types/dto/workflowtask.go
  pkg/util/file.go
Labels: service/aslan, common

#3278 run test with custom workflow engine
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/custom_workflow_test_report.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_queue.go
  pkg/microservice/aslan/core/common/repository/mongodb/job_info.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/it_report.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/it_report.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/user/core/handler/login/third_party.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3289 remove product workflow initialization logic
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#3291 remove scale wd logic when updating workflow concurrency setting
  pkg/microservice/aslan/core/system/service/concurrency.go
Labels: service/aslan

#3295 fix global context write error
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#3296 fix test report status for testing
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
Labels: service/aslan

#3285 fix role bing log
  pkg/microservice/user/core/handler/permission/role_binding.go
Labels: service/aslan

#3294 stat data source update
  pkg/microservice/aslan/core/stat/service/build_stat.go
  pkg/microservice/aslan/core/stat/service/deploy_stat.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
Labels: service/aslan

#3287 add abilit to support workflow debug on multiple aslan pods
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/debug.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/podexec/core/service/pod_server_ws.go
  pkg/tool/cache/lock.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3286 fix workflow name issue
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3292 add image delivery artifact in custom workflow
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_docker_build.go
  pkg/microservice/aslan/core/common/util/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/types/step/step_docker_build.go
Labels: service/aslan

#3298 fix duplicate alsan running worklflow task error
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
Labels: service/aslan

#3300 fix lark approval fail error
  pkg/microservice/aslan/core/common/service/lark/lark.go
Labels: service/aslan

#3288 improve vm deploy job
  pkg/microservice/aslan/core/build/service/build.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/user/server/rest/server.go
Labels: service/aslan

#3302 optmize blue green release logic
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
Labels: service/aslan

#3299 fix init problems
  pkg/cli/initconfig/cmd/init.go
  pkg/config/config.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/systemconfig/core/features/handler/features.go
Labels: service/aslan, common

#3303 fix native approval error bug
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3301 fix feishu messages and auto create workflow bug
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
Labels: service/aslan

#3306 optimize use of redis lock
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
Labels: service/aslan

#3305 multiple bugfix on testing and scanning
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/testing/handler/openapi.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#3308 fix cron get env data missing error
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_define.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/service.go
Labels: service/aslan, service/cron

#3309 fix notification information error
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
Labels: service/aslan

#3310 change length limit of cluster name
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3311 add redis cache handler
  pkg/handler/cache/handler.go
  pkg/handler/cache/redis_cache.go
  pkg/tool/cache/redis_cache.go
Labels: common

#3313 fix duplicate release for helm service in product
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
Labels: service/aslan

#3312 initialize vm env and workflow api
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#3304 change helm delivery feature's workflow engine to custom workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/registry_namespace.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3314 fix guanceyun api spec change bug
  pkg/tool/guanceyun/monitor.go
Labels: common

#3307 fix multiple vm related bug
  pkg/microservice/aslan/core/common/repository/models/private_key.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/vm/service/log.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_pm.go
  pkg/microservice/cron/core/service/service.go
  pkg/setting/consts.go
Labels: service/aslan, service/cron, common

#3316 fix run workflow cause panic
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3320 fix kubeclient nil error
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3321 fix kubeclient nil error
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3319 optimize cron query aslan frequency
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
Labels: service/cron

#3318 fix vm project init problems in env
  pkg/microservice/aslan/core/environment/handler/revision.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/service/service/pm.go
Labels: service/aslan

#3325 update feature gate logic to make sure multiple copy of aslan runs co…
  pkg/microservice/aslan/core/service.go
  pkg/microservice/systemconfig/core/features/handler/features.go
  pkg/microservice/systemconfig/core/features/service/feature.go
Labels: service/aslan

#3324 fix custom workflow field bug
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
Labels: service/aslan

#3326 fix errors
  pkg/microservice/systemconfig/core/features/service/feature.go
Labels: service/aslan

#3327 scanning cache fix
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
Labels: service/aslan

#3331 update namespace length
  pkg/microservice/user/core/init/mysql.sql
Labels: service/aslan

#3332 change namespace length limit
  pkg/microservice/user/core/init/mysql.sql
Labels: service/aslan

#3333 change namespace length limit
  pkg/microservice/user/core/init/mysql.sql
Labels: service/aslan

#3334 update namespace length limit
  pkg/microservice/user/core/init/mysql.sql
Labels: service/aslan
