Repository koderover/zadig, pull requests merged in 2024-11, with the labels that each got.

#3784 fix helm chart deploy suffix '\n' in preview
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3783 fix concurrent download chart
  pkg/tool/helmclient/helmclient.go
Labels: common

#3778 add freestyle and notification job limit
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
Labels: service/aslan

#3786 cherry pick #3781 to release 3.0.0-0607
  pkg/microservice/aslan/core/common/types/service_variable.go
Labels: service/aslan

#3785 cherry pick #3768 to release 3.0.0-0607
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#3773 add app type for lark as an option in notification job
  pkg/cli/upgradeassistant/internal/repository/models/testing.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/system/handler/lark.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
  pkg/setting/consts.go
  pkg/tool/lark/chats.go
  pkg/tool/lark/im.go
  pkg/tool/lark/model.go
  pkg/util/pointer.go
Labels: service/aslan, common

#3787 fix update service variable auth check
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/service/handler/helm.go
  pkg/microservice/aslan/core/service/handler/service.go
Labels: service/aslan

#3782 fix helm deploy job's variable preivew
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3770 improve sprint management feature
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/upgradeassistant/cmd/migrate/320.go
  pkg/microservice/aslan/core/common/repository/models/sprint_template.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/sprint.go
  pkg/microservice/aslan/core/common/repository/mongodb/sprint_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/sprint_workitem_task.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/sprint_management/handler/router.go
  pkg/microservice/aslan/core/sprint_management/handler/sprint.go
  pkg/microservice/aslan/core/sprint_management/handler/sprint_template.go
  pkg/microservice/aslan/core/sprint_management/handler/sprint_workitem.go
  pkg/microservice/aslan/core/sprint_management/service/sprint.go
  pkg/microservice/aslan/core/sprint_management/service/sprint_template.go
  pkg/microservice/aslan/core/sprint_management/service/sprint_workitem.go
  pkg/microservice/aslan/core/sprint_management/service/watcher.go
  pkg/microservice/user/core/service/permission/role_binding.go
  pkg/shared/client/user/user_auth.go
Labels: service/aslan, common

#3789 add index to label collection
  pkg/microservice/aslan/core/common/repository/mongodb/label.go
Labels: service/aslan

#3792 cherry pick #3791 to release-3.2.0
  pkg/microservice/aslan/core/common/repository/mongodb/sprint.go
Labels: service/aslan

#3793 fix sae build error
  pkg/microservice/aslan/core/common/handler/callback.go
  pkg/microservice/aslan/core/common/service/sae/sae.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/stat/handler/test_stat.go
  pkg/microservice/aslan/core/system/handler/sae.go
  pkg/microservice/aslan/core/workflow/handler/pipeline.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_status.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_stat.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/user/core/handler/permission/role.go
Labels: service/aslan

#3795 add vm deploy type to create workflowtask OpenAPI
  pkg/microservice/aslan/core/common/service/artifact.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#3796 cherrypick #3795
  pkg/microservice/aslan/core/common/service/artifact.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#3798 fix get all user group's userinfos in sprint
  pkg/microservice/user/core/repository/models/user_group.go
  pkg/microservice/user/core/service/permission/role_binding.go
Labels: service/aslan

#3801 cherry pick #3798 to release 3.2.0
  pkg/microservice/user/core/repository/models/user_group.go
  pkg/microservice/user/core/service/permission/role_binding.go
Labels: service/aslan

#3805 remove fixed value mark in render scripted variable
  pkg/microservice/aslan/core/workflow/service/workflow/util.go
Labels: service/aslan

#3804 cherrypick #3803
  pkg/microservice/aslan/core/environment/service/types.go
Labels: service/aslan

#3800 fix get sonar link if Sonar Parameter is empty
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3812 cherry pick #3800 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
Labels: service/aslan

#3807 support ref code repo in build, freestyle, testing, scanning job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3815 cherry pick #3807 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3817 cherry pick #3816 to release 3.2.0
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3814 set cos to use virtual-hosted-style domain
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/it_report.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/vm/service/log.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/tool/s3/client.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#3794 fix merge issue for enum variable
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3802 cherry pick #3794 to release 3.0.0-0607
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3819 cherry pick #3794 to release 3.2.0
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/common/types/service_variable_test.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_copy.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/openapi.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/service/service/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3818 cherry pick #3814 to release 3.2.0
  pkg/cli/zadig-agent/internal/agent/step/archive/step_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/testing/step_junit_report.go
  pkg/microservice/aslan/core/common/service/fs/s3.go
  pkg/microservice/aslan/core/common/service/it_report.go
  pkg/microservice/aslan/core/common/service/scmnotify/scmnotify.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/stat/service/test_stat.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/aslan/core/templatestore/service/chart.go
  pkg/microservice/aslan/core/vm/service/log.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
  pkg/microservice/jobexecutor/core/service/step/step_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
  pkg/microservice/reaper/core/service/archive/file_archive.go
  pkg/microservice/reaper/core/service/reaper/archive.go
  pkg/microservice/reaper/core/service/reaper/artifact.go
  pkg/microservice/reaper/core/service/reaper/cachemanager.go
  pkg/microservice/reaper/core/service/reaper/reaper.go
  pkg/microservice/reaper/core/service/reaper/script.go
  pkg/microservice/warpdrive/core/service/taskcontroller/task_helper.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy_helm.go
  pkg/microservice/warpdrive/core/service/taskplugin/distribute_kodo.go
  pkg/microservice/warpdrive/core/service/taskplugin/job.go
  pkg/microservice/warpdrive/core/service/taskplugin/release_image.go
  pkg/microservice/warpdrive/core/service/taskplugin/testing.go
  pkg/microservice/warpdrive/core/service/taskplugin/trigger.go
  pkg/tool/s3/client.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#3808 improve dynamic workflow variable feature
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/util.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_dynamic_variable.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/util.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/util/key_val.go
Labels: service/aslan, common

#3822 cherry pick #3808 to release 3.2.0
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/common/types/service_variable.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/environment/service/kube.go
  pkg/microservice/aslan/core/environment/service/pm_exec.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/util.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_dynamic_variable.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/util.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/util/key_val.go
Labels: service/aslan, common

#3813 add description field to variables
  pkg/microservice/aslan/core/build/service/openapi.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/types/workflow.go
Labels: service/aslan

#3820 remove approval job lint user count
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3823 cherry pick #3820 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan, service/reaper, service/warpdrive, common

#3824 cherrypick #3813
  pkg/microservice/aslan/core/build/service/openapi.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/types/workflow.go
Labels: service/aslan

#3821 add update remark APIs for workflow
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3825 cherry pick #3791 to release 3.2.0
  pkg/microservice/aslan/core/common/repository/mongodb/sprint.go
Labels: service/aslan

#3828 check approval job is valid in ToJobs
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3829 cherry pick #3828 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3826 fix list env err when don't have default registry
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#3830 cherry pick #3826 to release 3.2.0
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#3834 cherry pick #3833 to release 3.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
Labels: service/aslan

#3833 add service module image var output in image distribute job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
Labels: service/aslan

#3837 fix approval notification panic
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3838 cherry pick #3837 to release 3.2.0
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3827 add swag doc info
  .gitignore
  Makefile
  pkg/microservice/aslan/core/build/handler/build.go
  pkg/microservice/aslan/core/service/handler/service.go
  pkg/microservice/aslan/core/system/handler/labels.go
  pkg/microservice/aslan/core/templatestore/handler/scanning.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/handler/user/user_group.go
Labels: service/aslan

#3840 delete sae envs when delete project
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#3832 fix build stat not found error
  pkg/microservice/aslan/core/stat/service/build.go
Labels: service/aslan

#3841 add license sae feature check
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/system/handler/sae.go
  pkg/shared/client/plutusvendor/plutusvendor.go
Labels: service/aslan, common

#3811 add perforce support
  Makefile
  docker/base/image/bionic-base-amd64.Dockerfile
  docker/base/image/bionic-base-arm64.Dockerfile
  docker/base/image/focal-base-amd64.Dockerfile
  docker/base/image/focal-base-arm64.Dockerfile
  docker/base/image/xenial-base-amd64.Dockerfile
  docker/base/image/xenial-base-arm64.Dockerfile
  docker/bionic-base.Dockerfile
  docker/focal-base.Dockerfile
  pkg/cli/zadig-agent/helper/perforce/perforce.go
  pkg/cli/zadig-agent/internal/agent/step/perforce/step_p4.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_p4.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/sprint_management/service/watcher.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/jobexecutor/core/service/cmd/git.go
  pkg/microservice/jobexecutor/core/service/cmd/perforce.go
  pkg/microservice/jobexecutor/core/service/step/step.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/jobexecutor/core/service/step/step_p4.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/types/openapi.go
  pkg/types/repo.go
  pkg/types/step/step_p4.go
Labels: service/aslan, service/reaper, common

#3845 cherry pick #3839 #3840 to sae-support
  go.mod
  go.sum
  pkg/localpkg/sae-20190506/.gitignore
  pkg/localpkg/sae-20190506/ChangeLog.txt
  pkg/localpkg/sae-20190506/LICENSE
  pkg/localpkg/sae-20190506/README-CN.md
  pkg/localpkg/sae-20190506/README.md
  pkg/localpkg/sae-20190506/client/client.go
  pkg/localpkg/sae-20190506/go.mod
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan

#3849 revert wechat work notification logic & change its logic in notificat…
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
Labels: service/aslan

#3831 add DisplayName in jobTask, improve jobName generation
  go.mod
  pkg/microservice/aslan/core/common/repository/models/vm/vm_job.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_distribute_image.go
  pkg/microservice/aslan/core/common/util/workflow.go
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/log/service/sse.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blueking.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
Labels: service/aslan

#3844 set huawei oss use virtual host access
  pkg/tool/s3/client.go
Labels: common

#3848 support github/gitlab/gitee(no scanning) webhook auto cancel in testing/scanning
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/util/workflow.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/log/service/log.go
  pkg/microservice/aslan/core/system/service/capacity.go
  pkg/microservice/aslan/core/workflow/service/webhook/auto_cancel_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_testing_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_testing_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/it_report.go
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
Labels: service/aslan

#3851 add proxy in helm chart repo
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/helm_repo.go
  pkg/microservice/aslan/core/common/repository/models/proxy.go
  pkg/microservice/aslan/core/common/repository/mongodb/helm_repo.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/tool/helmclient/helmclient.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/updater/secret.go
  pkg/util/net.go
Labels: service/aslan, common

#3852 update notification configuration field & enable feishu notifictaion to person
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/lark.go
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/setting/consts.go
  pkg/tool/lark/contact.go
  pkg/tool/lark/model.go
Labels: service/aslan, common

#3857 add workflow task hash to prevent unwanted workflow clone
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3856 fix git cmds workdir not correct
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/aslan, service/reaper

#3859 added more ignore field in workflow hash
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3861 fix notification at problem
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#3843 remove go proxy
  debug/golang-debug.Dockerfile
  docker/aslan.Dockerfile
  docker/cron.Dockerfile
  docker/executor.Dockerfile
  docker/hub-agent.Dockerfile
  docker/hub-server.Dockerfile
  docker/init.Dockerfile
  docker/jenkins-plugin.Dockerfile
  docker/packager-plugin.Dockerfile
  docker/predator-plugin.Dockerfile
  docker/resource-server.Dockerfile
  docker/ua.Dockerfile
  docker/user.Dockerfile
  docker/warpdrive.Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
Labels: service/aslan

#3858 add rollback stat in openapi
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/env_info.go
  pkg/microservice/aslan/core/common/repository/models/job_info.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_info.go
  pkg/microservice/aslan/core/common/repository/mongodb/task.go
  pkg/microservice/aslan/core/common/service/helm/helm.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/common/util/openapi.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/sae_env.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/stat/handler/openapi.go
  pkg/microservice/aslan/core/stat/handler/router.go
  pkg/microservice/aslan/core/stat/service/release.go
  pkg/microservice/aslan/core/stat/service/rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/types/openapi.go
Labels: service/aslan

#3862 support host static html resources of test report
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/step.go
  pkg/config/config.go
  pkg/microservice/aslan/core/clean_cache_files.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v3.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v3.go
  pkg/microservice/aslan/core/common/service/task.go
  pkg/microservice/aslan/core/common/service/workflow_v3.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/stat/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/capacity.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v3_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v3.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v3.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/test_task.go
  pkg/microservice/aslan/core/workflow/testing/handler/testing.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/jobexecutor/core/service/step/step_tar_archive.go
  pkg/microservice/picket/client/aslan/workflow.go
  pkg/microservice/picket/core/filter/handler/router.go
  pkg/microservice/picket/core/filter/handler/workflow.go
  pkg/microservice/picket/core/filter/service/workflow.go
  pkg/microservice/user/core/service/permission/authn.go
  pkg/setting/consts.go
  pkg/tool/tar/tar.go
  pkg/types/step/step_tar_archive.go
Labels: service/aslan, service/reaper, common

#3865 add hash in sprint workitem task
  pkg/microservice/aslan/core/common/repository/models/sprint_workitem_task.go
  pkg/microservice/aslan/core/sprint_management/service/sprint_workitem.go
  pkg/microservice/aslan/core/sprint_management/service/watcher.go
Labels: service/aslan

#3866 fix dup job name in testing/scanning
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3864 add SAE deploy job
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/sae_env.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/sae/sae.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sae_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/service/sae_env.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sae_deploy.go
  pkg/setting/consts.go
  pkg/util/converter/strcase.go
Labels: service/aslan, common
