Repository koderover/zadig, pull requests merged in 2024-02, with the labels that each got.

#3335 fix email bug
  pkg/microservice/systemconfig/core/email/repository/mongodb/emailhost.go
  pkg/microservice/systemconfig/core/email/service/email.go
Labels: service/aslan

#3337 bugfix for connection to abnormal clusters
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/shared/kube/client/client.go
Labels: service/aslan, common

#3340 add missing config
  pkg/config/config.go
  pkg/setting/consts.go
Labels: common

#3339 add partial cache for user permission
  pkg/microservice/user/core/service/permission/permission.go
  pkg/microservice/user/core/service/permission/role.go
  pkg/microservice/user/core/service/user/user_group.go
  pkg/microservice/user/server/grpc/server.go
  pkg/setting/consts.go
  pkg/tool/cache/redis_cache.go
Labels: service/aslan, common

#3338 optimize blue green release logic
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3346 add cache and change permission API design
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/permission.go
  pkg/microservice/user/core/service/permission/role.go
  pkg/microservice/user/core/service/permission/role_binding.go
  pkg/microservice/user/core/service/user/user_group.go
  pkg/tool/cache/redis_cache.go
Labels: service/aslan, common

#3345 add license check
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/release_plan/handler/openapi.go
  pkg/microservice/aslan/core/service/handler/openapi.go
Labels: service/aslan

#3347 update openapi logic
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/openapi.go
  pkg/microservice/aslan/core/system/service/types.go
Labels: service/aslan

#3342 fix cron panic and mem leak
  pkg/microservice/cron/core/service/client/env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/scheduler/shedule_env_resource_update.go
  pkg/microservice/cron/server/server.go
  pkg/microservice/user/server/server.go
Labels: service/aslan, service/cron

#3349 update env openapi
  pkg/microservice/aslan/core/environment/handler/image.go
  pkg/microservice/aslan/core/environment/handler/kube.go
  pkg/microservice/aslan/core/environment/handler/openapi.go
  pkg/microservice/aslan/core/environment/handler/router.go
  pkg/microservice/aslan/core/environment/handler/service.go
  pkg/microservice/aslan/core/environment/handler/share_env.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/handler/share_env.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#3072 scanning template
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/common/repository/models/scanning_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/scanning.go
  pkg/microservice/aslan/core/common/repository/mongodb/scanning_template.go
  pkg/microservice/aslan/core/common/service/template/types.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/handler/scanning.go
  pkg/microservice/aslan/core/templatestore/service/build.go
  pkg/microservice/aslan/core/templatestore/service/scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/jobexecutor/core/service/step/step_tool_install.go
Labels: service/aslan, service/reaper

#3351 fix openapi bugs
  pkg/microservice/aslan/core/service/handler/openapi.go
  pkg/microservice/aslan/server/rest/router.go
Labels: service/aslan

#3352 fix deploy job execute order
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/workflowcontroller/queue.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#3350 add user openapi
  pkg/microservice/user/core/handler/permission/resource.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/microservice/user/core/handler/permission/role_binding.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/handler/user/user_group.go
  pkg/microservice/user/core/service/permission/authn.go
  pkg/microservice/user/core/service/user/user.go
  pkg/microservice/user/server/rest/router.go
Labels: service/aslan

#3359 cherrypick bugs on scanning & collaboration mode
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/user/core/repository/mongodb/collaboration_instance.go
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3361 cherrypick #3359
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/user/core/repository/mongodb/collaboration_instance.go
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3366 fix vm deploy job's AGENT_PK variable bug
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3369 cherrypick #3366 to 2.2.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3367 change cluster status to always normal for kube config clusters
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#3368 cherrypick #3367
  pkg/microservice/aslan/core/common/service/kube/service.go
Labels: service/aslan

#3371 fix get delivery auth bug
  pkg/microservice/aslan/core/delivery/handler/version.go
Labels: service/aslan

#3372 cherrypick #3371 to 2.2.0-0131
  pkg/microservice/aslan/core/delivery/handler/version.go
Labels: service/aslan

#3373 cherrypick #3371 to 2.2.0
  pkg/microservice/aslan/core/delivery/handler/version.go
Labels: service/aslan

#3360 optimize workload selector logic
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/environment/service/service.go
Labels: service/aslan

#3262 optimize host project data store
  pkg/cli/initconfig/cmd/init.go
  pkg/cli/upgradeassistant/cmd/migrate/230.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/product.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/template_product.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/service/service/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/warpdrive/core/service/taskplugin/deploy.go
  pkg/microservice/warpdrive/core/service/types/environment.go
  pkg/shared/kube/wrapper/deployment.go
  pkg/shared/kube/wrapper/statefulset.go
Labels: service/aslan, service/warpdrive, common

#3376 cherrypick #3375 to release-2.2.0
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan

#3377 cherrypick #3375 to v2.2.0-0131
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/environment/service/share_env.go
Labels: service/aslan
