Repository koderover/zadig, pull requests merged in 2024-08, with the labels that each got.

#3630 support manually select execute jobs in workflow
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3636 support unencrypt lark event
  pkg/microservice/aslan/core/common/service/lark/webhook.go
  pkg/microservice/aslan/core/common/util/workflow.go
Labels: service/aslan

#3637 fix not delete scanning when delete project and archive workflow
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/project/service/testing.go
  pkg/microservice/aslan/core/templatestore/service/scanning.go
Labels: service/aslan

#3632 add create time and update time to the deploy stats data so it can be queried
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_weekly.go
  pkg/microservice/aslan/core/stat/service/deploy_stat_v2.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3635 workflow job error handling mechanism
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stage.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/common/util/user.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blueking.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_canary_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_guanceyun.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_istio_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jira.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_meego_transition.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_offline.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_mse_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_plugin.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_update_env_istio_config.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_workflow_trigger.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/tool/workflow/manual_error_handling.go
Labels: service/aslan, common

#3640 remove unused logic and unsupported ua
  pkg/cli/upgradeassistant/cmd/migrate/1100.go
  pkg/cli/upgradeassistant/cmd/migrate/1110.go
  pkg/cli/upgradeassistant/cmd/migrate/1120.go
  pkg/cli/upgradeassistant/cmd/migrate/1130.go
  pkg/cli/upgradeassistant/cmd/migrate/1150.go
  pkg/cli/upgradeassistant/cmd/migrate/1160.go
  pkg/cli/upgradeassistant/cmd/migrate/1160_vars.go
  pkg/cli/upgradeassistant/cmd/migrate/1170.go
  pkg/cli/upgradeassistant/cmd/migrate/1180.go
  pkg/cli/upgradeassistant/cmd/migrate/1180_vars.go
  pkg/cli/upgradeassistant/cmd/migrate/130.go
  pkg/cli/upgradeassistant/cmd/migrate/140.go
  pkg/cli/upgradeassistant/cmd/migrate/150.go
  pkg/cli/upgradeassistant/cmd/migrate/170.go
  pkg/microservice/aslan/core/service.go
Labels: service/aslan

#3626 fix:update npm registry mirror url.
  pkg/microservice/aslan/core/system/service/install.go
Labels: bug, service/aslan

#3639 add clean workflow task v4 logic in system gc
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
  pkg/microservice/aslan/core/system/service/capacity.go
Labels: service/aslan

#3641 fix multiple bugs on deploy stats
  pkg/cli/upgradeassistant/cmd/migrate/310.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_monthly.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_weekly.go
  pkg/microservice/aslan/core/templatestore/service/workflow.go
Labels: service/aslan

#3645 multiple bugfixes for 310
  pkg/cli/upgradeassistant/cmd/migrate/310.go
  pkg/microservice/aslan/core/release_plan/service/lint.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_monthly.go
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_weekly.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
  pkg/tool/workflow/manual_error_handling.go
Labels: service/aslan, common

#3646 change error handling user and change error retry logic
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_approval.go
Labels: service/aslan

#3642 add license check for 3.1.0
  pkg/microservice/aslan/core/common/repository/models/testing.go
  pkg/microservice/aslan/core/environment/handler/pm_exec.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3647 fix get manual exec parma error
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3648 feat: add sort by updated time in project list query.
  pkg/microservice/aslan/core/common/repository/mongodb/template/product.go
Labels: service/aslan

#3650 multiple bugfixes in 3.1.0
  go.sum
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_view.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/util/user.go
  pkg/microservice/aslan/core/environment/handler/renderset.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/stat/service/build.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/setting/consts.go
Labels: service/aslan, common

#3655 fix performance for collaboration mode supporting user groups
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#3656 cherrypick #3655
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#3653 fix bugs in 3.1.0
  pkg/microservice/aslan/core/common/repository/mongodb/custom_workflow_test_report.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_distribute_image.go
Labels: service/aslan

#3652 support params and plugin job in create workflow task openapi
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#3651 add jira sprint info in release plan approval
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/approval.html
Labels: service/aslan

#3659 fix helm deploy job variable preview
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3661 cherry pick #3654 to release 3.1.0
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/environment/handler/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3662 fix download archive and junit report subfolder issue
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
Labels: service/aslan, service/reaper

#3663 cherry pick #3662 to release 3.1.0
  pkg/cli/zadig-agent/internal/agent/step/archive/step_download_archive.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/stepcontroller/step_junit_report.go
  pkg/microservice/jobexecutor/core/service/step/step_download_archive.go
Labels: service/aslan, service/reaper

#3665 change the way we deal with aws pointer values to avoid panic
  pkg/microservice/aslan/core/common/service/registry/service.go
Labels: service/aslan

#3667 cherrypick #3665 into main
  pkg/microservice/aslan/core/common/service/registry/service.go
Labels: service/aslan

#3666 cherrypick #3665
  pkg/microservice/aslan/core/common/service/registry/service.go
Labels: service/aslan

#3670 fix download artifact in vm deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3671 cherry pick #3670 to release 3.1.0
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3658 cherrypick #3359 on 2.1.0
  pkg/microservice/user/core/repository/mongodb/collaboration_instance.go
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/permission.go
Labels: service/aslan

#3668 add download artifact feature in scanning
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/handler/router.go
  pkg/microservice/aslan/core/workflow/testing/handler/scanning.go
  pkg/microservice/aslan/core/workflow/testing/handler/workspace.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/types.go
  pkg/microservice/aslan/core/workflow/testing/service/workspace.go
Labels: service/aslan

#3674 fix manual exec can't skip job
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3676 cherry pick #3674 to release 3.1.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan
