Repository koderover/zadig, pull requests merged in 2024-05, with the labels that each got.

#3434 add release plan template feature
  pkg/microservice/aslan/core/common/repository/models/release_plan_template.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan_template.go
  pkg/microservice/aslan/core/templatestore/handler/release_plan.go
  pkg/microservice/aslan/core/templatestore/handler/router.go
  pkg/microservice/aslan/core/templatestore/service/release_plan.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#3494 add rows affected in sql job
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_sql.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/setting/consts.go
Labels: service/aslan, common

#3508 remove debug log
  pkg/microservice/aslan/core/environment/service/revision.go
Labels: service/aslan

#3507 cannot skip approval in release plan
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3506 add get delete cluster info api
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3509 add schedule execute release plan feature
  pkg/cli/upgradeassistant/cmd/migrate/220.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/cronjob.go
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/cron/service/cronjob.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/lint.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/update.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/workflow/service/workflow/cronjob.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/types.go
  pkg/setting/consts.go
  pkg/util/strings.go
  pkg/util/time.go
Labels: service/aslan, service/cron, common

#3511 fix release plan approval content
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/release_plan/service/approval.html
Labels: service/aslan

#3512 fix production delivery version services order issue
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3513 optimize list delivery version performance
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#3515 add prometheus metrics
  pkg/microservice/aslan/server/rest/router.go
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, common

#3517 fix schedule execute release plan context deadline exceeded
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3519 fix slow execution api for release plan
  pkg/microservice/aslan/core/release_plan/service/execute.go
Labels: service/aslan

#3521 fix release plan cron not run
  pkg/microservice/aslan/core/common/repository/mongodb/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/aslan, service/cron

#3522 extend release plan default timeout
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3523 fix cron init existed job failed
  pkg/microservice/cron/core/service/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/cron

#3524 fix list active cron job
  pkg/microservice/aslan/core/cron/handler/cron.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/aslan, service/cron

#3525 fix NewInformer func panic
  pkg/tool/kube/informer/informer.go
Labels: common

#3528 disable concurrency for calculating system stats to avoid stuck
  pkg/microservice/aslan/core/stat/service/stat_v2.go
Labels: service/aslan

#3529 fix unable to list testing for project admins
  pkg/microservice/user/core/repository/orm/role.go
  pkg/microservice/user/core/service/permission/authz.go
Labels: service/aslan

#3527 fix not deleting template service when update host project env
  pkg/microservice/aslan/core/service/service/service.go
Labels: service/aslan

#3526 fix gitlab branches paginated
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/code/client/interface.go
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/tool/git/gitlab/branch.go
  pkg/tool/git/gitlab/client.go
Labels: service/aslan, common

#3530 add cluster status metrics
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/tool/metrics/prometheus.go
Labels: service/aslan, common

#3518 update openai model to gpt-4o
  go.mod
  go.sum
  pkg/microservice/aslan/core/log/service/ai/build.go
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
  pkg/microservice/aslan/core/stat/service/ai/types.go
  pkg/microservice/aslan/core/stat/service/stat_v2.go
  pkg/tool/llm/openai.go
Labels: service/aslan, common

#3532 Add cancel feature to bluking and jenkins job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blueking.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/tool/blueking/jobv3.go
  pkg/tool/blueking/types.go
  pkg/tool/blueking/utils.go
Labels: service/aslan, common

#3535 change default image rule
  pkg/microservice/aslan/core/common/service/service.go
Labels: service/aslan

#3533 add azure openai support
  pkg/microservice/aslan/core/code/service/repo.go
  pkg/microservice/aslan/core/common/repository/models/llm_integration.go
  pkg/microservice/aslan/core/common/repository/mongodb/llm_integration.go
  pkg/microservice/aslan/core/common/service/llm.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
  pkg/tool/cache/mem_cache.go
  pkg/tool/git/gitlab/branch.go
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
Labels: service/aslan, common

#3534 add create cluster openapi
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/openapi.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/server/rest/doc/docs.go
  pkg/microservice/aslan/server/rest/doc/swagger.json
  pkg/microservice/aslan/server/rest/doc/swagger.yaml
Labels: service/aslan

#3536 add redis cache in ai env analysis
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/tool/analysis/analysis.go
  pkg/tool/cache/icache.go
  pkg/tool/cache/redis_cache.go
Labels: service/aslan, common

#3537 fix env sleep cron not deleted after delete env or project
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/production_environment.go
  pkg/microservice/aslan/core/project/handler/product.go
  pkg/microservice/aslan/core/project/service/product.go
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
  pkg/microservice/aslan/core/stat/service/ai/stat_prompt.go
  pkg/microservice/aslan/core/stat/service/stat_calculator.go
Labels: service/aslan

#3538 remove running env sleep cron after delete
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/project/service/product.go
Labels: service/aslan
