Repository koderover/zadig, pull requests merged in 2025-04, with the labels that each got.

#4071 fix webhook trigger helm deploy job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#4072 cherry pick #4071 to release 3.3.0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
Labels: service/aslan

#4074 improve find operation log performance
  pkg/microservice/aslan/core/system/repository/mongodb/operation_log.go
Labels: service/aslan

#4078 fix can't reload template for production service
  pkg/microservice/aslan/core/service/service/template.go
Labels: service/aslan

#4080 fix can't change statefulset image in env
  pkg/shared/kube/wrapper/statefulset.go
Labels: common

#4081 cherry pick #4080 to release 3.3.0
  pkg/shared/kube/wrapper/statefulset.go
Labels: common

#4082 remove invalid tool java-17
  pkg/microservice/aslan/core/system/service/install.go
Labels: service/aslan

#4075 add get operation logs and sql job openapi
  go.mod
  go.sum
  pkg/microservice/aslan/core/system/handler/openapi.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#4076 add test result in notification
  pkg/microservice/aslan/core/common/repository/mongodb/custom_workflow_test_report.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/it_report.go
  pkg/microservice/aslan/core/workflow/testing/service/openapi.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
Labels: service/aslan

#4079 add rollback detail in environment
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/env_info.go
  pkg/microservice/aslan/core/common/repository/models/env_svc_version.go
  pkg/microservice/aslan/core/common/service/helm/helm.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/version.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_env.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/k8s.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4070 multi replicas support for hub server
  go.mod
  go.sum
  pkg/config/config.go
  pkg/microservice/aslan/core/environment/service/common_env_cfg_informer.go
  pkg/microservice/hubagent/core/service/client.go
  pkg/microservice/hubagent/server/server.go
  pkg/microservice/hubserver/core/service/cluster.go
  pkg/microservice/hubserver/core/service/service.go
  pkg/microservice/hubserver/core/service/types.go
  pkg/microservice/hubserver/server/rest/server.go
  pkg/microservice/hubserver/server/server.go
  pkg/setting/consts.go
  pkg/tool/cache/redis_cache.go
  pkg/tool/clientmanager/kube.go
  pkg/tool/remotedialer/client.go
  pkg/tool/remotedialer/server.go
Labels: service/aslan, service/hubserver, service/hubagent, common

#4085 fix helm environment data override when has concurrent updates
  pkg/microservice/aslan/core/common/service/helm/helm.go
Labels: service/aslan

#4086 cherry pick #4085 to release 3.3.0
  pkg/microservice/aslan/core/common/service/helm/helm.go
Labels: service/aslan

#4084 cherry pick #4068 to release 3.3.0
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/picket/core/filter/service/testing.go
Labels: service/aslan

#4087 fix update cluster storage
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#4088 cherry pick #4087 to release 3.3.0
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#4092 fix:update theme color.
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
Labels: service/aslan

#4093 add rollback detail for workflow
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4094 fix ua for build job
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_testing.go
Labels: service/aslan
