Repository koderover/zadig, pull requests merged in 2025-05, with the labels that each got.

#4095 add rollback detail for sql and nacos jobs
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4096 cherry pick #4095 to release 3.4.0
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4097 fix ua bug and workflow trigger job logic
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_workflow_trigger.go
Labels: service/aslan

#4098 cherrypick #4097
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_workflow_trigger.go
Labels: service/aslan

#4099 fix aws ecr support in delivery version
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4100 cherry pick #4099 to release 3.3.0
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4101 cherry pick #4099 to release 3.4.0
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4102 fix release plan time calculation
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/stat/service/release.go
Labels: service/aslan

#4103 cherrypick #4102
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/stat/service/release.go
Labels: service/aslan

#4104 fix referred repo in freestyle job
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
Labels: service/aslan

#4105 cherrypick #4104 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
Labels: service/aslan

#4108 fix wrong email sender bug
  pkg/microservice/aslan/core/common/service/instantmessage/mail.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/user/core/service/permission/user.go
  pkg/shared/client/systemconfig/email.go
Labels: service/aslan, common

#4109 cherrypick #4108
  pkg/microservice/aslan/core/common/service/instantmessage/mail.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_apollo.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_canary_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_custom_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_grafana.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_rollback.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_istio_release.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_k8s_patch.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/user/core/service/permission/user.go
  pkg/shared/client/systemconfig/email.go
Labels: service/aslan, common

#4113 fix service module name in k8s delivery version
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4114 cherry pick #4113 to release 3.2.1
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4117 cherry pick #4113 to release 3.4.0
  pkg/microservice/aslan/core/delivery/service/version.go
Labels: service/aslan

#4112 fix build job ssh key
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/aslan, service/reaper

#4118 cherry pick #4112 to release 3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/aslan, service/reaper

#4116 fix job status not correct in somecase
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#4119 cherry pick #4106 to release 3.4.0
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/system/handler/lark.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_approval.go
  pkg/setting/consts.go
  pkg/tool/lark/const.go
  pkg/tool/lark/contact.go
  pkg/tool/lark/model.go
  pkg/util/pointer.go
Labels: service/aslan, common

#4111 fix executing unwanted job in openAPI
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4120 cherrypick #4111 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4123 fix ssh type vm's label not correct in building
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/vm/service/vm.go
Labels: service/aslan

#4122 add reuse-values function for helm environment
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/helm/util.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4124 cherrypick #4122 into release-3.4.0
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/helm/util.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_sql.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_testing.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_vm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4125 cherry pick #4123 to release 3.4.0
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/vm/service/vm.go
Labels: service/aslan

#4121 support rollback for host project
  pkg/microservice/aslan/core/common/repository/models/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/version.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4126 cherry pick #4121 to release 3.4.0
  pkg/microservice/aslan/core/common/repository/models/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/version.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_blue_green_release_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/util/enviroment.go
  pkg/microservice/aslan/core/common/util/version.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4110 cherrypick #4108 into 3.3.0
  pkg/microservice/aslan/core/common/service/instantmessage/mail.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/user/core/service/permission/user.go
  pkg/shared/client/systemconfig/email.go
Labels: service/aslan, common

#4127 remove merge logic for gray rollback job
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_rollback.go
  pkg/microservice/hubagent/server/server.go
Labels: service/aslan, service/hubagent

#4128 cherrypick #4127 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_gray_rollback.go
  pkg/microservice/hubagent/server/server.go
Labels: service/aslan, service/hubagent

#4132 cherrypick #4131 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/workflow.go
Labels: service/aslan

#4130 add change name feature in load service from code host
  pkg/microservice/aslan/core/service/handler/loader.go
  pkg/microservice/aslan/core/service/handler/router.go
  pkg/microservice/aslan/core/service/service/loader.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#4135 fix k8s reload service webhook in 3.4.0
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#4138 fix aggregated variable SERVICES for deploy job
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
Labels: service/aslan

#4139 cherrypick #4138 into release-3.4.0
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
Labels: service/aslan

#4142 fix panic problem when tls certificate is configured
  pkg/tool/registries/dind.go
Labels: common

#4144 cherrypick #4142 into release-3.4.0
  pkg/tool/registries/dind.go
Labels: common

#4146 cherrypick 4145 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_distribute_image.go
Labels: service/aslan

#4129 add connection check
  Makefile
  docker/aslan.Dockerfile
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/llm.go
  pkg/microservice/aslan/core/common/service/llm_test.go
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/multicluster/handler/clusters.go
  pkg/microservice/aslan/core/multicluster/handler/router.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/microservice/aslan/core/system/handler/helm.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/microservice/aslan/core/system/handler/private_key.go
  pkg/microservice/aslan/core/system/handler/registry.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/handler/s3.go
  pkg/microservice/aslan/core/system/handler/sae.go
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/microservice/aslan/core/system/service/llm.go
  pkg/microservice/aslan/core/system/service/private_key.go
  pkg/microservice/aslan/core/system/service/registry.go
  pkg/microservice/aslan/core/system/service/s3.go
  pkg/microservice/systemconfig/core/codehost/handler/codehost.go
  pkg/microservice/systemconfig/core/codehost/handler/router.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
  pkg/microservice/systemconfig/core/email/handler/email.go
  pkg/microservice/systemconfig/core/email/handler/router.go
  pkg/microservice/systemconfig/core/email/service/email.go
  pkg/tool/workwx/client.go
  pkg/tool/workwx/department.go
  pkg/tool/workwx/oa.go
  pkg/tool/workwx/user.go
  pkg/tool/workwx/validate.go
Labels: service/aslan, common

#4134 upgrade go to 1.24.1 in dockerfile
  debug/golang-debug.Dockerfile
  docker/aslan.Dockerfile
  docker/cron.Dockerfile
  docker/executor.Dockerfile
  docker/hub-agent.Dockerfile
  docker/hub-server.Dockerfile
  docker/init.Dockerfile
  docker/jenkins-plugin.Dockerfile
  docker/packager-plugin.Dockerfile
  docker/predator-plugin.Dockerfile
  docker/resource-server.Dockerfile
  docker/ua.Dockerfile
  docker/user.Dockerfile
  docker/warpdrive.Dockerfile
  pkg/microservice/aslan/core/workflow/service/workflow/plugins/jira-updater/v0.0.1/Dockerfile
Labels: service/aslan

#4141 add revert apollo job feature
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan
