Repository koderover/zadig, pull requests merged in 2025-08, with the labels that each got.

#4231 support delivery version var and list by label in deploy job
  pkg/cli/upgradeassistant/cmd/migrate/350.go
  pkg/microservice/aslan/core/common/repository/models/delivery_version_v2.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version_v2.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/openapi.go
  pkg/microservice/aslan/core/delivery/service/version_v2.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
Labels: service/aslan

#4230 add agent scheduling options
  pkg/microservice/aslan/core/common/repository/models/k8s_cluster.go
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#4234 change gitlab & gitee logic
  pkg/microservice/aslan/core/code/client/gitee/gitee.go
  pkg/microservice/aslan/core/code/client/gitee/gitee_ee.go
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/aslan, service/reaper

#4228 support pingcode job
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/project_management.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/project_management.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_pingcode.go
  pkg/microservice/aslan/core/system/handler/pingcode.go
  pkg/microservice/aslan/core/system/handler/project_management.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/pingcode.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/interface.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_pingcode.go
  pkg/setting/consts.go
  pkg/tool/pingcode/client.go
  pkg/tool/pingcode/types.go
  pkg/util/json.go
Labels: service/aslan, common

#4233 support all config in apollo job's namespace config
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_apollo.go
Labels: service/aslan

#4240 add collaboration instance ua for 400
  pkg/cli/upgradeassistant/cmd/migrate/400.go
  pkg/cli/upgradeassistant/internal/repository/models/migration.go
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
Labels: service/aslan

#4236 add list by label in delivery version
  pkg/microservice/aslan/core/common/repository/mongodb/delivery_version_v2.go
  pkg/microservice/aslan/core/delivery/handler/router.go
  pkg/microservice/aslan/core/delivery/handler/version.go
  pkg/microservice/aslan/core/delivery/service/version_v2.go
Labels: service/aslan

#4250 fix user struct's last_login_time issue
  pkg/microservice/user/core/repository/models/user.go
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#4249 cherry pick #4248 to release 3.4.1
  pkg/microservice/aslan/core/common/service/instantmessage/msteams.go
Labels: service/aslan

#4256 fix new collaboration workflow key illegal
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
Labels: service/aslan

#4254 plugin feature for idp
  pkg/microservice/aslan/core/common/repository/models/plugin.go
  pkg/microservice/aslan/core/common/repository/mongodb/plugin.go
  pkg/microservice/aslan/core/system/handler/plugin.go
  pkg/microservice/aslan/core/system/handler/router.go
  pkg/microservice/aslan/core/system/service/plugin.go
  pkg/tool/errors/http_errors.go
Labels: service/aslan, common

#4266 add value merge strategy compatibility in openAPI
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan

#4269 fix can't ssh clone codeup repo on vm
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/microservice/systemconfig/core/codehost/service/codehost.go
Labels: service/aslan

#4271 add limit logic and change some logic
  pkg/microservice/aslan/core/common/repository/models/custom_navigation.go
  pkg/microservice/aslan/core/common/util/validate.go
  pkg/microservice/aslan/core/system/handler/custom_navigation.go
Labels: service/aslan
