Repository koderover/zadig, pull requests merged in 2025-01, with the labels that each got.

#3935 fix merge override values order for helm service
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3936 cherry pick #3935 to release 3.2.0
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3933 show project display name in notification
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
Labels: service/aslan

#3931 fix project list's env count
  pkg/microservice/aslan/core/project/service/project.go
Labels: service/aslan

#3928 add rollback in deploy stats
  pkg/microservice/aslan/core/common/repository/mongodb/env_info.go
  pkg/microservice/aslan/core/stat/repository/models/deploy_stat_weekly.go
  pkg/microservice/aslan/core/stat/service/deploy_stat_v2.go
Labels: service/aslan

#3938 add role query to list users
  pkg/microservice/user/core/repository/orm/user.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#3940 fix production sse log authorization problem
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
Labels: service/aslan

#3943 fix empty remark after create workflow task
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#3944 change get build detail openAPI logic
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/service/openapi.go
Labels: service/aslan

#3946 fix panic if image not empty and not rednered in notification
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3945 cherrypick #3944
  pkg/microservice/aslan/core/build/handler/openapi.go
  pkg/microservice/aslan/core/build/service/openapi.go
Labels: service/aslan

#3948 cherry pick #3946 to 3.2.0-20241212
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
Labels: service/aslan

#3949 cherry pick #3916 to release 3.2.0-20241212
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
Labels: service/aslan

#3937 v3.2.1
  go.mod
  go.sum
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/cronjob.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
  pkg/microservice/aslan/core/common/service/cronjob.go
  pkg/microservice/aslan/core/cron/handler/cron.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/types.go
  pkg/setting/consts.go
Labels: service/aslan, service/cron, common

#3951 cherry pick #3937 to release 3.2.1
  go.mod
  go.sum
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/cronjob.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
  pkg/microservice/aslan/core/common/service/cronjob.go
  pkg/microservice/aslan/core/cron/handler/cron.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/cron/core/service/cronjob.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
  pkg/microservice/cron/core/service/scheduler/schedule_env.go
  pkg/microservice/cron/core/service/scheduler/schedule_env_update.go
  pkg/microservice/cron/core/service/scheduler/schedule_workflow.go
  pkg/microservice/cron/core/service/scheduler/scheduler.go
  pkg/microservice/cron/core/service/types.go
  pkg/setting/consts.go
Labels: service/aslan, service/cron, common

#3952 create log before execute release plan job
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3953 cherry pick #3952 to release 3.2.1
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3947 fix gitee list project with chinese name
  pkg/microservice/aslan/core/code/client/gitee/gitee.go
  pkg/tool/gitee/repositories.go
Labels: service/aslan, common

#3954 fix 321 ua
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/aslan, service/cron

#3955 cherry pick #3954 to main
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/cron/core/service/scheduler/cronjob_handler.go
Labels: service/aslan, service/cron

#3956 revert #3908 #3935 in release 3.2.1
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3957 improve 321 ua performance
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
Labels: service/aslan

#3958 cherry pick #3957 to release 3.2.1
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
Labels: service/aslan

#3915 support transfer in approval job
  go.mod
  go.sum
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/approval/approval.go
  pkg/microservice/aslan/core/common/service/lark/lark.go
  pkg/microservice/aslan/core/common/service/lark/webhook.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/common/util/workflow.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/cron/core/service/types.go
  pkg/tool/dingtalk/approval.go
  pkg/tool/lark/approval.go
Labels: service/aslan, service/cron, common

#3942 enable non-production env in blue green deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_blue_green_deploy_v2.go
Labels: service/aslan

#3960 adding workflow parameters to build,test,scanning
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_testing.go
Labels: service/aslan

#3968 cherrypick #3967
  pkg/microservice/aslan/core/build/service/openapi.go
Labels: service/aslan

#3970 add alias field for production env in some feature
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/project/service/bizdir.go
  pkg/microservice/aslan/core/system/service/dashboard.go
  pkg/microservice/aslan/core/system/service/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3966 fix incorrect err log
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/microservice/aslan/core/common/service/command/git_cmd.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
  pkg/microservice/reaper/core/service/reaper/git.go
Labels: service/aslan, service/reaper

#3971 fix job task name in vm deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_vm_deploy.go
Labels: service/aslan

#3965 recreate dind if immutable field is changed
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3939 support view workflow task parameters
  pkg/microservice/aslan/core/sprint_management/service/sprint_workitem.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3950 enable fromjob source for deploy job variable
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/render.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/util/yaml.go
Labels: service/aslan, common

#3967 fix a bug where user cannot get build parameter from template
  pkg/microservice/aslan/core/build/service/openapi.go
Labels: service/aslan

#3924 add redis pub/sub mechanism for replica sync
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/service.go
  pkg/setting/consts.go
  pkg/tool/eventbus/redis/client.go
Labels: service/aslan, common

#3980 delete dind's pvc after recreation of dind
  pkg/microservice/aslan/core/multicluster/service/clusters.go
Labels: service/aslan

#3979 fix approval notification and phone check
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3978 fix field not being updated problem on usergroup
  pkg/microservice/user/core/repository/orm/user_group.go
Labels: service/aslan

#3977 remove docker login in freestyle job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_freestyle.go
Labels: service/aslan

#3975 add remark handling for workflow in release plan
  pkg/microservice/aslan/core/release_plan/service/execute.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3974 fix bug on monthly deploy stat
  pkg/microservice/aslan/core/stat/repository/mongodb/deploy_stat_monthly.go
  pkg/microservice/aslan/core/stat/service/deploy_stat_v2.go
  pkg/microservice/cron/core/service/client/stat.go
Labels: service/aslan, service/cron

#3976 fix a problem where multiselect param won't have its quoted param info
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_build.go
Labels: service/aslan

#3973 API to revert nacos job
  pkg/cli/initconfig/cmd/init.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_task_revert.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_revert.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_nacos.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/tool/nacos/client.go
  pkg/types/nacos.go
Labels: service/aslan, common
