Repository koderover/zadig, pull requests merged in 2025-09, with the labels that each got.

#4273 fix can't search gitee project
  pkg/microservice/aslan/core/code/client/gitee/gitee_ee.go
  pkg/tool/gitee/repositories.go
Labels: service/aslan, common

#4279 fix list pingcode workitems by project id
  pkg/tool/pingcode/client.go
Labels: common

#4284 add status in pingcode job's workitem
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_pingcode.go
  pkg/tool/pingcode/client.go
Labels: service/aslan, common

#4261 add release plan hook feature
  pkg/cli/upgradeassistant/cmd/migrate/321.go
  pkg/microservice/aslan/config/consts.go
  pkg/microservice/aslan/core/common/repository/models/release_plan.go
  pkg/microservice/aslan/core/common/repository/models/settings.go
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
  pkg/microservice/aslan/core/common/service/webhooknotify/client.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
  pkg/microservice/aslan/core/release_plan/handler/release_plan.go
  pkg/microservice/aslan/core/release_plan/handler/router.go
  pkg/microservice/aslan/core/release_plan/service/openapi.go
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
  pkg/microservice/aslan/core/release_plan/service/watcher.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/workflow.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/microservice/user/core/handler/permission/role.go
  pkg/microservice/user/core/init/action_initialization.sql
  pkg/microservice/user/core/service/permission/authz.go
  pkg/microservice/user/core/service/permission/types.go
  pkg/setting/consts.go
  pkg/shared/client/user/user_auth.go
Labels: service/aslan, common

#4276 add filter by status feature for tapd
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/system/handler/tapd.go
  pkg/microservice/aslan/core/system/service/tapd.go
  pkg/tool/tapd/client.go
Labels: service/aslan, common

#4291 cherry pick #4290 to release 4.0.0-20250915
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#4292 fix filter field name mismatch
  pkg/microservice/aslan/core/application/service/application.go
  pkg/microservice/aslan/core/system/service/custom_navigation.go
Labels: service/aslan

#4294 fix plutus navigation menu error
  pkg/microservice/aslan/core/system/handler/custom_navigation.go
Labels: service/aslan

#4295 fix pvc name length > 63
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/multicluster/service/clusters.go
  pkg/util/strings.go
Labels: service/aslan, common

#4298 cherrypick #4297 into 4.0.0-20250915
  pkg/microservice/aslan/core/system/service/plugin.go
Labels: service/aslan

#4301 fix gitlab webhook comment type
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
Labels: service/aslan

#4304 improve vm deploy job's DockerRegistryID
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_vm_deploy.go
Labels: service/aslan

#4306 fix ARTIFACT variable in shell script
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_shell.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/delivery/service/version_v2.go
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/dynamic_variable.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/aslan, service/reaper

#4309 cherry pick #4306 to release 4.0.0 20250915
  pkg/cli/zadig-agent/internal/agent/step/archive/step_tar_archive.go
  pkg/cli/zadig-agent/internal/agent/step/git/step_git.go
  pkg/cli/zadig-agent/internal/agent/step/script/step_shell.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/delivery/service/version_v2.go
  pkg/microservice/aslan/core/system/service/helm.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_scanning_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/dynamic_variable.go
  pkg/microservice/jobexecutor/core/service/step/step_git.go
Labels: service/aslan, service/reaper

#4308 fix get docker host panic when dind replica is 0
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_freestyle.go
Labels: service/aslan

#4310 support fixed zadig approval in create workflow task openapi
  pkg/microservice/aslan/core/release_plan/handler/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
Labels: service/aslan
