Repository koderover/zadig, pull requests merged in 2025-03, with the labels that each got.

#4014 add rollback workflow deploy job feature
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_revert.go
  pkg/microservice/aslan/core/common/service/version.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/environment/handler/version.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4029 cherry pick #4026 to release 3.3.0
  pkg/microservice/aslan/core/environment/service/version.go
Labels: service/aslan

#4018 fix get test report in workflow task when status is unstable or wait for manual error handling
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4030 cherrypick #4027
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#4033 fix cancel workflow task parameter for openAPI
  pkg/microservice/aslan/core/workflow/handler/openapi.go
Labels: service/aslan

#4034 cherrypick #4033
  pkg/microservice/aslan/core/workflow/handler/openapi.go
Labels: service/aslan

#4037 fix list storage class bug
  pkg/microservice/aslan/core/multicluster/service/cache.go
  pkg/microservice/user/core/handler/permission/role_binding.go
Labels: service/aslan

#3987 add ms teams notification
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/instantmessage/msteams.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_jenkins.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_notification.go
  pkg/setting/consts.go
Labels: service/aslan, common

#4028 improve helm service rollback diff
  pkg/microservice/aslan/core/common/service/version.go
Labels: service/aslan

#4046 fix image not change when deploy deploy svc first time
  pkg/microservice/aslan/core/common/service/helm/helm.go
Labels: service/aslan

#4031 improve search user openapi and add workflow job container log openapi
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#4042 fix can't delete env if cluster not connect
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#4043 add get user openapi
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#4050 fix the pagination issue of the codehost/:codehostId/tags interface
  pkg/microservice/aslan/core/code/service/tag.go
Labels: service/aslan

#4035 improve release plan performance
  pkg/microservice/aslan/core/common/repository/mongodb/release_plan.go
Labels: service/aslan

#4048 fix dynmaic variable when job is after a manual exec job
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4051 improve dynmaic variable in clone workflow task
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4047 cherry pick #4046 to release 3.3.0
  pkg/microservice/aslan/core/common/service/helm/helm.go
Labels: service/aslan

#4053 cherry pick #4048 #4051 to release 3.3.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4054 fix helm diff preview when has subchart
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#4055 fix update service template webhook
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#4057 cherry pick #4055 to release 3.3.0
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#4058 cherry pick #4043 #4031 to release 3.3.0
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/log/handler/log.go
  pkg/microservice/aslan/core/log/handler/router.go
  pkg/microservice/aslan/core/log/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/user/core/handler/router.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#4059 cherry pick #4042 to release 3.3.0
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#4067 cherry pick #4064 to main
  pkg/tool/httpclient/client.go
Labels: common

#4066 add helm deploy workload check
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4068 fix performance issue in list testing api
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/picket/core/filter/service/testing.go
Labels: service/aslan

#4062 improve api security
  pkg/microservice/aslan/core/common/service/kube/service.go
  pkg/microservice/aslan/core/common/service/registry.go
  pkg/microservice/hubagent/server/server.go
  pkg/microservice/user/core/handler/user/user.go
  pkg/microservice/user/core/service/login/token.go
  pkg/microservice/user/core/service/permission/authn.go
  pkg/microservice/user/server/grpc/server.go
  pkg/shared/client/aslan/registries.go
Labels: service/aslan, service/hubagent, common

#4060 improve operation log performance
  pkg/microservice/aslan/core/common/repository/mongodb/vm/vm_job.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/system/repository/mongodb/operation_log.go
  pkg/shared/client/aslan/system.go
Labels: service/aslan, common
