Repository koderover/zadig, pull requests merged in 2025-07, with the labels that each got.

#4195 support codehost tag regular match
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
  pkg/microservice/aslan/core/code/service/repo.go
Labels: service/aslan

#4198 change statsfulset deploy ready check logic
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
Labels: service/aslan

#4148 migrate workflow v4 hook data to new table
  pkg/cli/upgradeassistant/cmd/migrate/220.go
  pkg/cli/upgradeassistant/cmd/migrate/340.go
  pkg/cli/upgradeassistant/cmd/migrate/341.go
  pkg/cli/upgradeassistant/internal/repository/models/migration.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4_general_hook.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4_git_hook.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4_jira_hook.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4_meego_hook.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4_general_hook.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4_git_hook.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4_jira_hook.go
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_v4_meego_hook.go
  pkg/microservice/aslan/core/common/service/gerrit/gerrit.go
  pkg/microservice/aslan/core/common/service/workflow.go
  pkg/microservice/aslan/core/common/service/workflow_v4.go
  pkg/microservice/aslan/core/system/service/project_management.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/jobexecutor/core/service/step/step_junit_report.go
Labels: service/aslan, service/reaper

#4197 support nacos ee mse
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/configuration_management.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/configuration_management.go
  pkg/microservice/aslan/core/common/service/nacos.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_nacos.go
  pkg/microservice/aslan/core/system/handler/configuration_management.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_nacos.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/setting/consts.go
  pkg/tool/nacos/iclient.go
  pkg/tool/nacos/nacos2_client.go
  pkg/tool/nacos/nacos_ee_mse_client.go
  pkg/tool/nacos/types.go
Labels: service/aslan, common

#4200 remove unecessary code & update config
  pkg/cli/upgradeassistant/cmd/migrate/200.go
  pkg/cli/upgradeassistant/cmd/migrate/210.go
  pkg/cli/upgradeassistant/cmd/migrate/220.go
  pkg/cli/upgradeassistant/cmd/migrate/230.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/aslan/core/common/service/config_payload.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
  pkg/microservice/aslan/core/delivery/service/version.go
  pkg/microservice/aslan/core/environment/service/pm.go
  pkg/microservice/aslan/core/service.go
  pkg/microservice/aslan/core/system/service/concurrency.go
  pkg/microservice/aslan/core/workflow/handler/build.go
  pkg/microservice/aslan/core/workflow/handler/openapi.go
  pkg/microservice/aslan/core/workflow/handler/pipeline.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_status.go
  pkg/microservice/aslan/core/workflow/handler/pipeline_task.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/service_task.go
  pkg/microservice/aslan/core/workflow/handler/sse.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/handler/workflow.go
  pkg/microservice/aslan/core/workflow/handler/workflow_task.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gerrit_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitee_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/github_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/artifact_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_scanning.go
  pkg/microservice/aslan/core/workflow/service/workflow/convert.go
  pkg/microservice/aslan/core/workflow/service/workflow/gerrit.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/aslan/core/workflow/service/workflow/openapi.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_cleaner.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_controller.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_queue.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_status.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/pipeline_validation.go
  pkg/microservice/aslan/core/workflow/service/workflow/service_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/sse.go
  pkg/microservice/aslan/core/workflow/service/workflow/types.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
  pkg/microservice/aslan/core/workflow/testing/service/scanning.go
  pkg/microservice/aslan/core/workflow/testing/service/test_task.go
  pkg/microservice/aslan/core/workflow/testing/service/testing.go
  pkg/microservice/aslan/server/rest/router.go
  pkg/setting/consts.go
Labels: service/aslan, common

#4201 fix workflow remark in approval job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
Labels: service/aslan

#4207 cherry pick #4206 to release 3.4.1
  pkg/cli/upgradeassistant/cmd/migrate/341.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_vm_deploy.go
Labels: service/aslan

#4208 add custom approval message setting for approval job
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_approval.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/workflow.go
Labels: service/aslan

#4202 support sync values for helm service which created from template
  pkg/microservice/aslan/core/common/repository/models/service.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/handler/webhook.go
  pkg/microservice/aslan/core/workflow/service/webhook/github.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
Labels: service/aslan

#4218 fix create helm service when create from template
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#4219 cherry pick #4218 to release 3.4.1
  pkg/microservice/aslan/core/service/service/helm.go
Labels: service/aslan

#4215 fix aws registry can't select images
  pkg/microservice/aslan/core/common/service/registry/service.go
  pkg/microservice/aslan/core/system/service/registry.go
Labels: service/aslan

#4217 fix helm values preview logic
  pkg/microservice/aslan/core/environment/service/environment.go
Labels: service/aslan

#4221 support docker buildkit in build
  pkg/cli/zadig-agent/internal/agent/step/docker/step_docker_build.go
  pkg/microservice/aslan/config/config.go
  pkg/microservice/aslan/core/common/repository/models/build.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_build.go
  pkg/microservice/jobexecutor/core/service/step/step_docker_build.go
  pkg/setting/consts.go
  pkg/tool/nacos/nacos3_client.go
  pkg/types/step/step_docker_build.go
Labels: service/aslan, service/reaper, common

#4212 delete collaboration mode's user after it deleted from system
  pkg/microservice/aslan/core/collaboration/repository/models/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_instance.go
  pkg/microservice/aslan/core/collaboration/repository/mongodb/collaboration_mode.go
  pkg/microservice/aslan/core/collaboration/service/collaboration_instance.go
  pkg/microservice/user/core/repository/mongodb/collaboration_instance.go
  pkg/microservice/user/core/service/permission/user.go
Labels: service/aslan

#4225 cherry pick #4210 #4223 to release 3.4.1
  pkg/microservice/aslan/core/common/repository/mongodb/configuration_management.go
  pkg/microservice/aslan/core/system/service/configuration_management.go
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_nacos.go
  pkg/setting/consts.go
  pkg/tool/nacos/iclient.go
  pkg/tool/nacos/nacos1_client.go
  pkg/tool/nacos/nacos3_client.go
  pkg/tool/nacos/nacos_ee_mse_client.go
Labels: service/aslan, common

#4223 fix nacos mse concurrent limit
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_nacos.go
  pkg/tool/nacos/nacos1_client.go
  pkg/tool/nacos/nacos3_client.go
  pkg/tool/nacos/nacos_ee_mse_client.go
Labels: service/aslan, common

#4227 add multiple llm model provider
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
Labels: common
