Repository koderover/zadig, pull requests merged in 2025-06, with the labels that each got.

#4147 change the condition about the distribute image job's parameter
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_distribute_image.go
Labels: service/aslan

#4149 fix notification not update when workflow is triggered by timer/webhook
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4153 fix missing field in lark approval job spec
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#4158 cherry pick #4133 to release 3.4.0
  pkg/microservice/aslan/core/common/service/instantmessage/mail.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
  pkg/microservice/aslan/core/release_plan/service/approval.go
  pkg/microservice/user/core/service/permission/user.go
  pkg/shared/client/systemconfig/email.go
  pkg/tool/mail/mail.go
Labels: service/aslan, common

#4160 fix docker in docker mounting problem when tls certificate is configured
  pkg/tool/registries/dind.go
Labels: common

#4161 add disable ssl option for gitlab
  pkg/microservice/aslan/core/code/client/gitlab/gitlab.go
  pkg/microservice/aslan/core/common/service/fs/git.go
  pkg/microservice/aslan/core/common/service/gitlab/client.go
  pkg/microservice/aslan/core/common/service/scmnotify/client.go
  pkg/microservice/aslan/core/common/service/webhook/client.go
  pkg/microservice/aslan/core/common/service/webhook/controller.go
  pkg/microservice/aslan/core/service/service/new_loader.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflow_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/gitlab_workflowv4_task.go
  pkg/microservice/aslan/core/workflow/service/webhook/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/nsq_handlers.go
  pkg/microservice/systemconfig/core/codehost/repository/models/codehost.go
  pkg/microservice/systemconfig/core/codehost/repository/mongodb/codehost.go
  pkg/shared/client/systemconfig/codehost.go
  pkg/tool/git/gitlab/client.go
  pkg/types/repo.go
Labels: service/aslan, common

#4168 fix merge problem when the param source is ref
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
Labels: service/aslan

#4169 cherrypick #4168 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/utils.go
Labels: service/aslan

#4170 cherrypick #4167 into release-3.4.0
  pkg/microservice/aslan/core/common/service/instantmessage/service.go
Labels: service/aslan

#4172 fix check pod status in helm deploy job
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#4173 cherry pick #4172 to release 3.4.0
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#4174 cherry pick #4172 to private 3.4.0
  pkg/microservice/aslan/core/common/service/kube/apply.go
Labels: service/aslan

#4176 feat:update default custom color.
  pkg/microservice/aslan/core/common/repository/mongodb/settings.go
Labels: service/aslan

#4182 remove getting history in nacos job
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_nacos.go
Labels: service/aslan

#4181 fix manual execution parameter not rendered problem
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4187 cherrypick #4181 into release-3.4.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4185 fix service account not correct in local cluster
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/kubernetes.go
Labels: service/aslan

#4186 clean share storage only when workflow task status is passed
  pkg/microservice/aslan/core/common/service/workflowcontroller/workflow.go
Labels: service/aslan

#4189 fix deploy job's SERVICES variable not available
  pkg/microservice/aslan/core/workflow/service/workflow/controller/job/job_deploy.go
Labels: service/aslan

#4180 improve notification content
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/webhooknotify/types.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_approval.go
Labels: service/aslan

#4190 support system role binding for user group
  pkg/microservice/user/core/handler/user/user_group.go
  pkg/microservice/user/core/repository/orm/role.go
  pkg/microservice/user/core/service/permission/role.go
  pkg/microservice/user/core/service/permission/user.go
  pkg/microservice/user/core/service/permission/user_group.go
  pkg/types/user.go
Labels: service/aslan

#4193 fix check statefulset deploy status
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_deploy.go
Labels: service/aslan
