Repository koderover/zadig, pull requests merged in 2025-02, with the labels that each got.

#3981 fix loading service from codehost will have invalid empty yaml
  pkg/util/yaml.go
Labels: common

#3982 fix deploy job parameter quote with chinese character problem
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#3983 use current workflow notification setting when cloning a workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3984 fix match branches list api
  pkg/microservice/aslan/core/code/handler/codehost.go
  pkg/microservice/aslan/core/code/handler/router.go
Labels: service/aslan

#3986 add variable outputs
  pkg/microservice/aslan/core/workflow/service/workflow/job/job.go
Labels: service/aslan

#3962 improve helm variables logic
  pkg/cli/upgradeassistant/cmd/migrate/330.go
  pkg/microservice/aslan/core/common/repository/models/product.go
  pkg/microservice/aslan/core/common/repository/models/template/product.go
  pkg/microservice/aslan/core/common/repository/models/wokflow_task_v4.go
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/repository/mongodb/env_svc_version.go
  pkg/microservice/aslan/core/common/service/environment.go
  pkg/microservice/aslan/core/common/service/helm/helm.go
  pkg/microservice/aslan/core/common/service/kube/apply.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/common/service/render.go
  pkg/microservice/aslan/core/common/service/render/renderset.go
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_chart_deploy.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_helm_deploy.go
  pkg/microservice/aslan/core/common/util/helm.go
  pkg/microservice/aslan/core/common/util/openapi.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/environment/service/environment.go
  pkg/microservice/aslan/core/environment/service/environment_creation.go
  pkg/microservice/aslan/core/environment/service/environment_update.go
  pkg/microservice/aslan/core/environment/service/image.go
  pkg/microservice/aslan/core/environment/service/renderset.go
  pkg/microservice/aslan/core/environment/service/version.go
  pkg/microservice/aslan/core/service/service/helm.go
  pkg/microservice/aslan/core/workflow/handler/router.go
  pkg/microservice/aslan/core/workflow/handler/workflow_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_offline_service.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/utils.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3988 add rollback logic for sql job
  pkg/microservice/aslan/core/common/repository/mongodb/workflow_task_revert.go
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#3959 [feature] support cloneset resource
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/service/service.go
  pkg/microservice/aslan/core/common/util/service.go
  pkg/microservice/aslan/core/environment/service/export.go
  pkg/microservice/aslan/core/environment/service/service.go
  pkg/setting/consts.go
  pkg/shared/kube/wrapper/apireference.go
  pkg/shared/kube/wrapper/cloneset.go
  pkg/tool/analysis/analysis.go
  pkg/tool/analysis/ianalyzer.go
  pkg/tool/clientmanager/kube.go
  pkg/tool/kube/client/cluster.go
  pkg/tool/kube/updater/cloneset.go
Labels: service/aslan, common

#3989 fix github search branch in code info api
  pkg/microservice/aslan/core/code/client/github/github.go
Labels: service/aslan

#3990 fix workflow hash calculate problem
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_v4.go
Labels: service/aslan

#3991 fix helm chart deploy preview in workflow v4
  pkg/microservice/aslan/core/common/repository/models/workflow_v4.go
  pkg/microservice/aslan/core/common/service/kube/helm.go
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_helm_chart_deploy.go
  pkg/tool/helmclient/helmclient.go
Labels: service/aslan, common

#3992 change dingtalk notification link so it could be opened in browser
  pkg/microservice/aslan/core/common/service/instantmessage/dingTalk.go
  pkg/microservice/aslan/core/common/service/instantmessage/workflow_task.go
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job_notification.go
Labels: service/aslan

#3993 support deepseek
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/llm_integration.go
  pkg/microservice/aslan/core/common/service/llm.go
  pkg/microservice/aslan/core/common/service/llm_test.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/log/service/ai/build.go
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/tool/analysis/analysis.go
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
Labels: service/aslan, common

#3997 cherry pick #3993 to release 3.3.0
  go.mod
  go.sum
  pkg/microservice/aslan/core/common/repository/models/llm_integration.go
  pkg/microservice/aslan/core/common/service/llm.go
  pkg/microservice/aslan/core/common/service/llm_test.go
  pkg/microservice/aslan/core/environment/handler/environment.go
  pkg/microservice/aslan/core/log/service/ai/build.go
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
  pkg/microservice/aslan/core/system/handler/llm.go
  pkg/tool/analysis/analysis.go
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
Labels: service/aslan, common

#3999 remove debug log
  pkg/tool/llm/openai.go
Labels: common

#4000 cherry pick #3999 to release 3.3.0
  pkg/tool/llm/openai.go
Labels: common

#4003 fix deploy job panic when service contains init container
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#4004 cherry pick #4003 to release 3.3.0
  pkg/microservice/aslan/core/common/service/kube/render.go
Labels: service/aslan

#4001 improve ai analysis
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
Labels: service/aslan

#4008 cherry #4001 to release 3.3.0
  pkg/microservice/aslan/core/stat/service/ai/ai_analysis.go
Labels: service/aslan

#4007 fix release plan workflow set options error
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#4009 cherrypick #4007
  pkg/microservice/aslan/core/release_plan/service/release_plan.go
Labels: service/aslan

#3994 Scan for new service module for existing service in deploy job
  pkg/microservice/aslan/core/workflow/service/workflow/job/job_deploy.go
Labels: service/aslan

#4006 update env analysis prompt
  pkg/tool/analysis/analysis.go
Labels: common

#4011 add SiliconFlow deepseek integration
  pkg/tool/llm/illm.go
  pkg/tool/llm/openai.go
Labels: common

#4015 fix job retry loop problem
  pkg/microservice/aslan/core/common/service/workflowcontroller/jobcontroller/job.go
Labels: service/aslan

#4013 cherrypick #4006
  pkg/tool/analysis/analysis.go
Labels: common

#4019 fix sonar link incorrect in workflow
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan

#4020 cherry pick #4019 to release 3.3.0
  pkg/microservice/aslan/core/workflow/service/workflow/workflow_task_v4.go
Labels: service/aslan
